/* Reset
-------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

/*ol, ul {
  list-style: none;
}*/

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* Helpers
-------------------------------------------------------------------------------*/

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }
.right { float: right; }
.left { float: left; }
.nobr {white-space: nowrap} 
.right-align {text-align: right; }


/* Layout
-------------------------------------------------------------------------------*/

html, body {
  
}

body, input, textarea {
  font: normal 14px/20px 'Open Sans',Arial,sans-serif;
  font-weight: 400;
  color: #444;
}

html {
  margin: 0; padding: 0; 
  -webkit-font-smoothing: antialiased;
}

img { border: none; }

body {
  min-width: 1200px;
  font-size: 14px;
  margin: 0; padding: 0;
  background: #F0F1EB;
  color:#444;
  line-height:1.5em;
}

a {
  text-decoration:none;
  color: #51483D;
  padding: 0 0 1px 0;
}

a:hover {
  color: #000;
}

p { margin: 0 0 10px 0; }

p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 { padding: 10px 0 5px 0; }
h3, h4, h5, h6 { padding-top: 20px; }
h2 { font-size: 160%; padding-bottom: 15px; }


#container {
  position:relative;
  width: 800px;
}


/* Testsuites
-------------------------------------------------------------------------------*/

.testsuites {
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  font-size: 11px;
  font-weight: bold;
}

/* History
-------------------------------------------------------------------------------*/

.operations {
  margin-top: 1px;
  background: rgba(0, 0, 0, 0.1);
  height: 16px;
  overflow: auto;
}

.operations .operation {
  display: block;
  width: 10px;
  height: 15px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  background: rgba(0,0,0, 0.2);
}

.operations .operation.applied {
  background: #69CA14;
}

/* Console
-------------------------------------------------------------------------------*/

.console-wrapper {
  background: red; 
}

.console {
  margin-top: 10px;
  float: left;
  width: 400px;
}

.console .action {
  overflow:auto;
}

.console .scope {
  padding-left: 5px;
  line-height: 30px;
  height: 30px;
  width: 370px;
  background: rgba(0,0,0, 0.1);
  font-size: 11px;
  font-weight: bold;
}

textarea {
  background: white;
  font-family: 'Source Code Pro';
  font-size: 13px;
  border: none;
}

.console textarea {
  padding: 10px;
  width: 370px;
  height: 450px;
  margin: 0;
}

.console textarea.inactive {
  background: #DEDFDA;
}

.console .apply-operation {
  display: block;
  width: 370px;
  border-radius: 3px;
  line-height: 45px;
  height: 45px;
  text-align: center;
  font-weight: bold;
  background: rgba(0,0,0, 0.1);
  color: #aaa;
}

.console .apply-operation.active {
  cursor: pointer;
  color: white;
  background: #444;
}

.console .apply-operation.active:hover {
  background: #333;
}

/* Select Output
-------------------------------------------------------------------------------*/

.select-output {
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.select-output a {
  display: block;
  float: left;
  /*width: 260px;*/
  margin-right: 1px;
  height: 30px;
  padding: 0 5px;
  /*height: 50px;*/
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  /*background: rgba(0,0,0, 0.1);*/
}

.select-output a:hover {
  background: rgba(0,0,0, 0.15);
}

.select-output a.active {
  background: rgba(0,0,0, 0.7);
  color: white;
}

.select-output a.toggle-output.last {
  margin-right: 0px;
}


/* Visualization
-------------------------------------------------------------------------------*/

.output {
  float: left;
  margin-top: 10px;
  width: 400px;
}

.visualization .document {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  height: 500px;
  overflow: auto;
  background: white;
  padding: 10px;
}

.visualization .document .node {
  margin-bottom: 1px;
  padding: 2px 10px;
  overflow: auto;
}

.visualization .document .node .idea {
  background: rgba(171, 201, 36, 0.4);
}

.visualization .document .node .question {
  
  background: rgba(16, 167, 222, 0.4);
}

.visualization .document .node .error {
  /*background: rgba(171, 201, 36, 0.4);*/
  background-color: rgba(237, 96, 48, 0.4);
}

.visualization .document .node.heading {
  font-weight: bold;
}

.visualization .document .node .annotation {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background: rgba(0,0,0, 0.5);
}

/* Visualization
-------------------------------------------------------------------------------*/

.output textarea {
  padding: 20px;
  width: 800px;
  height: 600px;
}