.testcase {
  overflow:hidden;
}
 .testcase div {
  float:left;
  margin:5px 10px 5px 10px;
  padding:2px 5px 2px 5px;
}
.testcase .button {
  background-color:#a0a0a0;
}
.result.success {
  background-color:#00a000;
}
.result.fail {
  background-color:#a00000;
}
.testcase .output {
  background-color:#F0F0a0;
  clear: both;
}
