*.log
config.json
log/*
snippets/*
pkg/*
doc
cov
pkg
.DS_Store
coverage.html
coverage/*
*.db
\#*
_Yardoc
.yardoc
tmp/*
node_modules/*

/.settings.xml
/config.json.edge
/edge.config.json
build

/dist/
/_site/