[submodule "lib/data"]
	path = lib/data
	url = git://github.com/michael/data.git
[submodule "src/visualizations/linechart"]
	path = src/visualizations/linechart
	url = git@github.com:michael/linechart.git
