{
  "modules": [
    {
      "repository": "git@github.com:substance/substance.git",
      "folder": ".",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/application.git",
      "folder": "lib/application",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/chronicle.git",
      "folder": "lib/chronicle",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/client.git",
      "folder": "lib/client",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/commander.git",
      "folder": "lib/commander",
      "branch": "master"
    },
    {
      "repository": "git@github.com:michael/data.git",
      "folder": "lib/data",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/document.git",
      "folder": "lib/document",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/library.git",
      "folder": "lib/library",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/operator.git",
      "folder": "lib/operator",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/regexp.git",
      "folder": "lib/regexp",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/replicator.git",
      "folder": "lib/replicator",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/store.git",
      "folder": "lib/store",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/surface.git",
      "folder": "lib/surface",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/test.git",
      "folder": "lib/test",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/util.git",
      "folder": "lib/util",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/view.git",
      "folder": "lib/view",
      "branch": "master"
    }
  ],
  "symlinks": [
    {
      "source": "lib/chronicle",
      "links": [
        "lib/data/node_modules/substance-chronicle",
        "lib/store/node_modules/substance-chronicle",
        "lib/document/node_modules/substance-chronicle"
      ]
    },
    {
      "source": "lib/data",
      "links": [
        "lib/document/node_modules/substance-data",
        "lib/store/node_modules/substance-data"
      ]
    },
    {
      "source": "lib/document",
      "links": [
      ]
    },
    {
      "source": "lib/operator",
      "links": [
        "lib/data/node_modules/substance-operator",
        "lib/document/node_modules/substance-operator"
      ]
    },
    {
      "source": "lib/test",
      "links": [
        "lib/chronicle/node_modules/substance-test",
        "lib/client/node_modules/substance-test",
        "lib/data/node_modules/substance-test",
        "lib/document/node_modules/substance-test",
        "lib/library/node_modules/substance-test",
        "lib/store/node_modules/substance-test",
        "lib/operator/node_modules/substance-test",
        "lib/replicator/node_modules/substance-test",
        "lib/util/node_modules/substance-test"
      ]
    },
    {
      "source": "lib/store",
      "links": [
        "lib/chronicle/node_modules/substance-store",
        "lib/data/node_modules/substance-store"
      ]
    },
    {
      "source": "lib/util",
      "links": [
        "lib/chronicle/node_modules/substance-util",
        "lib/data/node_modules/substance-util",
        "lib/document/node_modules/substance-util",
        "lib/operator/node_modules/substance-util",
        "lib/test/node_modules/substance-util",
        "lib/store/node_modules/substance-util",
        "node_modules/substance-util"
      ]
    }
  ]
}
