{
  "modules": [
    {
      "repository": "git@github.com:substance/application.git",
      "folder": "node_modules/substance-application",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/chronicle.git",
      "folder": "node_modules/substance-chronicle",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/commander.git",
      "folder": "node_modules/substance-commander",
      "branch": "master"
    },
    {
      "repository": "git@github.com:michael/data.git",
      "folder": "node_modules/substance-data",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/document.git",
      "folder": "node_modules/substance-document",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/operator.git",
      "folder": "node_modules/substance-operator",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/regexp.git",
      "folder": "node_modules/substance-regexp",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/store.git",
      "folder": "node_modules/substance-store",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/surface.git",
      "folder": "node_modules/substance-surface",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/test.git",
      "folder": "node_modules/substance-test",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/util.git",
      "folder": "node_modules/substance-util",
      "branch": "master"
    },
    {
      "repository": "git@github.com:substance/substance.git",
      "folder": ".",
      "branch": "master"
    }
  ],
  "symlinks": [
    {
      "source": "node_modules/substance-application",
      "links": [
        "node_modules/substance-surface/node_modules/substance-application",
        "node_modules/substance-test/node_modules/substance-application"
      ]
    },
    {
      "source": "node_modules/substance-chronicle",
      "links": [
        "node_modules/substance-data/node_modules/substance-chronicle",
        "node_modules/substance-document/node_modules/substance-chronicle"
      ]
    },
    {
      "source": "node_modules/substance-data",
      "links": [
        "node_modules/substance-document/node_modules/substance-data"
      ]
    },
    {
      "source": "node_modules/substance-document",
      "links": [
        "node_modules/substance-surface/node_modules/substance-document"
      ]
    },
    {
      "source": "node_modules/substance-operator",
      "links": [
        "node_modules/substance-chronicle/node_modules/substance-operator",
        "node_modules/substance-data/node_modules/substance-operator",
        "node_modules/substance-document/node_modules/substance-operator",
        "node_modules/substance-surface/node_modules/substance-operator"
      ]
    },
    {
      "source": "node_modules/substance-regexp",
      "links": [
        "node_modules/substance-document/node_modules/substance-regexp"
      ]
    },
    {
      "source": "node_modules/substance-store",
      "links": [
        "node_modules/substance-data/node_modules/substance-data",
        "node_modules/substance-document/node_modules/substance-store"
      ]
    },
    {
      "source": "node_modules/substance-test",
      "links": [
        "node_modules/substance-chronicle/node_modules/substance-test",
        "node_modules/substance-data/node_modules/substance-test",
        "node_modules/substance-document/node_modules/substance-test",
        "node_modules/substance-store/node_modules/substance-test",
        "node_modules/substance-surface/node_modules/substance-test",
        "node_modules/substance-operator/node_modules/substance-test"
      ]
    },
    {
      "source": "node_modules/substance-util",
      "links": [
        "node_modules/substance-chronicle/node_modules/substance-util",
        "node_modules/substance-data/node_modules/substance-util",
        "node_modules/substance-document/node_modules/substance-util",
        "node_modules/substance-operator/node_modules/substance-util",
        "node_modules/substance-surface/node_modules/substance-util",
        "node_modules/substance-test/node_modules/substance-util"
      ]
    }
  ]
}
