{
  "couchdb": {
    "protocol": "http",
    "host": "localhost",
    "db": "development",
    "port": 5984,
    "user": "username",
    "password": "secret"
  },
  "host_name": "substance.quasipartikel.at",
  "server_port": 3003,
  "settings": {
    "attributes": [
      {
        "key": "topics",
        "name": "Themen",
        "type": "string", 
        "unique": false,
        "default": []
      },
      {
        "key": "keywords",
        "name": "Schlagworte",
        "type": "string", 
        "unique": false,
        "default": []
      }
    ]
  }
}
