{
  "couchdb_url": "http://localhost:5984/substance",
  "server_host": null,
  "server_url": "http://localhost:3003",
  "server_port": 3003,
  "google_analytics": false,
  "secret": "secret option string for session security",
  "letterpress_url": "http://localhost:4004",
  "elasticsearch_url": "http://localhost:9200",
  "transloadit": {
    "image": {
      "auth": {
        "key": "your_api_key"
      },
      "template_id": "your_template_id",
      "redirect_url": "http://substance.io"
    },
    "document_cover": {
      "auth": {
        "key": "your_api_key"
      },
      "template_id": "your_template_id",
      "redirect_url": "http://substance.io"
    },
    "network_cover": {
      "auth": {
        "key": "your_api_key"
      },
      "template_id": "your_template_id",
      "redirect_url": "http://substance.io"
    }
  }
}