<!DOCTYPE html>
<html>
  <head>
    <title>Substance</title>
    <link href="buttons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="substance.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="composer.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/codemirror/codemirror.css" media="screen" rel="stylesheet" type="text/css" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300,900' rel='stylesheet' type='text/css'>

    <!-- Templates -->
    <script type="text/html" name="substance">
      <div id="header">
        <div class="header-container">
          <a href="#" class="logo">Substance</a>
          <div class="menu">
            <a href="#" class="dashboard<%= !document ? ' active' : ''%>">My Documents</a>
            <% if (document) { %> <a href="#" class="document active"><%= document.title || 'Untitled' %></a><% } %>
          </div>

          <div class="user-status">
          <% if (user) { %>
            <a href="#new" class="new-document button"><div class="icon"></div>New Document</a>
            <div class="username"><%= user %></div>
            <a href="#logout" class="logout"></a>
          <% } else { %>
            <form id="user_login_form">
              <input type="text" name="username" placeholder="Username" id="login_username"/>
              <input type="password" name="password" placeholder="Password" id="login_password"/>
              <input class="submit" type="submit" value="Login"/>
            </form>
          <% } %>
          </div>
        </div>
      </div>
      <div id="container">

      </div>
    </script>

    <!-- Annotation Toggles -->
    <script type="text/html" name="annotation_toggles">
      <div class="annotation-toggles">
        <% _.each(annotations, function(a) { %>
          <a href="#" class="toggle <%= a.type %><%= a.active ? " active" : "" %> " data-type="<%= a.type %>" title="<%= a.description %>"></a>
        <% }) %>
        <div class="arrow-down"></div>
      </div>
    </script>

    <!-- Context Bar -->
    <script type="text/html" name="context_bar">
      <div class="context-bar">
        <div class="title">Insert Element</div>
        <div class="insert-commands">
          <% _.each(node_types, function(node) { %>
            <a href="#" class="insert <%= node.type %>" data-type="<%= node.type %>"><%= node.name %></a>
          <% }); %>
        </div>
      </div>
    </script>

    <!-- Dashboard -->
    <script type="text/html" name="dashboard">
      <div id="dashboard">
      <% if (documents.length > 0) { %>
          <div id="documents">
            <% _.each(documents, function(doc) { %>
              <div class="document">
                <a class="load-document" href="#demo/<%= doc.file %>" document="<%= doc._id %>">
                  <div class="image">
                    <img src="images/document-image-placeholder.png" width="200">
                  </div>

                  <div class="title">
                    <%= doc.title %>
                  </div>
                </a>

                <div class="author"><a href="#">michael</a></div>
                <div class="updated-at"><span>updated </span><%= $.timeago(doc.updated_at) %></div>
              </div>
            <% }); %>
          </div>
        </div>
      <% } else { %>
        <div id="documents">
          <h2>No Documents yet ...</h2>
        </div>
      <% } %>
      </div>
    </script>

    <!-- Startpage -->
    <script type="text/html" name="start">
      <div id="help">
        <img src="images/introduction.png"/>
      </div>
    </script>

    <script type="text/html" name="editor">
      <div id="document_menu">
        <div class="document-menu-wrapper">
          <div class="navigation">
            <div class="actions">
              <a class="action undo" href="#"><div class="icon"></div></a>
              <a class="action redo" href="#"><div class="icon"></div></a>
            </div>

            <div class="toggles">
              <a class="toggle settings" href="#"><div class="icon"></div>Settings</a>
              <!--<a class="toggle collaborators" href="#"><div class="icon"></div>Collaborators</a>-->
              <!--<a class="toggle export" href="#"><div class="icon"></div>Export</a>-->
            </div>
          </div>

          <div class="error-message"></div>

          <div class="publish-state <%= session.publishState() %>">
            <div class="icon"></div>
            <div class="state"><%= session.publishState() %></div>
            <div class="message">Private document</div>
            
            <a href="#" class="toggle-publish-actions"><div class="icon"></div></a>
            <div class="publish-actions">
            </div>
          </div>
        </div>

        <div id="document_shelf">
          <div class="shelf-content">
          </div>
        </div>
      </div>

      <div id="document_wrapper">
        Content goes here
      </div>
    </script>

    <!-- Document Settings -->
    <script type="text/html" name="document_settings">
      <h2>Document Settings</h2>
      <a href="#" class="delete-document">Delete Document</a>

      <h2>Publications</h2>
      <div class="publications">
        <% _.each(publications, function(pub, index) { %>
          <div class="publication">#<%= index+1 %> <%= pub.created_at %></div>
        <% }); %>
      </div>
    </script>

    <!-- Document Collaborators -->
    <script type="text/html" name="document_collaborators">
      <h1>Document Collaborators</h1>
    </script>

    <!-- Document Export -->
    <script type="text/html" name="document_export">
      <h1>Document Export</h1>
      <div>Not yet ready.</div>
    </script>

    <!-- Toolbar -->
    <script type="text/html" name="toolbar">
      <div id="toolbar"></div>
    </script>

    <script type="text/html" name="tool">
      <a class="tool" data-command="<%= type %>" href="#<%= type %>"><%= text %></a>
    </script>

    <script type="text/x-ejs-template" name="composer">
      <div id="composer">
        <div id="tools"></div>
        <div id="document"></div>
      </div>
    </script>

    <script type="text/x-ejs-template" name="controls_insert">
      <div class="actions insert">
        <div class="placeholder">Insert Content</div>
        <ul>
          <% childTypes.each(function (position, type) { %>
            <% if (_.isArray(position)) { %>
              <li class="container">
                <span><%= getTypeName(type) %></span>
                <ul>
                  <% _.each(position, function (position) { %>
                    <li>
                      <a href="/"
                         data-parent="<%= position.parent._id %>"
                         data-after="<%= position.after ? position.after._id : ''%>"
                         data-type="<%= type %>">
                        Level <%= position.level %>
                      </a>
                    </li>
                  <% }); %>
                </ul>
              </li>
            <% } else { %>
              <li>
                <a href="/"
                   data-parent="<%= position.parent._id %>"
                   data-after="<%= position.after ? position.after._id : ''%>"
                   data-type="<%= type %>">
                  <%= getTypeName(type) %>
                </a>
              </li>
            <% } %>
          <% }); %>
        </ul>
        <br class="clear" />
      </div>
    </script>

    <script type="text/x-ejs-template" name="document">
      <div id="document_content">
        <div class="properties">
          <div class="document-title" contenteditable="true">Hello World</div>
          <div class="document-abstract" contenteditable="true"></div>
        </div>

        <div class="left-rail"></div>
        <div class="right-rail"></div>

        <div class="marker"></div>
        <div class="nodes"></div>
        <div id="context_bar"></div>
      </div>
    </script>

    <script type="text/x-ejs-template" name="comments">
      <div class="comment-scopes">
        <% _.each(comments.scopes, function(scope, i) { %>
          <div id="<%= _.htmlId(scope.id) %>" class="comment-scope<%= i === 0 ? ' active' : ''%><%= scope.type ? ' '+scope.type : '' %>" data-node="<%= node() %>" data-annotation="<%= scope.annotation %>">
            <!--<%= scope.comments.length %>-->
          </div>
        <% }); %>
      </div>

      <% _.each(comments.scopes, function(scope, i) { %>
        <div id="comments_<%= _.htmlId(scope.id) %>" class="comments<%= i === 0 ? ' active' : ''%>">
          <div class="scope-header<%= scope.type ? ' '+scope.type : '' %>">
            <% if (!_.include(['document', 'node'], scope.type)) { %>
              <div class="title"><%= scope.type[0].toUpperCase()+scope.type.substr(1) %></div>
              <!--<div class="subtitle">4 days ago, by michael</div>-->
              <a href="#" class="button close-issue" title="Close Issue">Resolve</a>
            <% } else { %>
              <div class="title">Discussion</div>
            <% } %>
          </div>
          <div class="comments-wrapper">
            <% if (scope.comments.length=== 0) { %>
              <div class="comments-placeholder">Start the discussion by adding a <b>comment</b>.</div>
            <% } %>
            <% _.each(scope.comments, function(c) { %>
              <div class="comment">
                <div class="meta">
                  <div class="author"><%= c.user %></div>
                  <div class="date"><%= $.timeago(c.created_at) %></div>
                </div>
                <div class="message">
                  <%= c.content %>
                </div>
                <a class="delete-comment" title="Delete comment" data-id="<%= c.id %>" href="#"></a>
              </div>
            <% }); %>

          </div>
          <div class="new-comment">
            <div class="comment-input-wrapper">
              <textarea class="comment-content" name="comment" placeholder="Add a comment"></textarea>
            </div>
            <a href="#" class="button insert-comment">Add Comment</a>
          </div>

        </div>
      <% }); %>
    </script>


    <script type="text/x-ejs-template" name="foobar">
      <% _.each(comments.scopes, function(scope, i) { %>
        <div class="comment-scope<%= i === 0 ? ' active' : ''%><%= scope.type ? ' '+scope.type : '' %>" id="<%= _.htmlId(scope.id) %>" data-node="<%= node() %>" data-annotation="<%= scope.annotation %>">
          <div class="header">
            <%= scope.name %>
          </div>
          <div class="comments">
            <% _.each(scope.comments, function(c) { %>
              <div class="comment">
                <div class="meta">
                  <div class="creator">michael</div>
                  <div class="time">3 days ago</div>
                </div>

                <div class="text">
                  <%= c.content %>
                </div>
              </div>
            <% }); %>

            <div class="new-comment">
              <div class="author">Your comment:</div>
              <div class="comment-input-wrapper">
                <textarea class="comment-content" name="comment"></textarea>
              </div>
              <a href="#" class="button insert-comment">Add Comment</a>
            </div>
          </div>

        </div>
      <% }); %>
    </script>

    <script type="text/x-ejs-template" name="history">
      <div class="operations">
        <% _.each(_.clone(operations).reverse(), function(o, index) { %>
          <a href="#" class="operation checkout-commit" data-commit="<%= o.sha %>"><%= _.opcode(o) %></a>
        <% }); %>
      </div>
    </script>

    <script type="text/x-ejs-template" name="outline">
      <div class="outline">
        Document outline. To be implemented.
      </div>
    </script>

    <script type="text/x-ejs-template" name="patches">
      <h2>Patches</h2>
      <div class="patches">
      </div>
    </script>

    <script type="text/x-ejs-template" name="tools">
      <div class="tools">
        <% if (selection().length === 0) { %>
          <!--<div class="document-menu<%= selection() && selection().length > 0 ? "" : " active"%>">
            <div class="tool-name">Document</div>
            <div class="navigation">
              <a class="toggle-tool comments<%= view === "comments" ? " active" : "" %>" href="#" data-view="comments">Comments</a>
              <a class="toggle-tool history<%= view === "history" ? " active" : "" %>" href="#" data-view="history">History</a>
            </div>
          </div>-->
        <% } %>
        <% if (selection() && selection().length > 0) { %>
          <div class="node-menu active">
            <!--<div class="tool-name"><% if (selection().length === 1) { %>Text Element<% } else { %> Teh Selection <% } %></div>-->
            <div class="navigation">
              <!--<a class="toggle-tool comments" href="#" data-view="comments">CMTS</a>
              <a class="toggle-tool edit" href="#" data-view="edit">EDIT</a>-->
            </div>
          </div>
        <% } %>
        <div class="tool">
          Actual node tool goes here.
        </div>
      </div>
    </script>

    <script src="lib/underscore.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/keymaster.min.js"></script>
    <script src="lib/data.js"></script>
    <script src="lib/backbone.js"></script>

    <script src="lib/dmp.js"></script>
    <script src="lib/operation.js"></script>
    <script src="lib/jquery.timeago.js"></script>

    <script src="lib/surface.js"></script>

    <!-- Extensions -->
    <script src="src/extensions/redisdocstore.js"></script>
    <script src="src/extensions/seed.js"></script>

    <!-- Model -->
    <script src="lib/document.js"></script>
    <script src="lib/codemirror/codemirror.js"></script>
    <script src="src/composer.js"></script>
    <script src="src/util.js"></script>

    <script src="src/model.js"></script>

    <!-- Views -->
    <script src="src/views/editor.js"></script>

    <script src="src/views/document/settings.js"></script>
    <script src="src/views/document/collaborators.js"></script>
    <script src="src/views/document/export.js"></script>

    <script src="src/views/document.js"></script>
    <script src="src/views/tools.js"></script>
    <script src="src/views/outline.js"></script>
    <script src="src/views/history.js"></script>
    <script src="src/views/patches.js"></script>
    <script src="src/views/comments.js"></script>

    <!-- Nodes -->
    <script src="src/nodes/node.js"></script>
    <script src="src/nodes/textish.js"></script>
    <script src="src/nodes/text/text.js"></script>
    <script src="src/nodes/heading/heading.js"></script>

    <!-- Boot -->
    <script src="src/boot.js"></script>

  </head>
  <body>


  </body>
</html>