html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}


/* KOLLWI Styles */

html, body {
  height:100%;
  color:#333;
  font-size:14px;
  line-height:1.5em;
  font-family: 'TitilliumText22LMedium', Arial, sans-serif;
  background:url('themes/kollwi/bg.jpg');
}

a { color:#000; text-decoration:none; }


#container {
  position:relative;
  width:100%;
  padding:0 0 2em 0;
  overflow:hidden;
}

#browser {
  position:relative;
  float:left;
  width:320px;
  margin-right:140px;
  background: #5d4e42 url(themes/kollwi/bg-sidebar.jpg);
  -webkit-box-shadow: inset -2px 0px 4px rgba(0,0,0,0.35);
  -moz-box-shadow:    inset -2px 0px 4px rgba(0,0,0,0.35);
  box-shadow:         inset -2px 0px 4px rgba(0,0,0,0.35);
  z-index:1000;
}

#navigation {
  position:absolute;
  width:160px;
  right:-160px;
  margin-top:110px;
}

#navigation #facets,
#navigation #navigieren,
#navigation #diverses {
  margin-bottom:20px;
}

#navigation #facets li a,
#navigation #navigieren li a,
#navigation #diverses li a {
  display:block;
  margin-bottom:2px;
  padding:4px 5px 2px 15px;
  color:#4d4d4d;
}

#navigation #facets li a,
#navigation #navigieren li a {
  font-size:16px;
  line-height:20px;
  background-color: #ccc;
}


#navigation #facets li.selected a,
#navigation #navigieren li.selected a {
  color:#1e2817;
  text-shadow:0px 1px 0px rgba(255,255,255,0.35);
  background-color: #80ad45;
}


#facets li span {
  float: right;
  font-size: 10px;
  width: 10px;
  text-align: center;
  background: #eee;
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
}

#navigation #diverses li a {
  padding:1px 10px 1px 10px;
  color:#666;
  font-size:14px;
}

#navigation #facets li a:hover, #navigation #navigieren li a:hover, #navigation #diverses li a:hover { color:#000; background-color: #aaa;}


#sidebar_listen {
  position:relative;
  float:right;
  width:290px;
  right:30px;
  margin-top:110px;
  padding-bottom:100px;
}

#sidebar_listen a {
  display:block;
  padding:3px 15px 2px 15px;
  color:rgb(62,51,45);
  -webkit-box-shadow: 0px 1px 2px rgba(62,51,45,1);
  -moz-box-shadow:    0px 1px 2px rgba(62,51,45,1);
  box-shadow:         0px 1px 2px rgba(62,51,45,1);
}

#sidebar_listen h2 {
  height:20px;
  padding:25px 15px 15px 15px;
  color:#fff;
  font-size:24px;
  text-shadow:0px 1px 2px rgba(62,51,45,1);
}

#sidebar_listen ul {
  margin:2px 0 20px 0;
}

#sidebar_listen ul li {
  margin-bottom:4px;
  background-color:#aba19a;
  background-color:#ddd;
}

#sidebar_listen ul li a:hover {
  background-color:#9b8b80;
}

#sidebar_listen ul li a.selected {
  color:#1e2817;
  text-shadow:0px 1px 0px rgba(255,255,255,0.35);
  background-color: #80ad45;
}


#document_wrapper {
  position:relative;
  padding-left:500px;
  padding-top:110px;
  width:740px;
  z-index:100;
}

#artikel_liste .artikel {
  position:relative;
  background-color:#ededed;
  margin-bottom:1em;
  padding:1em 0 2em 0;
}

#artikel_liste .artikel h1 {
  font-size:30px;
  line-height:1.2em;
  margin-bottom:0.5em;
  padding:0 40px 0 60px;
}

#artikel_liste .artikel h4 {
  font-size:14px;
  padding:0 40px 0 60px;
}

#artikel_liste .artikel p {
  padding:0 40px 0 60px;
}

#artikel_liste .artikel_begriffe {
  margin:1em 0 -2em 0;
  padding:10px 0;
  background-color:#ccc;
  overflow:hidden;
}

#artikel_liste .artikel_begriffe a {
  display:block;
  float:left;
  height:20px;
  margin:0 2px 2px 0;
  padding:3px 25px 2px 25px;
  color:#fff;
  font-size:16px;
  background-color:#666;
}


#document {
  position:relative;
  background-color:#fafafa;
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.35), inset 0px 0px 1px rgba(255,255,255,0.15);
  -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.35), inset 0px 0px 1px rgba(255,255,255,0.15);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.35), inset 0px 0px 1px rgba(255,255,255,0.15);
}

#document a:hover { text-decoration:underline; }

#document h2 {
  padding:10px 40px 10px 60px;
  color:#69a4ca;
  font-size:18px;
  border-bottom:1px solid rgba(128,128,128,0.1);
}

#kopfzeile {
  padding:20px 40px 20px 60px;
}

#kopfzeile h1 {
  color:#69a4ca;
  color:#80ad45;
  font-family: 'TitilliumText22LLight';
  font-size:32px;
  line-height:1.2em;
}

#kopfzeile h4 {
  text-align:right;
  font-size:14px;
  color:#999;
}

#lead {
  padding:0 40px 2em 60px;
}

#toc {
  font-family: 'TitilliumText22LLight';
  background-color:rgba(255,255,255,0.15);
  padding-bottom:20px;
  margin-bottom:2em;
}

#toc ul {
  margin:1em 40px 0 60px;
}

#toc ul li {
  margin-bottom:4px;
}

#toc ul a {
  font-family: 'TitilliumText22LMedium';
  color:#fff;
  background-color:#69a4ca;
  padding: 3px 1.5em 2px 1em;
  text-shadow: 0px 1px 1px rgba(0,25,50,0.5);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,25,50,0.35);
  -moz-box-shadow:    inset 0px 1px 2px rgba(0,25,50,0.35);
  box-shadow:         inset 0px 1px 2px rgba(0,25,50,0.35);
}

#toc ul a:active {
  background-color:#666;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

#document .segment {
  padding-bottom:1em;
  margin-bottom:1em;
  background-color:rgba(255,255,255,0.5);
  clear:both;
}

#document .segment h2 {
  margin-bottom:1em;
}

#document .segment p {
  margin:0.5em 40px 1em 60px;
}

#document .segment p.frage {
  margin:1em 40px 0.5em 60px;
  color:#0071bc;
  font-size:18px;
}

#document .segment quote {
  display:block;
  color:#0071bc;
  font-size:18px;
  line-height:1.5em;
  margin:1em 80px 2em 120px;
}

#document .segment dl {
  margin:20px 40px 2em 60px;
}

#document .segment dl dt {
  display:inline;
  float:left;
  margin:0 5px 0 0;
  color:#0071bc;
}

#document .segment dl dd {
  margin-bottom:0.5em;
}

#artikel_kategorien,
#artikel_begriffe {
  position:relative;
  margin-bottom:1em;
  padding:10px 0;
  background-color:#ccc;
  clear:both;
}

#artikel_begriffe a {
  display:block;
  float:left;
  height:20px;
  margin:0 2px 2px 0;
  padding:3px 25px 2px 25px;
  color:#fff;
  font-size:16px;
  background-color:#666;
}

#artikel_kategorien dl.left   { position:relative; float:left; display:block;        width:360px; }
#artikel_kategorien dl.right  { position:relative; display:block; margin-left:380px; width:360px; }

#artikel_kategorien dl dt {
  display:block;
  float:left;
  width:130px;
  margin-bottom:2px;
  padding:2px 0 2px 50px;
  color:#fff;
  background-color:#666;
}

#artikel_kategorien dl dd {
  display:block;
  float:left;
  width:170px;
  margin-bottom:2px;
  padding:2px 0 2px 10px;
  color:#000;
  background-color:#b3b3b3;
}

#artikel_aehnliche {}

#artikel_aehnliche h2 {
  margin-top:40px;
  margin-left:-180px;
  padding-left:180px;
  color:#000;
  font-size:16px;
  border-bottom:1px solid #666;
}

#artikel_aehnliche .exzerpt {
  display:block;
  margin-top:10px;
  padding:25px 25px 35px 70px;
  background-color:#b3b3b3;
}

#artikel_aehnliche .exzerpt h1,
#artikel_aehnliche .exzerpt p { color:#000; font-size:18px; }

/* KollWi fonts */

@font-face {
  font-family: 'TitilliumText22LThin';
  src: url('themes/kollwi/TitilliumText22L001-webfont.eot');
  src: local('☺'), url('themes/kollwi/TitilliumText22L001-webfont.woff') format('woff'), url('themes/kollwi/TitilliumText22L001-webfont.ttf') format('truetype'), url('themes/kollwi/TitilliumText22L001-webfont.svg#webfontEtJY7Tfo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LLight';
  src: url('themes/kollwi/TitilliumText22L002-webfont.eot');
  src: local('☺'), url('themes/kollwi/TitilliumText22L002-webfont.woff') format('woff'), url('themes/kollwi/TitilliumText22L002-webfont.ttf') format('truetype'), url('themes/kollwi/TitilliumText22L002-webfont.svg#webfontJx8AgFWg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url('themes/kollwi/TitilliumText22L003-webfont.eot');
  src: local('☺'), url('themes/kollwi/TitilliumText22L003-webfont.woff') format('woff'), url('themes/kollwi/TitilliumText22L003-webfont.ttf') format('truetype'), url('themes/kollwi/TitilliumText22L003-webfont.svg#webfonthw2QSkaV') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LMedium';
  src: url('themes/kollwi/TitilliumText22L004-webfont.eot');
  src: local('☺'), url('themes/kollwi/TitilliumText22L004-webfont.woff') format('woff'), url('themes/kollwi/TitilliumText22L004-webfont.ttf') format('truetype'), url('themes/kollwi/TitilliumText22L004-webfont.svg#webfontR8jqiKWT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LBold';
  src: url('themes/kollwi/TitilliumText22L005-webfont.eot');
  src: local('☺'), url('themes/kollwi/TitilliumText22L005-webfont.woff') format('woff'), url('themes/kollwi/TitilliumText22L005-webfont.ttf') format('truetype'), url('themes/kollwi/TitilliumText22L005-webfont.svg#webfontQJLLLQu2') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumText22LXBold';
  src: url('themes/kollwi/TitilliumText22L006-webfont.eot');
  src: local('☺'), url('themes/kollwi/TitilliumText22L006-webfont.woff') format('woff'), url('themes/kollwi/TitilliumText22L006-webfont.ttf') format('truetype'), url('themes/kollwi/TitilliumText22L006-webfont.svg#webfontw8fCAPpd') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* substance™ Styles */

code { font-family: Monaco, Consolas; font-size: 10px; padding: 0px 3px; }
pre.code {margin-left: 30px; border-left: 2px solid #999; padding-left: 20px; }