/* Document Export Dialogue
-------------------------------------------------------------------------------*/

#document_export {
  .ui-font;
  width: 400px;
  font-weight: bold;
  padding: 20px;
}

#document_export .formats {
  overflow: auto;
  margin: 20px 0;
}

#document_export .additional-formats {
  overflow: auto;
  margin: 20px 0;
}

.formats .format {
  border: none;
  display: block;
  float: left;
  height: 48px;
  width: 48px;
  margin: 10px;
  background: url("@{images}/formats/document.png");
}

.formats .format .label {
  .ui-font;
  font-size: 9px;
  line-height: 11px;
  background: #666;
  color: #fff;
  padding: 2px 3px 0px 1px;
  
  width: 29px;
  margin-top: 3px; 
}

.additional-formats .format {
  border: none;
  display: block;
  float: left;
  height: 32px;
  width: 150px;
  margin: 10px;
  background: url("@{images}/formats/document_small.png") no-repeat center left;
}

.additional-formats .format .label {
  .ui-font;
  
  padding-left: 40px;
  line-height: 32px;
  
  font-size: 12px;
  font-weight: normal;
}

.formats .format.epub .label { background: #85b916; }
.formats .format.pdf .label { background: #cc0000; }
.formats .format.odf .label { background: #0e85cd; }
.formats .format.rtf .label { background: #023a6d; }
