/* Invite Collaborator Dialogue
-------------------------------------------------------------------------------*/


#document_invite {
  .ui-font;

  padding: 20px;
  color: #444;
  width: 500px;
}


#document_invite .remove-collaborator {
  width: 30px;
  height: 30px;
  display: block;
  opacity: 0.6;
  background: url("@{images}/icons/black/x_alt_16x16.png") center center no-repeat;
}

#document_invite .remove-collaborator:hover {
  opacity: 1;
}

#document_settings .remove-collaborator span {
  visibility: hidden;
}

#document_invite .collaborators span {
  padding: 4px;
  font-size: 11px;
  text-transform: uppercase;
  background: #555;
  color: white;
  .border-radius(3px);
}

#document_invite .collaborators span.confirmed {
  background: #A2C44E;
}

#document_invite a {
  border: none;
}

#document_invite select {
  height: 27px;
  line-height: 27px;
  border: 1px solid #CCC;
}

#document_invite h6 {
  font-weight: bold;
}

#document_invite input {
  width: 160px;
}

#document_invite input[type=submit] {
  width: 100px;
  display: inline;
}

#document_invite table {
  width: 100%;
}

#document_invite table td {
  padding: 0px 3px;
}
