/* Publish Settings Dialogue
-------------------------------------------------------------------------------*/

#document_publish {
  .ui-font;

  font-size: 14px;
  color: #444;

  input.publish-document {
    margin-right: 20px;
  }
  input.unpublish-document {
    background: #890000;
    width: auto;
  }
}


