/*
 Helpers
----------------------
*/

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }

/*
 Common Styles
----------------------
*/

/*f0f1eb*/

html { margin: 0; padding: 0;}
body { margin: 0; padding: 0; background: #f0f1eb; color:#fff; font-family:"HelveticaNeue", Helvetica, Arial, sans-serif; font-size:14px; line-height:1.5em; /*Übackground: #aaa;*/ /*background: #ededed; */}

a { color: #252519; }
a:hover { text-decoration: underline; color: #19469D; }
a:visited { color: #261a3b; }

p { margin: 0 0 10px 0; }

h1, h2, h3, h4, h5, h6 {  margin: 10px 0 5px 0; }
h3, h4, h5, h6 { margin-top: 20px; }
h2 { font-size: 1.4em; margin-bottom: 1em; }


:focus {
  outline: 0;
}


/*
 Property Editor
----------------------
*/


.lpl.texteditor .attribute-editor input { width: 70%; display: inline; }
.lpl.texteditor .attribute-editor input[type=submit] { width: 30px; }
.attribute-editor div.items { padding: 10px; }
.attribute-editor a.remove-item { color: red; }


/*
 Create Document View
----------------------
*/

#shelf_actions .document { display: none; }
#shelf_actions .dashboard { display: none; }

#lpl_shelf_content input { border: none; padding: 4px; }

#lpl_shelf_content input[disabled=disabled] {
  background: #aaa;
  color: #000;
}

/*
 Signup View
----------------------
*/

#signup {
  color: #444;
  margin: auto;
  width: 400px;
  margin-top: 50px;
  background: #fff;
  padding: 20px;
  
  -webkit-border-radius:7px;
  -moz-border-radius:   7px;
  border-radius:        7px;
}


/*
 Menu
----------------------
*/


#lpl_actions .header.save { margin-right: 40px; }

#lpl_actions { margin-left: 100px; }

#lpl_actions .right { float: right; }
#lpl_logo { width: 540px; }
#lpl_logo a { color: #444; }
#lpl_logo a:hover { text-decoration: none; color: #000; }

/*
 Notifications
----------------------
*/

#notifications {
  position:fixed;
  bottom:0px;
  right:0px;
  font-size:13px;
  z-index:1000;
}

#notifications .wrapper {
  margin:0 20px;

  padding: 0;
  text-shadow:0px 1px 1px #000;
  background:rgba(0,0,0,0.85);
  -webit-border-top-left-radius:  5px;
  -webit-border-top-right-radius: 5px;
  -moz-border-radius-topleft:     5px;
  -moz-border-radius-topright:    5px;
  border-top-left-radius:         5px;
  border-top-right-radius:        5px;
}

#notifications .wrapper p {
  margin: 0;
  padding: 0;
}

#notifications .wrapper > p {
  padding:4px 12px 2px 12px;
  border-bottom:1px solid rgba(255,255,255,0.1);
}

#notifications .wrapper > p:last-child {
  padding:4px 12px 6px 12px;
  border-bottom:none;
}

#notifications .wrapper > p.error        > span { float:left; width:70px; color:#f45; font-size:11px; font-weight:bold; text-transform:uppercase; }
#notifications .wrapper > p.warning      > span { float:left; width:70px; color:#fd6; font-size:11px; font-weight:bold; text-transform:uppercase; }
#notifications .wrapper > p.notification > span { float:left; width:70px; color:#aaa; font-size:11px; font-weight:bold; text-transform:uppercase; }

/*
 Document Browser
----------------------
*/

#lpl_shelf_content { overflow: auto; color: #444; }

#lpl_shelf_content a.item { position: relative; }

#lpl_shelf_content a.delete-document { color: red; text-decoration: none; position: absolute; top: 30px; left: 10px; }
#container { margin: 0; padding: 0;}


/*
 Drawer
----------------------
*/

#drawer {
  position: fixed;
  right:40px;
  top:100px;
  bottom: 80px;
  width:300px;
  background: white;
  padding:10px 15px 10px 15px;
  background:#f8f8f8;
  
  -webkit-box-shadow: 0px 2px 4px rgba(100,100,100,1);
  -moz-box-shadow:    0px 2px 4px rgba(100,100,100,1);
  box-shadow:         0px 2px 4px rgba(100,100,100,1);
  
  overflow:auto;
  z-index:10;
}

/* Transitions */

#document  { -webkit-transition: margin-right .35s ease-in-out; }

#main:not(.drawer-opened) #drawer_content { display: none; }

#main.drawer-opened #document { margin-right: 260px; }

#drawer .toggle a {
  position: absolute;
  top: 5px;
  right: 10px;
}

/*
 Document view
----------------------
*/

#main {
  margin: 0 80px 0 130px;
  padding-top: 100px;
}

#outline {
  position: fixed;
  
  left: 10px;
  width: 120px;
  top: 100px;
  bottom: 20px;
/*  background: #eee;*/
}

#document {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  
  color: #333;
  min-height: 500px;
  position:relative;
  background:#fff;
  margin-right: 20px;
  
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.3), 0px 0px 2px rgba(0,0,0,0.4);
  -moz-box-shadow:    0px 0px 20px rgba(0,0,0,0.3), 0px 0px 2px rgba(0,0,0,0.4);
  box-shadow:         0px 0px 20px rgba(0,0,0,0.3), 0px 0px 2px rgba(0,0,0,0.4);
  z-index: 100;
}


/*
 Editors
----------------------
*/

#document_tags { height: 50px;}

#drawer_content { padding: 3px; color: #444;}

/* ImageEditor Widget */
#progress_container { display: none; }

/* Content Nodes */

.content-node { position: relative; padding: 10px; }

.content-node.active {
  background: #fff; -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.3);
}

.content-node.selected { }

.content-node .content-node { margin-left:-10px; padding-left: 10px; margin-right: -10px; padding-right: 10px; }


#document.edit-mode { background: #fbfbfa; }
#document.edit-mode .content-node { color: #aaa; }

#document.edit-mode .content-node.selected { background: #fff; -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.3); }
#document.edit-mode .content-node.selected > .content {color: #000; }

#document.insert-mode { background: #fbfbfa; }
#document.insert-mode .content-node { color: #aaa; }
#document.insert-mode .content-node { background: transparent; -webkit-box-shadow: none; }

#document.insert-mode .controls.active { background: #fff; -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.3); }


.content-node div.border {
  pointer-events: none;
  
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 2px solid #ccc;
}


.remove {
  color:#fff;
  font-size:23px;
  font-weight:bold;
  line-height:17px;
  text-align:center;
  text-decoration:none;
  text-transform:lowercase;
  text-shadow:0px -1px 0px rgba(0,0,0,0.5);
  -webkit-font-smoothing: antialiased;
  background:rgba(213,14,60,1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(243,34,80)), to(rgb(183,0,30)));
  background: -moz-linear-gradient(top, rgb(243,34,80), rgb(183,0,30));
  -webkit-background-clip: padding-box;
  -webkit-border-radius:14px;
  -moz-border-radius:   14px;
  border-radius:        14px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow:    0px 1px 2px rgba(0,0,0,0.25);
  box-shadow:         0px 1px 2px rgba(0,0,0,0.25);
  overflow:hidden;
  z-index:10;
}

.remove:hover {
  text-decoration: none;
}

.content-node .remove-node {
  display:none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width:22px;
  height:22px;
}


.content-node.selected > a.remove-node { display: block; }

.content-node.active > div.border { display: block; opacity: 0.5; }
.content-node.selected > div.border { display: block; opacity: 1.0; }

/* Inline editing */


/* Color Coding */
.content-node.document > .border { border-color: #8db5c8; }
.content-node.section > .border { border-color: #a2c355; }
.content-node.paragraph > .border { border-color: #93baa1; }
.content-node.image > .border { border-color: #b16649; }

.content-node.document > .content-node-info { background: #8db5c8; }
.content-node.section > .content-node-info { background: #a2c355; }
.content-node.paragraph > .content-node-info { background: #93baa1; }
.content-node.image > .content-node-info { background: #b16649; }


.content-node .content-node-info { display: none; }

.content-node-info {
  height: 30px;
  position: relative;
  width: 90px; display: block; position: absolute; top: -31px; right: 0px; padding: 3px; color: #fff; font-weight: bold; font-family: Helvetica; font-size: 10px; text-transform: uppercase; z-index: 50000; 
}

.content-node-info img {
  position: absolute;
  right: 8px;
  top: 5px;
}

.content-node.selected > .content-node-info { display: block; }

#document.structure-mode .node-actions { display: none; }
#document.structure-mode {background: #eee;}
#document.structure-mode .content-node { margin-left: 20px; }

.controls {
  position: relative;
  min-height: 20px;
  margin-left: -10px;
  margin-right: -10px;
}

.controls .handle {
  position: absolute;
  left: -24px;
  width: 20px;
  height: 20px;
  -webkit-border-radius:10px;
  -moz-border-radius:   10px;
  border-radius:        10px;
  text-align: center;
  background: white;
}

.controls .actions {
  display: none;
  margin-left: 10px;
  padding-bottom: 10px;
}

.controls.active .actions {
  display: block;
}

.controls .actions a {
  color: #444;
  border: 1px dashed #444;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-border-radius:5px;
  -moz-border-radius:   5px;
  border-radius:        5px;
  
  margin: 10px;
  padding: 4px;
  display: block;
  float: left;
}


/* placehoder for drag and drop */

.node-placeholder {
  z-index: -100;
  padding-right: 10px;
  
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background:#fff;

  -webkit-border-radius:7px;
  -moz-border-radius:   7px;
  border-radius:        7px;
  
  border: 1px dashed #ccc;
  padding: 5px;
  color: #ccc;
  text-align: center;
}

.node-placeholder.dragover {
  background: #ccc;
}

#document:not(.structure-mode) .node-placeholder { display: none; }
code { display: block; font-family: Monaco, Consolas; font-size: 12px; margin-top: 15px; padding: 7px; border-left: 3px solid #ccc; }



/* The Editor 
   ------------------- */

#editor {
  display: none;
}



/* Dashboard
   ------------------- */

/* Layout */

#dashboard {
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #444;
  background: #f7f8f5;
}

#dashboard #search_panel {
  border-right: 1px solid #e2e3db;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #fbfbfa;
  width: 260px;
}

#dashboard #document_browser {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 260px;
  border-bottom: 1px solid #e2e3db;
  background: #f7f8f5;
  overflow: auto;
}

/*#dashboard #user_browser {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 150px;
  left: 260px;
  background: #f7f8f5;
}*/


/*
-----------------------------------------
 Document Browser
-----------------------------------------
*/

#document_browser h2 {
  font-weight: normal;
  font-size: 14px;
  color: #8a8d7d;
}

/* Documents */

#documents {
  padding: 20px;
}

#documents .list {
  background: #ccc;
}

#documents .document {
  float: left;
  position: relative;
  width: 250px;
  height: 77px;
}

#documents .document a.link {
  padding: 10px;
  display: block;
  width: 250px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

#documents .document a.link:hover { 
  text-decoration: none;
  background: #f0f1eb;
  -webkit-border-radius:7px;
  -moz-border-radius:   7px;
  border-radius:        7px;
}

#documents .document > a.link .icon {
  float: left;
  margin-right: 10px;
}

#documents .document > a.link .content {
  float: left;
  overflow: hidden;
}

#documents .document > a.link .content h5 {
  color: #282a2a;
  font-size: 13px;
  margin: 0; padding: 0;
}


#documents .document > a.link .content .meta {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #8a8d7d;
}

#documents .document a.delete-document {
  position: absolute;
  display: none;
  color: white;
  top: -5px;
  right: -5px;
  width:22px;
  height:22px;
}

#documents .document:hover a.delete-document {
  display: block;
}




/* Facets */

#facets {
  padding: 20px;
  background: #fbfbfa;
  border-bottom: 1px solid #e4e5dd;
}

#facets .list { overflow: auto; }

#facets .facet h3 { color: #888; padding: 3px; text-transform: uppercase; font-weight: bold; font-size: 11px; margin-top: 1px; }
#facets .facet:hover h3 { color: black; }

#facets .facet { float: left; margin-right: 10px; width: 230px; }

#facets .facet ul { margin: 0px; padding: 0px; }
#facets .facet.selected ul { display: block; }
#facets .facet li { list-style: none; margin: 0; padding: 0.25em; overflow: auto; float: left; }

#facets .facet li a { 
  display: block; 
  color: #8a8d7d; 
  font-size: 11px; 
  white-space: nowrap;
  background: #f0f1eb;
  padding: 0px 4px;
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
}

#facets .facet li a:hover { text-decoration: none; background: #d1d5bb; color: #fff; }

#facets .facet li a span { color: #ccc; margin-left: 5px; font-size: 8px; padding: 3px 4px; background: #fff; 
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
}


#facets .facet .facet-choices { overflow: auto; }
#facets .facet li.facet-choice { color: #888; }
#facets .facet li.facet-choice.selected { color: white;  }
#facets .facet li.facet-choice.selected a { color: white; background: #8cbb2f;}
