/*
-----------------------------------------
 Layout and typography
-----------------------------------------
*/

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; background: #f5f5f5;
  font-size: 1em;
  line-height: 24px;
  margin: 0; padding: 0;
}

.clear {
  clear: both;
}

/* Newspaper Color: #FFF5EC */

a { color: #252519; }
a:hover { text-decoration: underline; color: #19469D; }
a:visited { color: #261a3b; }
p { margin: 0 0 15px 0; }

h1, h2, h3, h4, h5, h6 {  margin: 40px 0 15px 0; }

h3, h4, h5, h6 { margin-top: 20px; }


h2 { font-size: 1.8em; margin-bottom: 1em;}

/* Title Page */

h1 {font-size: 5.4em; line-height: 1.2em; margin: 100px;  margin-bottom: 30px; text-align: center; }

#meta {text-align: center; margin-bottom: 100px;}

#meta .author {font-size: 24px; }
#meta .subtitle {margin-top: 80px; font-size: 30px; text-transform: uppercase;}

em { padding: 3px;}

/*
-----------------------------------------
 Editor related stuff
-----------------------------------------
*/


#toolbar {
  position: fixed;
  bottom: 60px;
  left: 20px;
  
  background: #ccc;
}

.content-node {
  margin-top: 10px;
  position: relative;
}

.content-node.active {
  background: #ccc;
}

.content-node.selected {
/*  background: #777;*/
  border: 1px dotted #000;
}

.content-node .content-node-info {
  display: none;
}

.content-node.active > .content-node-info {
  display: block;
  position: absolute;
  top: -30px;
  right: 0px;
  padding: 3px;
  color: #eee;
  opacity: 0.8;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  z-index: 50000;
  background: #333;
}


#editor {
  padding: 10px;
  
  background: #444;
  position: fixed;
  margin-left: 20px;
  width: 450px;
  bottom: 0px;
  top: 0px;
  
  color: #eee;
}


#editor a {
  background: #eee;
  padding: 3px;
  font-family: 'Helvetica';
}

#edit_node label {
  display: block;
  float: left;
  width: 100px;
  text-transform: uppercase;
  font-size: 10px;
}

#edit_node textarea {
  width: 320px;
  height: 100px;
  background: #ccc;
}

/*
-----------------------------------------
 Rendered content styling
-----------------------------------------
*/

#content {
  background: #fff;
  padding: 15px;
  padding-top: 1px;
  margin-left: 500px;
  margin-right: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#body {
  padding: 30px;
}

#footer {
  padding: 5px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: right;
  font-size: 12px;
}

#navigation {
  position: absolute;
  width: 250px;
  padding: 10px;
  left: 0px;
  top: 0px;
}


#toc {
  background: #000;
  font-size: 15px;
  color: #ddd;
  padding: 5px;
  padding: 50px;
}

#toc h3 {font-size: 22px; margin: 0; padding: 0; margin-top: 30px; font-style: italic;}


#toc ol { padding-left: 25px; margin-left: 0px; color: #777; }
#toc li { font-size: 20px; /* list-style: square; */ padding: 5px;}
#toc li a { color: #999; text-decoration: none; }
#toc li a:hover { color: #ddd; border-bottom: 1px solid #fff;}


code {
  display: block;
  font-family: Monaco, Consolas;
  font-size: 12px;
  margin-top: 15px;
  padding: 7px;
  border-left: 3px solid #ccc;
}


/*
-----------------------------------------
 Head up display
-----------------------------------------
*/

#hud {
  position: fixed; top: 40px; left: 40px; bottom: 40px; right: 40px; background: black; 
  -moz-border-radius: 15px; -webkit-border-radius: 15px;
  opacity: 0.8;
  color: white;
  padding: 20px;
  display: none;
}

#hud a { color: white; }



/*---------------------- HiJs Syntax Highlighting -------------------------*/

code .keyword              { color: #954121; }
code .string, code .regexp { color: #219161 }
/*code .class, code .special { font-weight: bold; }*/
/*code .number               { color: pink }*/
code .comment              { color: #888 }


/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #ffffcc }
body .c { color: #408080; font-style: italic }  /* Comment */
body .err { border: 1px solid #FF0000 }         /* Error */
body .k { color: #954121 }                      /* Keyword */
body .o { color: #666666 }                      /* Operator */
body .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .cp { color: #BC7A00 }                     /* Comment.Preproc */
body .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .cs { color: #408080; font-style: italic } /* Comment.Special */
body .gd { color: #A00000 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #FF0000 }                     /* Generic.Error */
body .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
body .gi { color: #00A000 }                     /* Generic.Inserted */
body .go { color: #808080 }                     /* Generic.Output */
body .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #0040D0 }                     /* Generic.Traceback */
body .kc { color: #954121 }                     /* Keyword.Constant */
body .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #954121 }                     /* Keyword.Pseudo */
body .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #B00040 }                     /* Keyword.Type */
body .m { color: #666666 }                      /* Literal.Number */
body .s { color: #219161 }                      /* Literal.String */
body .na { color: #7D9029 }                     /* Name.Attribute */
body .nb { color: #954121 }                     /* Name.Builtin */
body .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
body .no { color: #880000 }                     /* Name.Constant */
body .nd { color: #AA22FF }                     /* Name.Decorator */
body .ni { color: #999999; font-weight: bold }  /* Name.Entity */
body .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
body .nf { color: #0000FF }                     /* Name.Function */
body .nl { color: #A0A000 }                     /* Name.Label */
body .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
body .nt { color: #954121; font-weight: bold }  /* Name.Tag */
body .nv { color: #19469D }                     /* Name.Variable */
body .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
body .w { color: #bbbbbb }                      /* Text.Whitespace */
body .mf { color: #666666 }                     /* Literal.Number.Float */
body .mh { color: #666666 }                     /* Literal.Number.Hex */
body .mi { color: #666666 }                     /* Literal.Number.Integer */
body .mo { color: #666666 }                     /* Literal.Number.Oct */
body .sb { color: #219161 }                     /* Literal.String.Backtick */
body .sc { color: #219161 }                     /* Literal.String.Char */
body .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #219161 }                     /* Literal.String.Double */
body .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #219161 }                     /* Literal.String.Heredoc */
body .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #954121 }                     /* Literal.String.Other */
body .sr { color: #BB6688 }                     /* Literal.String.Regex */
body .s1 { color: #219161 }                     /* Literal.String.Single */
body .ss { color: #19469D }                     /* Literal.String.Symbol */
body .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
body .vc { color: #19469D }                     /* Name.Variable.Class */
body .vg { color: #19469D }                     /* Name.Variable.Global */
body .vi { color: #19469D }                     /* Name.Variable.Instance */
body .il { color: #666666 }                     /* Literal.Number.Integer.Long */
