/*
--------------------------------------------------------------------------------
 Lepilo UI
--------------------------------------------------------------------------------
*/

/* lpl green: rgba(148,207,13,1) */

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

li        {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
a         {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
label     {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
input     {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
textarea  {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }

.lpl.buttons {
  clear:both;
  margin:10px 5px 5px 0;
  padding:2px 0;
}

.lpl.button {
  display:inline;
  height:50px;
  padding:4px 10px 5px 10px;
  margin:10px 5px 10px 0;
  color:#333;
  font-size:12px;
  font-family:"Helvetica Neue Medium", "HelveticaNeue-Medium";
  font-weight:300;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration:none;
  text-shadow:0px 1px 0px rgba(255,255,255,0.5);
  line-height:1.5em;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border:1px solid rgba(100,100,100,0.6);
  /* border-bottom:1px solid rgba(100,100,100,0.5); */
  background:#e9e9e9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#e0e0e0));
  background: -moz-linear-gradient(top, #fafafa, #e0e0e0);
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: inset 0px 0px 1px rgba(255,255,255,0.25), inset 0px 0px 1px rgba(255,255,255,1), 0px 1px 1px rgba(255,255,255,0.35);
  -moz-box-shadow: inset 0px 0px 1px rgba(255,255,255,1), 0px 1px 1px rgba(255,255,255,0.35);
  box-shadow: inset 0px 0px 1px rgba(255,255,255,1), 0px 1px 1px rgba(255,255,255,0.35);
}

.lpl.button:active {
  border:1px solid rgba(0,0,0,0.35);
  background:#d9d9d9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d0d0d0));
  background: -moz-linear-gradient(top, #e6e6e6, #d0d0d0);
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25), 0px 1px 1px rgba(255,255,255,0.35);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25), 0px 1px 1px rgba(255,255,255,0.35);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.25), 0px 1px 1px rgba(255,255,255,0.35);
}

.lpl.button.action {
  color:#000;
  background:rgba(148,207,13,1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(225,256,43)), to(rgb(148,207,25)));
  background: -moz-linear-gradient(top, rgb(225,256,43), rgb(148,207,25));
  border:1px solid rgba(48,107,0,0.6);
}

.lpl.button.action:active {
  background:rgba(128,187,0,1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(188,217,0,0.75)), to(rgba(108,167,0,0.8)));
  background: -moz-linear-gradient(top, rgba(188,217,0,0.75), rgba(108,167,0,0.8));
}

.lpl.button.abort {
  color:#fff;
  text-shadow:0px -1px 0px rgba(0,0,0,0.5);
  background:rgba(213,14,60,1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(243,34,80)), to(rgb(183,0,30)));
  background: -moz-linear-gradient(top, rgb(243,34,80), rgb(183,0,30));
  border:1px solid rgba(120,0,20,1);
}

.lpl.button.abort:active {
  background:rgba(193,0,40,1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(213,0,20,0.75)), to(rgba(143,0,0,0.8)));
  background: -moz-linear-gradient(top, rgba(213,0,20,0.75), rgba(143,0,0,0.8));
}

.lpl.widget_container {
  position:relative;
  margin-bottom:20px;
  padding:5px 10px;
  background:#e5e5e5;
  background: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#fff), to(#f0f0f0));
  background: -moz-linear-gradient(top, #fff, #f0f0f0);
  color:#333;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border-bottom:1px solid rgba(255,255,255,0.5);
  -webkit-box-shadow:0px 5px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0px 5px 8px rgba(0,0,0,0.3);
  box-shadow:0px 5px 8px rgba(0,0,0,0.3);
}

.lpl.texteditor {
  position:relative;
  margin:0 5px 0 0;
}

.lpl.texteditor label {
  position:relative;
  display:block;
  margin:2px 0;
  padding:0 5px;
  font-size:0.8em;
  text-align:right;
  text-transform:uppercase;
}

.lpl.texteditor .lpl.inputcombo label {
  opacity:0.25;
}

.lpl.texteditor .lpl.inputcombo:hover label { opacity:1.0; }

.lpl.texteditor input {
  position:relative;
  display:block;
  width:100%;
  height:30px;
  margin:0 auto;
  padding:0 5px;
  font-size:18px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  border:1px solid transparent;
  background-color:rgba(255,255,255,0.4);
}

.lpl.texteditor textarea {
  position:relative;
  display:block;
  width:100%;
  height:250px;
  margin:0 auto;
  padding:5px;
  font-size:18px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  border:1px solid transparent;
  resize:none;
  background-color:rgba(255,255,255,0.4);
}

.lpl.texteditor input:hover, .lpl.texteditor textarea:hover { 
  background-color:rgba(255,255,255,0.9);
}

.lpl.texteditor input:focus, .lpl.texteditor textarea:focus { 
  background-color:rgba(255,255,255,1);
  -webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.25);
  -moz-box-shadow:0px 2px 4px rgba(0,0,0,0.25);
  box-shadow:0px 2px 4px rgba(0,0,0,0.25);
}



/*
--------------------------------------------------------------------------------
 Layout and typography
--------------------------------------------------------------------------------
*/

/*body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; background: #f5f5f5;
  font-size: 1em;
  line-height: 24px;
  margin: 0; padding: 0;
}*/


body {
  color:#fff;
  font-family:"HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:1.5em;
  background: #343634 url(assets/nr_bg.jpg);
}

.clear {
  clear: both;
}


a { color: #252519; }
a:hover { text-decoration: underline; color: #19469D; }
a:visited { color: #261a3b; }
p { margin: 0 0 15px 0; }

h1, h2, h3, h4, h5, h6 {  margin: 40px 0 15px 0; }

h3, h4, h5, h6 { margin-top: 20px; }


h2 { font-size: 1.8em; margin-bottom: 1em;}

/* Title Page */

h1 {font-size: 5.4em; line-height: 1.2em; margin: 100px;  margin-bottom: 30px; text-align: center; }

#meta {text-align: center; margin-bottom: 100px;}

#meta .author {font-size: 24px; }
#meta .subtitle {margin-top: 80px; font-size: 30px; text-transform: uppercase;}

em { padding: 3px;}

/*
-----------------------------------------
 Editor related stuff
-----------------------------------------
*/

/* bespin editor */
div.bespin {
  float:right;
  width: 300px;
  height: 120px;
}

#toolbar {
  position: fixed;
  bottom: 60px;
  left: 20px;
}

.content-node {
  margin-top: 10px;
  position: relative;
}

.content-node.active {
  background: #ccc;
}

.content-node.selected {
/*  background: #777;*/
  border: 1px dotted #000;
}

.content-node .content-node-info {
  display: none;
}

.content-node.active > .content-node-info {
  display: block;
  position: absolute;
  top: -30px;
  right: 0px;
  padding: 3px;
  color: #eee;
  opacity: 0.8;
  font-family: Helvetica;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  z-index: 50000;
  background: #333;
}

#actions {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 50000;
  padding: 2px;
}

#actions a {
  color: #eee;
  background: #444;
  padding: 3px;
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 2px;
}

#actions a:hover {
  color: white;
  background: black;
}


#sidebar {
  padding: 10px;
  position: fixed;
  margin-left: 20px;
  width: 450px;
  bottom: 0px;
  top: 0px;
}

#editor {

}


#editor a {
  background: #eee;
  padding: 3px;
}




/*
-----------------------------------------
 Rendered content styling
-----------------------------------------
*/

#content {
  background: #fff;
  padding: 15px;
  padding-top: 1px;
  margin-left: 500px;
  margin-top: 10px;
  margin-right: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

#body {
  padding: 30px;
}

#footer {
  padding: 5px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: right;
  font-size: 12px;
}

#navigation {
  position: absolute;
  width: 250px;
  padding: 10px;
  left: 0px;
  top: 0px;
}


#toc {
  background: #000;
  font-size: 15px;
  color: #ddd;
  padding: 5px;
  padding: 50px;
}

#toc h3 {font-size: 22px; margin: 0; padding: 0; margin-top: 30px; font-style: italic;}


#toc ol { padding-left: 25px; margin-left: 0px; color: #777; }
#toc li { font-size: 20px; /* list-style: square; */ padding: 5px;}
#toc li a { color: #999; text-decoration: none; }
#toc li a:hover { color: #ddd; border-bottom: 1px solid #fff;}


code {
  display: block;
  font-family: Monaco, Consolas;
  font-size: 12px;
  margin-top: 15px;
  padding: 7px;
  border-left: 3px solid #ccc;
}





/*---------------------- HiJs Syntax Highlighting -------------------------*/

code .keyword              { color: #954121; }
code .string, code .regexp { color: #219161 }
/*code .class, code .special { font-weight: bold; }*/
/*code .number               { color: pink }*/
code .comment              { color: #888 }


/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #ffffcc }
body .c { color: #408080; font-style: italic }  /* Comment */
body .err { border: 1px solid #FF0000 }         /* Error */
body .k { color: #954121 }                      /* Keyword */
body .o { color: #666666 }                      /* Operator */
body .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .cp { color: #BC7A00 }                     /* Comment.Preproc */
body .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .cs { color: #408080; font-style: italic } /* Comment.Special */
body .gd { color: #A00000 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #FF0000 }                     /* Generic.Error */
body .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
body .gi { color: #00A000 }                     /* Generic.Inserted */
body .go { color: #808080 }                     /* Generic.Output */
body .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #0040D0 }                     /* Generic.Traceback */
body .kc { color: #954121 }                     /* Keyword.Constant */
body .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #954121 }                     /* Keyword.Pseudo */
body .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #B00040 }                     /* Keyword.Type */
body .m { color: #666666 }                      /* Literal.Number */
body .s { color: #219161 }                      /* Literal.String */
body .na { color: #7D9029 }                     /* Name.Attribute */
body .nb { color: #954121 }                     /* Name.Builtin */
body .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
body .no { color: #880000 }                     /* Name.Constant */
body .nd { color: #AA22FF }                     /* Name.Decorator */
body .ni { color: #999999; font-weight: bold }  /* Name.Entity */
body .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
body .nf { color: #0000FF }                     /* Name.Function */
body .nl { color: #A0A000 }                     /* Name.Label */
body .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
body .nt { color: #954121; font-weight: bold }  /* Name.Tag */
body .nv { color: #19469D }                     /* Name.Variable */
body .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
body .w { color: #bbbbbb }                      /* Text.Whitespace */
body .mf { color: #666666 }                     /* Literal.Number.Float */
body .mh { color: #666666 }                     /* Literal.Number.Hex */
body .mi { color: #666666 }                     /* Literal.Number.Integer */
body .mo { color: #666666 }                     /* Literal.Number.Oct */
body .sb { color: #219161 }                     /* Literal.String.Backtick */
body .sc { color: #219161 }                     /* Literal.String.Char */
body .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #219161 }                     /* Literal.String.Double */
body .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #219161 }                     /* Literal.String.Heredoc */
body .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #954121 }                     /* Literal.String.Other */
body .sr { color: #BB6688 }                     /* Literal.String.Regex */
body .s1 { color: #219161 }                     /* Literal.String.Single */
body .ss { color: #19469D }                     /* Literal.String.Symbol */
body .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
body .vc { color: #19469D }                     /* Name.Variable.Class */
body .vg { color: #19469D }                     /* Name.Variable.Global */
body .vi { color: #19469D }                     /* Name.Variable.Instance */
body .il { color: #666666 }                     /* Literal.Number.Integer.Long */
