<!DOCTYPE html> 
<html> 
<head> 
  <title>Substance — Open Documents for the Web</title>
  
  <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
  
  <script>
    var seed = {{{{seed}}}};
    var config = {{{{config}}}};
    var session = {{{{session}}}};
    var scripts = {{{{scripts}}}};
    var templates = {{{{templates}}}};
  </script>
  
  <script src="/javascripts/head.min.js"></script>
  <script>
    head.js.apply(this, scripts);
  </script>
  
  {{{{ga}}}}
</head>
<body>
  <div id="container">
    <div id="header">
      
    </div>
    
    <div id="main">
      <!-- Various content (used for user settings dialogue etc.) -->  
      <div id="content_wrapper" class="app view">
      </div>
    
      <!-- The document browser -->
      <div id="browser_wrapper" class="app view hidden">
      </div>
    
      <!-- The document -->
      <div id="document_wrapper" class="app view hidden">
      </div>
    </div>
    
    <div id="footer">
      <div class="credits"><a href="http://substance.io/substance/substance">About</a> &middot; <a href="http://twitter.com/_substance" target="_blank">Twitter</a> &middot; <a href="http://github.com/michael/substance" target="_blank">Source Code</a> &middot; <a href="https://groups.google.com/group/substance_" target="_blank">Discuss</a></div>
      <div class="version"><a href="http://substance.io/substance/release-notes">Substance 0.4.0</a></div>
    </div>
  </div>
  
  <div id="sync_state"></div>
  
  <div id="notifications">
    <div class="wrapper">
    </div>
  </div>
  
  <div class="tooltip">
    
  </div>
</body>
</html>
