<!doctype html>
<html>

<head>
  <title>Substance – Tests</title>
  <link rel="stylesheet" href="/jasmine/jasmine.css" />
</head>

<body>
  <script>
    var seed = {{{seed}}};
    var templates = {{{{templates}}}};
  </script>

  <script src="/javascripts/underscore.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/jquery.timeago.js"></script>
  <script src="/javascripts/backbone.js"></script>
  <script src="/javascripts/proper.js"></script>
  <script>window.editor = new Proper();</script>
  <script src="/datajs/data.js"></script>

  <script src="/jasmine/jasmine.js"></script>
  <script src="/jasmine/jasmine-html.js"></script>

  <script>
    // Jasmine helpers
    function bindSpy (obj, eventName) {
      var spy = jasmine.createSpy();
      obj.bind(eventName, spy);
      return spy;
    }
  </script>

  <script src="/client/model.js"></script>
  <script src="/spec/model.js"></script>

  <script src="/client/state_machine.js"></script>
  <script src="/spec/state_machine.js"></script>

  <script src="/client/helpers.js"></script>
  <!--<script src="/spec/helpers.js"></script>-->

  <script src="/client/views/comments.js"></script>
  <script src="/spec/views/comments.js"></script>

  <script src="/client/views/controls.js"></script>
  <script src="/spec/views/controls.js"></script>

  <script src="/client/views/node.js"></script>
  <script src="/spec/views/node.js"></script>

  <script src="/client/views/node/document.js"></script>
  <!--<script src="/spec/views/node/document.js"></script>-->

  <script src="/client/views/node/resource.js"></script>
  <!--<script src="/spec/views/node/resource.js"></script>-->

  <script src="/client/views/node/text.js"></script>
  <!--<script src="/spec/views/node/text.js"></script>-->

  <script src="/client/views/node/section.js"></script>
  <!--<script src="/spec/views/node/section.js"></script>-->

  <script src="/client/views/node/quote.js"></script>
  <!--<script src="/spec/views/node/quote.js"></script>-->

  <script src="/client/views/node/image.js"></script>
  <!--<script src="/spec/views/node/image.js"></script>-->

  <script src="/client/views/node_list.js"></script>
  <script src="/spec/views/node_list.js"></script>

  <script src="/client/views/toc.js"></script>
  <script src="/spec/views/toc.js"></script>

  <script>
    var reporter = new jasmine.TrivialReporter()
    ,   env = jasmine.getEnv();
    
    env.addReporter(reporter);
    $(document).ready(function () { env.execute(); });
  </script>
</body>

</html>
