<!DOCTYPE html> 
<html> 
<head> 
  <title>Untitled — Substance™</title>
  
  <script>
    var seed = {{seed}};
  </script>
  
  <script type="text/x-handlebars-template" name="document_wrapper">
    <div id="document_menu" class="menu">Document </div>
    <div id="attributes">attributes</div>
    <div id="document">
      <p>No document loaded... You can either create a <em>New Document</em> or <em>Browse</em> existing ones.</p>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="browser_not_supported">
    <div id="signup">
      <h3>Your Browser is currently not supported</h3>
      <div class="lpl texteditor">
        <p>
        Substance makes use of WebSockets, a new technology that allows realtime communication.
        </p>
        <p>Please take the time to upgrade your browser to one of those supporting WebSockets — it is worth it!</p>
        <div style="text-align: center;">
          <a href="http://www.google.com/chrome/" title="Google Chrome"><img src="/images/chrome.png"/></a>
          <a href="http://www.apple.com/safari/" title="Safari 5"><img src="/images/safari.png"/></a>
          <a href="http://www.mozilla.com/en-US/firefox/beta/" title="Firefox 4 Beta"><img src="/images/firefox.png"/></a>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="collaborators">
    <h3>Currently active Collaborators</h3>
    <ul>
      {{#status/collaborators}}
        <li>{{.}}</li>
      {{/status/collaborators}}
    </ul>
    <p></p>
    <p>Invite new collaborators by sharing this link:</p>
    <p>
      <input type="text" value="http://{{hostname}}/#{{author}}/{{name}}" style="width: 450px;"></input>
    </p>
  </script>
  
  <script type="text/x-handlebars-template" name="document_menu">
    <div class="label"><a class="scroll-to" href="#document_wrapper">EDIT</a></div>
    <div class="panel">Attributes</div>
    <div class="menu-group header">
      <!-- <a class="icon browse" href="#edit" title="Edit Document">Edit document</a>-->
      <span class="label">{{username}} / </span>
      {{#edit}}
        <input type="text" id="document_name" name="document_name" value="{{../document_name}}"/>
      {{/edit}}
      {{^edit}}
        {{document_name}}
      {{/edit}}
    </div>
    
    {{#edit}}
      <div class="menu-group edit-document">
        <a class="icon save-document right" href="#save_document" title="save current document">save current document</a>
      </div>
    {{/edit}}
  </script>
  
  <script type="text/x-handlebars-template" name="browser_menu">
    <div class="label"><a class="scroll-to" href="#browser_wrapper">BROWSE</a></div>
    <div class="panel">
      {{#username}}
        <!--<a class="icon logout right" href="#logout" title="log out">log out</a>-->
        <span class="label">Signed in as: <strong>{{.}}</strong></span>
         <a class="logout button" href="#logout" title="log out">Log out</a>
      {{/username}}
      {{^username}}
        <span class="label">Start writing!</span>
        <a class="login button" href="/" title="sign in">Sign in</a>
      {{/username}}
    </div>

    <div class="menu-group header">
      <span class="label">{{num_documents}} Documents</span>
    </div>
    
    <div class="menu-group new-document">
      {{#username}}
        <a class="toggle-new-document button" href="#new" title="Create a new document">New Document</a>
      {{/username}}
      <div class="document-type-selection">
        {{#document_types}}
          <a class="document-type new-document" type="{{type}}" href="#">{{name}}</a>
        {{/document_types}}
      </div>
    </div>
    
  </script>
  
  <script type="text/x-handlebars-template" name="document_browser">
    <div class="menu" id="browser_menu"></div>
    
    <div id="browser">
      <div id="login_action">
        <div id="login">
          <form id="login-form" class="auth-form">
            <label for="login-user">username</label>
            <input type="text" name="username" id="login-user" value="">
            <label for="login-password">password</label>
            <input type="password" name="password" id="login-password" value="">
            <p>
              <br/>
              <input type="submit" value="Login"/>
            </p>
            <a href="/" class="signup">Create a free account</a>
          </form>
        </div>

        <div id="signup">
          <form id="signup-form" class="auth-form">
            <label for="signup-user">username</label>
            <input type="text" name="username" id="signup-user" value="">
            <label for="signup-email">email</label>
            <input type="text" name="email" id="signup-email" value="">
            <label for="signup-password">password</label>
            <input type="text" name="password" id="signup-password" value="">
            <p><br/>
            <input type="submit" value="Create account"/>
            </p>
          </form>
        </div>
      </div>
      
      
      <div id="facets">
        Loading facets...
      </div>
    
      <div id="documents" class="document-list">
        <h2>RESULTS</h2>
        <div class="list">
          {{#documents}}
            <div class="document">
              <a class="link load-document" href="#{{username}}/{{document_name}}" document="{{value/_id}}" user="{{username}}" name="{{document_name}}">
                <div class="title">{{title}}</div>
                <div class="name">{{username}} / <span>{{document_name}}</span></div>
                <p class="meta">Updated {{last_modified}}</p>
                <p class="status {{status}}">{{status}} {{document_type}}</p>
              </a>
            </div>
          {{/documents}}
        </div>
        <br class="clear"/>
      </div>
      
      <!--<br class="clear"/>-->
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="facets">
    <h2>FILTER</h2>
    <div class="list">
      {{#facets}}
        <div class="facet" id="facet_{{property}}">
          <h3>{{property_name}}</h3>
          <ul class="facet-choices">
            {{#selected_facet_choices}}
              <li class="facet-choice selected"><a href="#" class="remove-criterion" property="{{../property}}" operator="CONTAINS" value="{{value}}">{{value}}<span class="item-count">{{item_count}}</span></a></li>
            {{/selected_facet_choices}}
            {{#facet_choices}}
              <li class="facet-choice"><a href="#" class="add-criterion" property="{{../property}}" operator="CONTAINS" value="{{value}}">{{value}}<span class="item-count">{{item_count}}</span></a></li>
            {{/facet_choices}}
          </ul>
        </div>
      {{/facets}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="controls">
    <div class="controls" node="{{node}}" destination="{{destination}}">
      <div class="handle">
        <a href="#">--&gt; INSERT</a>
      </div>
      <div class="actions">
        {{#actions}}
          <a href="#" type="{{nodeType}}" node="{{node}}" parent="{{parentNode}}" class="add_{{insertionType}}">{{nodeTypeName}}</a>
        {{/actions}}
        <br class="clear"/>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_text">
    <h3>Edit Text</h3>
    <div class="lpl texteditor" id="edit_node">
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_image">
    <form id="upload_image" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
      <div class="lpl texteditor">
          <label for="my_file">select file</label>
          <input type="file" name="my_file" id="my_file" />
          <input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;4ccca6b9de144af4882760af72ec3211&quot;},&quot;steps&quot;:{&quot;resize_image&quot;:{&quot;robot&quot;:&quot;\/image\/resize&quot;,&quot;width&quot;:320,&quot;height&quot;:240,&quot;result&quot;:true}},&quot;redirect_url&quot;:&quot;http:\/\/example.com\/upload&quot;}" />
          <input type="submit" value="Upload">
      </div>
      <div id="progress_container">
        <div class="lpl progress-container"><div id="upload_progress" class="lpl progress-bar stripes animated" style="width:60%"></div></div>
        <div id="image_progress_legend" class="lpl legend">
      </div>
    </form>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_section">
    <h3>Edit section</h3>
  </script>
  
  
  <script type="text/x-handlebars-template" name="edit_unsaved_document">
    <h2>Attributes</h2>
    <p class="info">
      You are editing a draft document. You need to <a href="#" class="save-document">save</a> it in order to to edit attributes.
    </p>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_attributes">
    <dl class="document-attributes">
      <dt>Creator:</dt>
      <dd>{{creator}}</dd>
      
      <dt>Created At:</dt>
      <dd>{{created_at}}</dd>
      
      <dt>Last modified:</dt>
      <dd>{{updated_at}}</dd>
      
      <dt>Publish Date:</dt>
      <dd>
        {{published_on}} 
          
        {{^unpublished}}
          (<a href="#" class="unpublish-document">Unpublish</a>)
        {{/unpublished}}
        
        {{^published_on}}
          Not published (<a href="#" class="publish-document">Publish</a>)
        {{/published_on}}
      </dd>
    </dl>
    
    <div class="lpl texteditor">
      {{#attributes}}
        <h4>{{name}}:</h4>
        <div id="property_{{key}}" key="{{key}}" type="{{type}}" class="attribute-editor {{#unique}} unique{{/unique}}{{^unique}} non-unique{{/unique}}"></div>
      {{/attributes}}
    </div>
  </script>
  
  
  <script type="text/x-handlebars-template" name="show_attributes">
    <dl class="document-attributes">
      <dt>Creator:</dt>
      <dd>{{document/author}}</dd>

      <dt>Created At:</dt>
      <dd>{{created_at}}</dd>

      <dt>Last modified:</dt>
      <dd>{{updated_at}}</dd>

      {{#published_on}}
      <dt>Publish Date:</dt>
      <dd>
        {{.}}
      </dd>
      {{/published_on}}
    </dl>

    <div class="lpl texteditor">
      {{#attributes}}
        <h4>{{name}}:</h4>
        <div class="items">
          {{#values}}
            <span class="item">{{.}}</span>
          {{/values}}
        </div>
      {{/attributes}}
    </div>
  </script>

  <!-- content-node templates for the editor -->
  <script type="text/x-handlebars-template" name="document">    
    <div id="{{node/html_id}}" name={{node/key}} class="content-node document">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <h1 class='content'>{{title}}</h1>
      <p class="lead content" id="document_lead">{{lead}}</p>
      {{{content}}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="section">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node section">
      {{#edit}}<a href="#" class="remove remove-node" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <h2 class='content'>{{name}}</h2>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
      {{{content}}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="text">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node text">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <div class='content'>{{{content}}}</div>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="quote">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node quote">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <quote class='content'>{{{content}}}</quote>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="code">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node code">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <pre><code class='content'>{{{content}}}</code></pre>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="question">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node question">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <p class='question content'>{{{content}}}</p>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="answer">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node answer">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <p class='answer content'>{{{content}}}</p>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="image">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node image">
      {{#edit}}<a href="#" class="remove remove-node" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#url}}
        <img src="{{.}}"/>
      {{/url}}
      {{^url}}
        [Upload image]
      {{/url}}
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="multi_string_editor">
    <form>
      <input type="text" name="new_value"/>
      <input type="submit" value="+"/>
    </form>
    <div class="items">
      {{#items}}
        <span class="item">{{.}} <a href="/" value="{{.}}" class="remove-item">x</a></span>
      {{/items}}
      <br class="clear"/>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="string_editor">
    <input type="text" name="value" value="{{value}}"/>
  </script>
  
  <!-- styles --> 
  <link href="stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
  
  <!-- libraries --> 
  <script src="lib/jquery-1.4.3.min.js"></script>
  <script src="lib/handlebars.js"></script>
  <script src="lib/showdown.js"></script>

  <!-- transloadit.com file processing service -->
  <script src="lib/jquery.transloadit2.js"></script>
  
  <!-- Libraries -->
  <script src="lib/jquery.hotkeys.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/data/data.js"></script>
  <script src="lib/data/adapters/ajax_adapter.js"></script>
  <script src="lib/unveil.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/sanitize.js"></script>
  <script src="lib/proper.js"></script>
  <script src="dnode.js"></script>
  
  <!-- Backbone Extensions -->
  <script src="src/client/notifier.js"></script>
  
  <!-- Shared helpers -->
  <script src="src/client/helpers.js"></script>
  
  <!-- The app -->
  <script src="src/client/renderers/html_renderer.js"></script>
  <script src="src/client/node_editors/document_editor.js"></script>
  <script src="src/client/node_editors/section_editor.js"></script>
  <script src="src/client/node_editors/text_editor.js"></script>
  <script src="src/client/node_editors/quote_editor.js"></script>
  <script src="src/client/node_editors/code_editor.js"></script>
  <script src="src/client/node_editors/question_editor.js"></script>
  <script src="src/client/node_editors/answer_editor.js"></script>
  
  <script src="src/client/node_editors/image_editor.js"></script>
  <script src="src/client/controllers/application.js"></script>
  
  <!-- UI components -->
  <script src="src/client/ui/common.js"></script>
  <script src="src/client/ui/string_editor.js"></script>
  <script src="src/client/ui/multi_string_editor.js"></script>
    
  <!-- Views -->
  <script src="src/client/views/document.js"></script>
  <script src="src/client/views/attributes.js"></script>
  
  <script src="src/client/commands.js"></script>
  <script src="src/client/views/document_browser.js"></script>
  <script src="src/client/views/facets.js"></script>
  <script src="src/client/views/collaborators.js"></script>
  <script src="src/client/views/application.js"></script>
  
</head>
<body>
  <div id="container">
    <div id="browser_wrapper">
    </div>
    
    <div id="document_wrapper">
    </div>
  </div>
  
  <div id="notifications">
    <div class="wrapper">
    </div>
  </div>

</body> 
</html>