<!DOCTYPE html> 
<html> 
<head> 
  <title>Substance — Open Documents for the Web</title>
  
  <script>
    var seed = {{{{seed}}}};
    var config = {{{{config}}}};
    var session = {{{{session}}}};
    var scripts = {{{{scripts}}}};
  </script>
  
  <script type="text/x-ejs-template" name="edit_attributes">
    <h1>Attributes</h1>
    <dl class="document-attributes">
      <dt>Creator</dt>
      <dd><%= doc.get('creator').get('username') %></dd>
      
      <dt>Created On</dt>
      <dd><%= _.date(doc.get('created_at')) %></dd>
      
      <dt>Last modified</dt>
      <dd><%= _.prettyDate(new Date(doc.get('updated_at')).toJSON()) %></dd>
      
      <% attributes.each(function(attribute) { %>
        <dt><%= attribute.name %></dt>
        <dd id="property_<%= attribute.key %>" property="/<%= attribute.type._id.split('/')[2] %>/<%= attribute.key %>" key="<%= attribute.key %>" type="string" class="attribute-editor <%= attribute.unique ? "unique" : "non-unique"%>"></dd>
      <% }); %>
    </dl>
  </script>
  
  <script type="text/x-ejs-template" name="show_attributes">
    <h1>Attributes</h1>
    <dl class="document-attributes">
      <dt>Creator</dt>
      <dd><%= doc.get('creator').get('name') || doc.get('creator').get('username') %></dd>
      
      <dt>Created On</dt>
      <dd><%= _.date(doc.get('created_at')) %></dd>
      
      <dt>Last modified</dt>
      <dd><%= _.prettyDate(new Date(doc.get('updated_at')).toJSON()) %></dd>

      <% attributes.each(function(attribute) { %>
        <% if (doc.get(attribute.key).length > 0) { %>
          <dt><%= attribute.name %></dt>
          <dd>
            <div class="items">
              <% doc.get(attribute.key).each(function(v) { %>
                <div class="item"><%= v.get('name') %></div>
              <% }); %>
            </div>
          </dd>
        <% } %>
      <% }); %>
    </dl>
  </script>
  
  <script type="text/x-ejs-template" name="signup">
    <div id="signup" class="page-content">
      <h1>Start writing.</h1>
      <form id="signup-form" class="auth-form">
        <div>
          <label for="signup_user">Username:<span>http://substance.io/#USERNAME (No special characters)</span></label>
          <input type="text" id="signup_user" name="username"/>
          <div class="input-message" id="signup_user_message"></div>
        </div>
    
        <div>
          <label for="signup_name">Full Name:<span>Your real name</span></label>
          <input type="text" id="signup_name" name="name"/>
        </div>
    
        <div>
          <label for="signup_email">Email:<span>A valid email address</span></label>
          <input type="text" id="signup_email" name="email"/>
        </div>
    
        <div>
          <label for="signup_password">Password:<span>At least 3 characters</span></label>
          <input type="password" id="signup_password" name="password"/>
        </div>
        
        <div id="registration_error_message"></div>
        <br/>
        <div>
        
          <label for="">&nbsp;</label>
          <input type="submit" value="Create Account"/>
        </div>
      </form>
    </div>
  </script>
  
  <script type="text/x-ejs-template" name="startpage">
    <div id="startpage">
      <div class="intro"><b>Substance</b> is a web-based document authoring and publishing platform. <a href="#signup" class="toggle-signup">Create an Account</a> or <a href="#substance/substance">learn more</a>.</div>
      <!-- Features -->
      <div id="features">
        <div class="feature write">
          <div class="feature-wrapper">
            <h1 class="feature-title">
              Write
            </h1>
            <p class="feature-descr">
              <b>Write</b> and <b>annotate</b> documents right in the <b>browser</b>.
            </p> 
            <ul class="feature-properties">
              <li>
                <div>Semantic Editing</div>
                <div class="descr">Focus is on Content not Layout</div>
              </li>
              <li>
                <div>Images <small style="color: #bd0a0a;">NEW!</small></div>
                <div class="descr">Embed images in your document</div>
              </li>
              <li>
                <div>Publish</div>
                <div class="descr">Publish and instantly share your articles</div>
              </li>
              <li>
                <div>Soon: Collaboration</div>
                <div class="descr">Collaborative Editing in a team</div>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="feature browse">
          <div class="feature-wrapper">
            <h1 class="feature-title">
              Browse
            </h1>
            <p class="feature-descr">
              <b>Find</b> and <b>read</b> relevant
              documents by using novel navigation techniques.
            </p> 
            <p class="feature-descr">
              Use the Browser Tab to search for a keyword or show <a href="#recent">Recent Documents</a>.
            </p>
            <ul class="feature-properties">
              <li>
                <div>Search by Keyword</div>
                <div class="descr">Find relevant documents based on keywords</div>
              </li>
              <li>
                <div>Faceted Browsing</div>
                <div class="descr">Filter matched documents using faceted navigation</div>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="feature contribute">
          <div class="feature-wrapper">
            <h1 class="feature-title">
              Contribute
            </h1>
            <p class="feature-descr">
              In order to <b>improve</b> the system
              and keep it <b>open</b> and <b>free</b>, we
              need your help!
            </p><p class="feature-descr">
              With your donations we ‘ll
              be able to add new features
              such as <b>Realtime Collaboration</b>,
              <b>User Comments</b> and <b>PDF Export</b>.
            </p>
            <div>
              <a href="http://substance.io#substance/contribute">
                <div id="donations_total">$ 95.00</div>
                <div id="donations_total_label">contributed so far</div>
              </a>
              <form id="contribute_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="WAP9SGX5H29HS">
                <a href="#contribute" onclick="javascript: $('#contribute_form').submit(); return false;" id="contribute_button" class="button contribute">Contribute</a>
                <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
              </form>
              <br class="clear"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/x-ejs-template" name="header">
    <div class="title">
      
      <a href="#recent"<% if (!user) { %> class="toggle-startpage"<% } %>>Substance.io</a>
      
    </div>
    <div id="sync_state"></div>
    <div id="login_state">
      <div id="login">
        <% if (user) { %>
          <div>
            <a href="#<%= user.get('username') %>"><b><%= user.get('name') || user.get('username') %></b></a>
            <a href="#" class="toggle-user-settings">Account Settings</a>
            <a href="#logout" class="logout">Logout</a>
          </div>
        <% } else { %>
          <form id="login-form" class="auth-form">
            <input type="text" name="username" class="hint" id="login-user" value="username">
            <input type="password" name="password" class="hint" id="login-password" value="password">
            <input type="submit" value="Login"/>
          </form>
          <div class="signup">
            New to Substance? <a href="#signup" class="toggle-signup">Create an Account</a>
          </div>
        <% } %>
      </div>
    </div>
  </script>

  <script type="text/x-ejs-template" name="user_settings">
    <div id="user_settings" class="page-content">
      
      <form id="user_settings_form">
        <h1>Account Settings</h1>
        <br/><h2>Public Profile</h2>
        <div>
          <label for="user_username">Username:<span>Cannot be changed</span></label>
          <%= user.get('username') %>
          <input type="hidden" id="user_username" name="user_username" value="<%= user.get('username') %>"/>
        </div>
        
        <div>
          <label for="user_name">Name:<span>Your full name</span></label>
          <input type="text" id="user_name" name="user_name" value="<%= user.get('name') %>"/>
        </div>
      
        <div>
          <label for="user_email">Email:<span>Publicly visible</span></label>
          <input type="text" id="user_email" name="user_email" value="<%= user.get('email') %>"/>
        </div>
                
        <div>
          <label for="user_website">Website:<span>http://your-website.com</span></label>
          <input type="text" id="user_website" name="user_website" value="<%= user.get('website') %>"/>
        </div>
        
        <div>
          <label for="user_company">Company:<span>Or organization</span></label>
          <input type="text" id="user_company" name="user_company" value="<%= user.get('company') %>"/>
        </div>
        
        <div>
          <label for="user_location">Location:<span>City, Country</span></label>
          <input type="text" id="user_location" name="user_location" value="<%= user.get('location') %>"/>
        </div>
        <br/><br/>
        <h2>Change password</h2>
      
        <div>
          <label for="user_password">Password:<span>Choose a new password or leave blank</span></label>
          <input type="password" id="user_password" name="user_password"/>
        </div>
        
        <div>
          <label for="user_password_confirmation">Password Confirmation:<span>Confirm new password</span></label>
          <input type="password" id="user_password_confirmation" name="user_password_confirmation"/>
        </div>
        
        <div>
          <label for="">&nbsp;</label>
          <input type="submit" id="document_name" value="Update Information"/>
        </div>
      </form>
    </div>
  </script>
  
  <script type="text/x-ejs-template" name="new_document">
    <div id="new_document" class="page-content">
      <h1>New Document</h1>
      <form id="create_document">
        <!--<div>
          <label for="document_type">Document Type:<span>Choose from various document types</span></label>
          <select id="documen_type" name="document_type">
            <option value="/type/article">Article</option>
            <option value="/type/manual">Manual</option>
            <option value="/type/qaa">Interview</option>
          </select>
          <div class="input-messages"></div>
        </div>-->
        
        <div>
          <label for="new_document_name">Document ID:<span>http://substance.io/#USERNAME/ID</span></label>
          <input type="text" id="new_document_name" name="new_document_name"/>
          <div class="input-message" id="new_document_name_message"></div>
        </div>
        
        <div>
          <label for="">&nbsp;</label>
          <input type="submit" id="document_name" value="Create Document"/>
        </div>
      </form>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="document_wrapper">
    <div id="document_actions" class="view-actions">
      <a href="#" title="Read Document" class="toggle-show-mode view-action-icon read<%= mode !== 'edit' ? ' active' : '' %>"><span>Read</span></a>
      <% if (doc && doc.get('creator')._id === '/user/'+app.username) { %>
        <a href="#" title="Write Document" class="toggle-edit-mode view-action-icon write<%= mode === 'edit' ? ' active' : '' %>"><span>Write</span></a>
        <a href="#" title="Delete Document" class="delete-document view-action-icon delete"><span>Delete</span></a>
      <% } %>
    </div>
    <div id="document_inner_wrapper">
      <div id="document">
        <p>No document loaded... You can either create a <em>New Document</em> or <em>Browse</em> existing ones.</p>
      </div>
      <div id="attributes"></div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="browser_not_supported">
    <div class="browser-not-supported">
      <h1>Substance.io
        <p>Open Documents For The Web</p>
      </h1>
      <div></div>
      <div class="lpl texteditor">
        <h2>Browser not supported</h2>
        <p>
          Substance makes use of the latest browser technology. In order to create, publish<br/> and view documents online,
          you need to upgrade your browser.
        </p>
        
        <p class="recommendation">We recommend one of these:</p>
        <div style="text-align: center;">
          <a href="http://www.google.com/chrome/" title="Google Chrome"><img src="/images/chrome.png"/></a>
          <a href="http://www.apple.com/safari/" title="Apple Safari"><img src="/images/safari.png"/></a>
          <!--<a href="http://www.mozilla.com/en-US/firefox/beta/" title="Firefox 4 Beta"><img src="/images/firefox.png"/></a>-->
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="collaborators">
    <h3>Currently active Collaborators</h3>
    <ul>
      {{#status/collaborators}}
        <li>{{.}}</li>
      {{/status/collaborators}}
    </ul>
    <p></p>
    <p>Invite new collaborators by sharing this link:</p>
    <p>
      <input type="text" value="http://{{hostname}}/#{{author}}/{{name}}" style="width: 450px;"></input>
    </p>
  </script>
  
  <script type="text/x-ejs-template" name="browser_tab">
    <div class="cursor"><span></span></div>
    <div class="icon browse"></div>
    <div class="tab-label">Browser</div>
    <form id="search_form"><input type="text" id="search" name="search" value="<%= query_descr %>" autocomplete="off"/></form>
    <div class="count"><%= documents.length > 0 ? documents.length : ''%></div>
    <br class="clear"/>
    <div class="results"></div>
  </script>
  
  <script type="text/x-ejs-template" name="document_tab">
    <div class="cursor"><span></span></div>
    <div class="icon read"></div>
    <div class="tab-label">Document</div>
    <div class="user-name">
      <%= username %> / <b><%= document_name %></b>
    </div>
    <!--<input type="text" id="document_name" name="document_name" value="foo"/>-->
  </script>
  
  <script type="text/x-ejs-template" name="document_browser">
    <div id="browser_actions" class="view-actions">
    </div>
  
    <div id="browser_inner_wrapper">
      <% if (user) { %>
        <div id="user_profile">
          <div class="container">
            <div class="avatar">
              <img<% if (user.get('username') === app.username) { %> title="Change your avatar at Gravatar.com"<% } %> class="left" src="<%= _.gravatar(user.get('email'), 100) %>"/>
            </div>
            <div class="username">
              <h1><%= user.get('name') %></h1>
              <p><em>as</em> <b><%= user.get('username') %></b> <em>since</em> <%= _.date(user.get('created_at')) %></p>
            </div>
            <div class="attributes">
              <% if (user.get('location')) { %>
                <span><em>Located in</em> <%= user.get('location') %></span>
              <% } %>
              
              <% if (user.get('company')) { %>
                <span><em>Works at</em> <%= user.get('company') %></span>
              <% } %>
              
              <% if (user.get('website')) { %>
                <span><em>Website at</em> <a target="_blank" href="<%= user.get('website') %>"><%= user.get('website') %></a></span>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
    
      <% if (documents.length > 0) { %>
        <div id="browser">
          <div id="facets">
            Loading facets...
          </div>
          
          <div id="documents">
            <h2><%= documents.length %> Document<%= documents.length > 1 ? 's' : '' %></h2>
            <table>
              <thead>
                <tr><th>Title</th><th>Author</th><th>Published</th><th class="right-align">Last modified</th></tr>
              </thead>
              <tbody>
              <% documents.each(function(doc) { %> 
                <tr class="<%= doc.get('published_on') ? 'published' : 'draft' %>">
                  <th><a class="link load-document" href="#<%= doc.get('creator')._id.split('/')[2] %>/<%= doc.get('name') %>" document="<%= doc._id %>" user="<%= doc.get('creator')._id.split('/')[2] %>" name="<%= doc.get('name') %>"><%= doc.get('title') || 'Untitled' %><span class="document-type"><%= doc.type.key.split('/')[2] %></span></a></th>
                  <td><%= doc.get('creator').get('name') || doc.get('creator').get('username') || doc.get('creator')._id.split('/')[2]%></td>
                  <td>
                    <% if (doc.get('published_on')) { %>
                      <%= _.date(doc.get('published_on')) %>
                    <% } else { %>
                      - - -
                    <% } %>
                  </td>
                  <td class="right-align"><%= _.prettyDate(doc.get('updated_at')) %></td>
                </tr>
              <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      <% } else { %>
        <div id="documents">
          <h2>No Documents ...</h2>
        </div>
      <% } %>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="facets">
    <h2>Filter</h2>
    <div class="list">
      {{^facets}}
        <p class="no-filters">No filters available</p>
      {{/facets}}
      
      {{#facets}}
        <div class="facet" id="facet_{{property}}">
          <h3>{{property_name}}</h3>
          <ul class="facet-choices">
            {{#selected_facet_choices}}
              <li class="facet-choice selected"><a href="#" class="remove-criterion" property="{{../property}}" operator="CONTAINS" value="{{key}}"><div class="tick-icon ticked"/>{{value}}<span class="item-count">{{item_count}}</span></a></li>
            {{/selected_facet_choices}}
            {{#facet_choices}}
              <li class="facet-choice"><a href="#" class="add-criterion" property="{{../property}}" operator="CONTAINS" value="{{key}}"><div class="tick-icon"/>{{value}}<span class="item-count">{{item_count}}</span></a></li>
            {{/facet_choices}}
          </ul>
        </div>
      {{/facets}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="controls">
    <div class="controls" node="<%= node._id %>" destination="<%= destination %>">
      <div class="handle">
        <a href="#">--&gt; INSERT</a>
      </div>
      <div class="actions">
        <div class="placeholder insert">Insert Content</div>
        <div class="placeholder move">Move</div>
        <% actions.each(function(action) { %>
            <% if (action.length === 0) return; %>
            <% if (action.length === 1) { %>
              <% _.each(action, function(v) { %>
                <span>
                <a href="#" type="<%= v.nodeType %>" destination="<%= destination %>" node="<%= v.node %>" parent="<%= v.parentNode %>" class="add add_<%= v.insertionType %>"><%= v.nodeTypeName %></a>
                </span>
              <% }); %>
            <% } else { %>
              <span class="container add">
              <%= action[0].nodeTypeName %>
              <div>
                <% _.each(action, function(v) { %>
                  <a href="#" type="<%= v.nodeType %>" destination="<%= destination %>" node="<%= v.node %>" parent="<%= v.parentNode %>" class="add add_<%= v.insertionType %>">Level <%= v.level %></a>
                <% }); %>
              </div>
              </span>
            <% } %>
        <% }); %>
        
        <div class="move-targets">
          <!-- container node targets  -->
          <% _.each(path, function(n, index) { %>
            <span><a class="move-node container-node" href="#" node="<%= n._id %>" destination="<%= destination %>" level="<%= (index+1) %>"><!--<%= destination %>--> Here <!--&quot;<%= ContentNode.getTeaser(n).trim() %>&quot;--> at level <%= n.level %></a></span>
          <% }); %>
          
          <!-- allow child insertion for empty container nodes -->
          <% if (insertion_type === 'child' && node.level < 3) { %>
            <span><a class="move-node container-node <%= insertion_type %>" href="#" node="<%= node._id %>" destination="<%= destination %>"><!--Inside--> Here <!--&quot;<%= ContentNode.getTeaser(node).trim() %>&quot;--> at level <%= (node.level+1) %></a></span>
          <% } %>
          
          <!-- leaf node target  -->
          <span><a class="move-node leaf-node <%= insertion_type %>" href="#" node="<%= node._id %>" destination="<%= destination %>"><!--<%= insertion_type == "sibling" ? destination : "inside" %>--> Here <!--&quot;<%= ContentNode.getTeaser(node).trim() %>&quot;--></a></span>
        </div>
        
        <span class="message">
          
        </span>
        <br class="clear"/>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_text">
    <h3>Edit Text</h3>
    <div class="lpl texteditor" id="edit_node">
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_image">
    <!--<form id="upload_image" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
      <div class="lpl texteditor">
          <label for="my_file">select file</label>
          <input type="file" name="my_file" id="my_file" />
          <input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;4ccca6b9de144af4882760af72ec3211&quot;},&quot;steps&quot;:{&quot;resize_image&quot;:{&quot;robot&quot;:&quot;\/image\/resize&quot;,&quot;width&quot;:320,&quot;height&quot;:240,&quot;result&quot;:true}},&quot;redirect_url&quot;:&quot;http:\/\/example.com\/upload&quot;}" />
          <input type="submit" class="upload-image" value="Upload">
      </div>
      <div id="progress_container">
        <div class="lpl progress-container"><div id="upload_progress" class="lpl progress-bar stripes animated" style="width:60%"></div></div>
        <div id="image_progress_legend" class="lpl legend">
      </div>
    </form>-->
  </script>
  
  <script type="text/x-handlebars-template" name="edit_section">
    <h3>Edit section</h3>
  </script>

  <!-- content-node templates for the editor -->
  <script type="text/x-ejs-template" name="document">
    <div id="<%= node.html_id %>" name=<%= node.key %> level="<%= level %>" class="content-node document level-<%= level %><%= edit ? " edit" : "" %>">
      <% if (edit) { %><div class="content-node-outline"><div class="cursor"><span></span></div></div><% } %>
      <div class="document-title content<%= empty_title ? ' empty' : '' %>"<% if (edit) { %> contenteditable="true" title="Click To Edit Document Title"<% } %>>
        <% if (!empty_title) { %>
          <%= title %>
        <% } else { %>
          &laquo; Enter Title &raquo;
        <% } %>
      </div>
      <p class="author"><%= node.get('creator').get('name') || node.get('creator').get('username') %></p>
      <p class="published">
        <% if (node.get('published_on') && edit) { %>
          <%= _.date(node.get('published_on')) %>
          — <a href="#unpublish" class="unpublish-document">Unpublish</a>
        <% } else if (edit) { %>
          Not published yet — <a href="#" class="publish-document">Publish</a>
        <% } else if (node.get('published_on')) { %>
          <%= _.date(node.get('published_on')) %>
        <% } %>
      </p>
      <p class="lead content<%= empty_lead ? ' empty' : '' %>" id="document_lead"<% if (edit) { %> contenteditable="true" title="Click To Edit Document Lead"<% } %>>
        <% if (!empty_lead) { %>
          <%= lead %>
        <% } else { %>
          &laquo; Enter Lead &raquo;
        <% } %>
      </p>
      <div class="document-separator"></div>
      <% if (!edit) { %>
        <div class="toc-header">Table Of Contents</div>
        <div id="toc">
          <%= toc %>
        </div>
      <% } %>
      <%= content %>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="section">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node section level-{{level}}">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Section — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      
      <h{{heading_level}} class="content{{#empty}} empty{{/empty}}"{{#edit}} title="Click To Edit Section Name"{{/edit}}>
        {{^empty}}{{{name}}}{{/empty}}
        {{#empty}}&laquo; Enter Section Name &raquo;{{/empty}}
      </h{{heading_level}}>
      
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
      {{{content}}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="text">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node text level-{{level}}">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Text — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      <div class="content{{#empty}} empty{{/empty}}"{{#edit}} title="Click To Edit Text"{{/edit}}>
        {{^empty}}{{{content}}}{{/empty}}
        {{#empty}}<p>&laquo; Enter Text &raquo;</p>{{/empty}}
      </div>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="quote">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node quote level-{{level}}">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Quote — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      <blockquote>
        <p class="content quote-content{{#empty_content}} empty{{/empty_content}}"{{#edit}} contenteditable="true" title="Click To Edit Quote"{{/edit}}>
          {{^empty_content}}{{{content}}}{{/empty_content}}
          {{#empty_content}}&laquo; Enter Quote &raquo;{{/empty_content}}
        </p>
        <br clear="both"/>
        <cite class="content quote-author{{#empty_author}} empty{{/empty_author}}"{{#edit}} contenteditable="true" title="Click To Edit Quote Author"{{/edit}}>
          {{^empty_author}}{{{author}}}{{/empty_author}}
          {{#empty_author}}&laquo; Enter Author &raquo;{{/empty_author}}
        </cite>
      </blockquote>
      <br class="clear"/>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="code">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node code level-{{level}}">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Code — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      <pre class="content{{#empty}} empty{{/empty}}"{{#edit}} title="Click To Edit Code"{{/edit}}>{{^empty}}{{{content}}}{{/empty}}{{#empty}}&laquo; Enter code &raquo;{{/empty}}</pre>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="question">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node question level-{{level}}">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Question — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      <p class="question content{{#empty}} empty{{/empty}}"{{#edit}} title="Click To Edit Question"{{/edit}}>
        {{^empty}}{{{content}}}{{/empty}}
        {{#empty}}&laquo; Enter Question &raquo;{{/empty}}
      </p>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="answer">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node answer level-{{level}}">
      {{#edit}}<div class="content-node-outline"{{#edit}} title="Click To Edit Question"{{/edit}}><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Answer — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      <div class="answer content{{#empty}} empty{{/empty}}">
        {{^empty}}{{{content}}}{{/empty}}
        {{#empty}}<p>&laquo; Enter Answer &raquo;</p>{{/empty}}
      </div>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="resource">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" level="{{level}}" draggable="false" class="content-node resource level-{{level}}">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#edit}}
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="{{node/key}}" parent="{{parent/_id}}"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Resource — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
      {{/edit}}
      {{#edit}}<div class="pilcrow">&#182;</div>{{/edit}}
      
      <div class="resource-content{{^url}} placeholder{{/url}}">
        {{#url}}<img src="{{.}}"/>{{/url}}
        {{^url}}<img src="images/image_placeholder.png"/>{{/url}}
        
        <div class="resource-editor">
          <div class="resource-url-area">
            <div class="url-label">Resource URL (Images are supported yet)</div>
            <div class="url-container">
              <input class="resource-url" type="text" name="url" value="{{url}}"/>
              <div class="status">Enter URL</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="caption content{{#empty}} empty{{/empty}}">
        {{^empty}}{{{caption}}}{{/empty}}
        {{#empty}}&laquo; Enter Caption &raquo;{{/empty}}
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="image">
    <div id="<%= node.html_id %>" name=<%= node.key %> parent="<%= parent._id %>" level="<%= level %>" draggable="false" class="content-node image level-<%= level %>">
      
      <% if (edit) { %>
        <div class="content-node-outline"><div class="cursor"><span></span></div></div>
        <div class="operations">
          <a href="#" class="remove-node" title="Remove Node" node="<%= node.key %>" parent="<%= parent._id %>"><img src="/images/icons/white/x_alt_16x16.png"/></a>
          <a href="#" class="toggle-move-node" title="Move Image — Use placeholders as targets"><img src="/images/icons/white/arrow_right_16x16.png"/></a>
        </div>
        <div class="pilcrow">&#182;</div>
      <% } %>
      
      <div class="image-content<%= !url ? " placehoder" : ""%>">
        <% if (url) { %>
          <% if (edit) { %>
            <img src="<%= url %>"/>
          <% } else { %>
            <a href="<%= original_url %>" target="_blank"><img src="<%= url %>"/></a>
          <% } %>
        <% } else { %>
          <img src="images/image_placeholder.png"/>
        <% } %>
        
        <div class="image-editor">
          <form class="upload-image-form" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
            <div class="image-drop-area">
              <div class="info">Drop image here or <a href="#">choose a file</a></div>
              <div class="image-progress">
                <div class="label">Uploading image ...</div>
                <div class="progress-container">
                  <div class="progress-bar" style="width:60%"></div>
                </div>
              </div>
              <div class="credits">Image hosting sponsored by <a href="http://transloadit.com" target="_new">Transloadit</a></div>
              <input type="file" class="image-file" name="image-file" />
              <input type="hidden" name="params" value="<%= transloadit_params %>" />
            </div>
          </form>
        </div>
      </div>
      
      <div class="caption content<%= empty ? " empty" : "" %>">
        <%= !empty ? caption : "&laquo; Enter Caption &raquo;" %>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="multi_string_editor">
    <div class="items">
      {{#items}}
        <span class="item">{{.}} <a href="/" value="{{.}}" class="remove-item">x</a></span>
      {{/items}}
      <form>
        <input type="text" name="new_value" autocomplete="off"/>
        <input type="submit" value="Add"/>
        <div class="available-items">
        </div>
      </form>
      <br class="clear"/>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="string_editor">
    <input type="text" name="value" value="{{value}}"/>
  </script>
  
  <!-- styles --> 
  <link href="stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
  
  <script src="/javascripts/head.min.js"></script>
  <script>
    head.js.apply(this, scripts);
  </script>
</head>
<body>
  <div id="container">
    <div id="header">
      
    </div>
    
    <div id="tabs">
      <div id="browser_tab" class="tab" view="browser">
      </div>
      
      <div id="document_tab" class="tab hidden" view="document">
      </div>
      
      <a href="#" class="action new-document hidden" title="Create a new document">
        <div class="view-action-icon new"></div>
      </a>
    </div>
    
    <div id="main">
      <!-- Various content (used for user settings dialogue etc.) -->  
      <div id="content_wrapper" class="view">
      
      </div>
    
      <!-- The document browser -->
      <div id="browser_wrapper" class="view hidden">
      </div>
    
      <!-- The document browser -->
      <div id="document_wrapper" class="view hidden">
      
      </div>
    </div>
    <div id="footer">
      <div class="credits"><a href="http://substance.io#substance/substance">About</a> &middot; <a href="http://twitter.com/_substance" target="_new">Twitter</a> &middot; <a href="http://github.com/michael/substance" target="_new">Source Code</a> &middot; <a href="http://github.com/michael/substance/issues" target="_new">Report Bugs</a> &middot; <a href="http://news.ycombinator.com/item?id=2260865" target="_new">Discuss</a></div>
      <div class="version"><a href="http://substance.io#substance/release-notes">Substance 0.2.1</a></div>
    </div>
  </div>
  
  <div id="notifications">
    <div class="wrapper">
    </div>
  </div>
  
  <div class="tooltip">
    
  </div>
</body>
</html>