<!DOCTYPE html> 
<html> 
<head> 
  <title>Substance (Developer Preview)</title>
  
  <script>
    var seed = {{seed}};
    var session = {{session}};
  </script>
  
  <script type="text/x-ejs-template" name="edit_attributes">
    <dl class="document-attributes">
      
      <dt>Creator</dt>
      <dd><%= doc.get('creator').get('username') %></dd>
      
      <dt>Created On</dt>
      <dd><%= _.date(doc.get('created_at')) %></dd>
      
      <dt>Last modified</dt>
      <dd><%= _.prettyDate(new Date(doc.get('updated_at')).toJSON()) %></dd>
      
      <dt>Publish Date:</dt>
      <dd>
        <% if (doc.get('published_on')) { %>
          <%= _.date(doc.get('published_on')) %>
          (<a href="#" class="unpublish-document">Unpublish</a>)
        <% } else { %>
          Not published (<a href="#" class="publish-document">Publish</a>)
        <% } %>
      </dd>
      
      <% attributes.each(function(attribute) { %>
        <dt><%= attribute.name %></dt>
        <dd id="property_<%= attribute.key %>" property="/<%= attribute.type._id.split('/')[2] %>/<%= attribute.key %>" key="<%= attribute.key %>" type="string" class="attribute-editor <%= attribute.unique ? "unique" : "non-unique"%>"></dd>
      <% }); %>
    </dl>
  </script>
  
  
  <script type="text/x-ejs-template" name="show_attributes">
    <dl class="document-attributes">
      <dt>Creator</dt>
      <dd><%= doc.get('creator').get('username') %></dd>
      
      <dt>Created On</dt>
      <dd><%= _.date(doc.get('created_at')) %></dd>
      
      <dt>Last modified</dt>
      <dd><%= _.prettyDate(new Date(doc.get('updated_at')).toJSON()) %></dd>

      <% if (doc.get('published_on')) { %>
        <dt>Publish Date:</dt>
        <dd>
        <%= _.date(doc.get('published_on')) %>
        </dd>
      <% } %>

      <% attributes.each(function(attribute) { %>
        <dt><%= attribute.name %></dt>
        <dd>
          <div class="items">
            <% doc.get(attribute.key).each(function(v) { %>
              <div class="item"><%= v.get('name') %></div>
            <% }); %>
          </div>
        </dd>
      <% }); %>
    </dl>
  </script>
  
  <script type="text/x-ejs-template" name="startpage">
    <div id="new_user" class="page-content">
      <h1>Welcome to Substance</h1>
      <p>
        Substance is a data-driven document authoring tool, developed in the open and available to
        everyone. Eventually we want to provide a completely free service at substance.io for collaborative document authoring, 
        indexing and search.
      </p>
    
      <h1>Start writing</h1>
      <form id="signup-form" class="auth-form">
        <div>
          <label for="signup-user">Username:<span>http://substance.io/#USERNAME</span></label>
          <input type="text" id="signup-user" name="username"/>
        </div>
        
        <div>
          <label for="signup-name">Full Name:<span>Your real name</span></label>
          <input type="text" id="signup-name" name="name"/>
        </div>
        
        <div>
          <label for="signup-email">Email:<span></span></label>
          <input type="text" id="signup-email" name="email"/>
        </div>
        
        <div>
          <label for="signup-password">Password:<span></span></label>
          <input type="text" id="signup-password" name="password"/>
        </div>
        
        <div>
          <label for="">&nbsp;</label>
          <input type="submit" value="Create Account"/>
        </div>
      </form>
    </div>
  </script>
  
  <script type="text/x-ejs-template" name="header">
    <div class="title">
      Substance
    </div>
    <div id="sync_state"></div>
    <div id="login_state">
      <div id="login">
        <% if (username) { %>
          <div>Logged in as: <%= username %>
          <a href="#" class="toggle-user-settings"></a></div>
          <a class="logout icon" href="#logout"/>
        <% } else { %>
          <form id="login-form" class="auth-form">
            <input type="text" name="username" class="hint" id="login-user" value="username">
            <input type="password" name="password" class="hint" id="login-password" value="password">
            <input type="submit" class="login" value=""/>
          </form>
        <% } %>
      </div>
    </div>

  </script>

  <script type="text/x-ejs-template" name="user_settings">
    
    <div id="content">
      <h1>User Settings</h1>
      <p>
        Not yet implemented.
      </p>
    </div>
  </script>
  
  <script type="text/x-ejs-template" name="new_document">
    <div id="new_document" class="page-content">
      <h1>New Document</h1>
      <form id="create_document">
        <div>
          <label for="document_type">Document Type:<span>Choose from various document types</span></label>
          <select id="documen_type" name="document_type">
            <option value="/type/article">Article</option>
            <option value="/type/manual">Manual</option>
            <option value="/type/qaa">Interview</option>
          </select>
        </div>
        
        <div>
          <label for="new_document_name">Document Name:<span>http://substance.io/#USERNAME/NAME</span></label>
          <input type="text" id="new_document_name" name="new_document_name"/>
        </div>
        
        <div>
          <label for="">&nbsp;</label>
          <input type="submit" id="document_name" value="Create Document"/>
        </div>
      </form>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="document_wrapper">
    <div id="document_actions" class="view-actions">
      <a href="#" title="Read Document" class="toggle-mode view-action-icon read<%= mode !== 'edit' ? ' active' : '' %>"><span>Read</span></a>
      <a href="#" title="Write Document" class="toggle-mode view-action-icon write<%= mode === 'edit' ? ' active' : '' %>"><span>Write</span></a>
      <a href="#" title="Delete Document" class="delete-document view-action-icon delete"><span>Delete</span></a>
    </div>
    
    <div id="document">
      <p>No document loaded... You can either create a <em>New Document</em> or <em>Browse</em> existing ones.</p>
    </div>
    
    <div id="attributes"></div>
  </script>
  
  <script type="text/x-handlebars-template" name="browser_not_supported">
    <div id="signup">
      <h3>Your Browser is currently not supported</h3>
      <div class="lpl texteditor">
        <p>
        Substance makes use of WebSockets, a new technology that allows realtime communication.
        </p>
        <p>Please take the time to upgrade your browser to one of those supporting WebSockets — it is worth it!</p>
        <div style="text-align: center;">
          <a href="http://www.google.com/chrome/" title="Google Chrome"><img src="/images/chrome.png"/></a>
          <a href="http://www.apple.com/safari/" title="Safari 5"><img src="/images/safari.png"/></a>
          <a href="http://www.mozilla.com/en-US/firefox/beta/" title="Firefox 4 Beta"><img src="/images/firefox.png"/></a>
        </div>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="collaborators">
    <h3>Currently active Collaborators</h3>
    <ul>
      {{#status/collaborators}}
        <li>{{.}}</li>
      {{/status/collaborators}}
    </ul>
    <p></p>
    <p>Invite new collaborators by sharing this link:</p>
    <p>
      <input type="text" value="http://{{hostname}}/#{{author}}/{{name}}" style="width: 450px;"></input>
    </p>
  </script>
  
  <script type="text/x-ejs-template" name="browser_tab">
    <div class="icon browse"></div>
    <div class="tab-label">Browser</div>
    <form id="search_form"><input type="text" id="search" name="search" value="<%= query_descr %>" autocomplete="off"/></form>
    <div class="count"><%= documents.length %></div>
    <br class="clear"/>
    <div class="results"></div>
  </script>
  
  <script type="text/x-ejs-template" name="document_tab">
    <div class="icon read"></div>
    <div class="tab-label">Document</div>
    <div class="user-name">
      <%= username %> / <%= document_name %>
    </div>
    <!--<input type="text" id="document_name" name="document_name" value="foo"/>-->
  </script>
  
  <script type="text/x-ejs-template" name="document_browser">      
    <% if (documents.length > 0) { %>
      <div id="browser">
        <div id="facets">
          Loading facets...
        </div>
        
        <table id="documents">
          <thead>
            <tr><th>Title</th><th>Author</th><th>Published</th><th>Last modified</th></tr>
          </thead>
          <tbody>
          <% documents.each(function(doc) { %> 
            <tr class="<%= doc.get('published_on') ? 'draft' : 'draft' %>">
              <th><a class="link load-document" href="#<%= doc.get('creator').get('username') %>/<%= doc.get('name') %>" document="<%= doc._id %>" user="<%= doc.get('creator').get('username') %>" name="<%= doc.get('name') %>"><%= doc.get('title') %><span class="document-type"><%= doc.type.key.split('/')[2] %></span></a></th>
              <td><%= doc.get('creator').get('name') %></td>
              <td>
                <% if (doc.get('published_on')) { %>
                  <%= doc.get('published_on') %>
                <% } else { %>
                  - - -
                <% } %>
              </td>
              <td><%= doc.get('last_modified') %></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
    <% } else { %>
      <div>No Documents found.</div>
    <% } %>
  </script>
  
  <script type="text/x-handlebars-template" name="facets">
    <div class="list">
      {{#facets}}
        <div class="facet" id="facet_{{property}}">
          <h3>{{property_name}}</h3>
          <ul class="facet-choices">
            {{#selected_facet_choices}}
              <li class="facet-choice selected"><a href="#" class="remove-criterion" property="{{../property}}" operator="CONTAINS" value="{{key}}"><div class="tick-icon ticked"/>{{value}}<span class="item-count">{{item_count}}</span></a></li>
            {{/selected_facet_choices}}
            {{#facet_choices}}
              <li class="facet-choice"><a href="#" class="add-criterion" property="{{../property}}" operator="CONTAINS" value="{{key}}"><div class="tick-icon"/>{{value}}<span class="item-count">{{item_count}}</span></a></li>
            {{/facet_choices}}
          </ul>
        </div>
      {{/facets}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="controls">
    <div class="controls" node="{{node}}" destination="{{destination}}">
      <div class="handle">
        <a href="#">--&gt; INSERT</a>
      </div>
      <div class="actions">
        {{#actions}}
          <a href="#" type="{{nodeType}}" node="{{node}}" parent="{{parentNode}}" class="add_{{insertionType}}">{{nodeTypeName}}</a>
        {{/actions}}
        <br class="clear"/>
      </div>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_text">
    <h3>Edit Text</h3>
    <div class="lpl texteditor" id="edit_node">
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_image">
    <form id="upload_image" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
      <div class="lpl texteditor">
          <label for="my_file">select file</label>
          <input type="file" name="my_file" id="my_file" />
          <input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;4ccca6b9de144af4882760af72ec3211&quot;},&quot;steps&quot;:{&quot;resize_image&quot;:{&quot;robot&quot;:&quot;\/image\/resize&quot;,&quot;width&quot;:320,&quot;height&quot;:240,&quot;result&quot;:true}},&quot;redirect_url&quot;:&quot;http:\/\/example.com\/upload&quot;}" />
          <input type="submit" value="Upload">
      </div>
      <div id="progress_container">
        <div class="lpl progress-container"><div id="upload_progress" class="lpl progress-bar stripes animated" style="width:60%"></div></div>
        <div id="image_progress_legend" class="lpl legend">
      </div>
    </form>
  </script>
  
  <script type="text/x-handlebars-template" name="edit_section">
    <h3>Edit section</h3>
  </script>

  <!-- content-node templates for the editor -->
  <script type="text/x-handlebars-template" name="document">    
    <div id="{{node/html_id}}" name={{node/key}} class="content-node document">
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <h1 class='content'>{{title}}</h1>
      <p class="lead content" id="document_lead">{{lead}}</p>
      {{{content}}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="section">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node section">
      {{#edit}}<a href="#" class="remove remove-node" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <h2 class='content'>{{name}}</h2>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
      {{{content}}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="text">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node text">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <div class='content'>{{{content}}}</div>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="quote">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node quote">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <quote class='content'>{{{content}}}</quote>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="code">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node code">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <pre><code class='content'>{{{content}}}</code></pre>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="question">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node question">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <p class='question content'>{{{content}}}</p>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="answer">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node answer">
      {{#edit}}<a href="#" class="remove-node remove" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      <p class='answer content'>{{{content}}}</p>
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="image">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node image">
      {{#edit}}<a href="#" class="remove remove-node" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      {{#url}}
        <img src="{{.}}"/>
      {{/url}}
      {{^url}}
        [Upload image]
      {{/url}}
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="visualization">
    <div id="{{node/html_id}}" name={{node/key}} parent="{{parent/_id}}" draggable="false" class="content-node image">
      {{#edit}}<a href="#" class="remove remove-node" node="{{node/key}}" parent="{{parent/_id}}">x</a>{{/edit}}
      {{#edit}}<div class="content-node-outline"><div class="cursor"><span></span></div></div>{{/edit}}
      
      {{#data_source}}
        <div class="visualization linechart" type="Linechart" datasrc="http://foo.com/bar.json"></div>
      {{/data_source}}
      {{^data_source}}
        [ Provide a data source first ]
      {{/data_source}}
      
      {{#edit}}<div class="node-editor-placeholder"></div>{{/edit}}
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="multi_string_editor">
    <div class="items">
      {{#items}}
        <span class="item">{{.}} <a href="/" value="{{.}}" class="remove-item">x</a></span>
      {{/items}}
      <form>
        <input type="text" name="new_value" autocomplete="off"/>
        <input type="submit" value="+"/>
        <div class="available-items">
          
        </div>
      </form>
      <br class="clear"/>
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="string_editor">
    <input type="text" name="value" value="{{value}}"/>
  </script>
  
  <!-- styles --> 
  <link href="stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
  
  <!-- libraries --> 
  <script src="lib/jquery-1.4.3.min.js"></script>
  <script src="lib/handlebars.js"></script>
  <script src="lib/showdown.js"></script>

  <!-- transloadit.com file processing service -->
  <script src="lib/jquery.transloadit2.js"></script>
  
  <!-- Libraries -->
  <script src="lib/jquery.hotkeys.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="lib/data/data.js"></script>
  <script src="lib/data/adapters/ajax_adapter.js"></script>
  <script src="lib/backbone.js"></script>
  <script src="lib/sanitize.js"></script>
  <script src="lib/proper.js"></script>
  <!-- <script src="dnode.js"></script> -->
  
  <!-- visualizations -->
  <script src="src/visualizations/linechart/lib/unveil.js"></script>
  <script src="src/visualizations/linechart/data/countries.js"></script>
  <script src="src/visualizations/linechart/lib/protovis-d3.2.js"></script>
  <script src="src/visualizations/linechart/linechart.js"></script>
  
  <link href="src/visualizations/linechart/styles/linechart.css" media="screen" rel="stylesheet" type="text/css" />
  
  <!-- Backbone Extensions -->
  <script src="src/client/notifier.js"></script>
  
  <!-- Shared helpers -->
  <script src="src/client/helpers.js"></script>
  
  <!-- The app -->
  <script src="src/client/renderers/html_renderer.js"></script>
  <script src="src/client/node_editors/document_editor.js"></script>
  <script src="src/client/node_editors/section_editor.js"></script>
  <script src="src/client/node_editors/text_editor.js"></script>
  <script src="src/client/node_editors/quote_editor.js"></script>
  <script src="src/client/node_editors/code_editor.js"></script>
  <script src="src/client/node_editors/question_editor.js"></script>
  <script src="src/client/node_editors/answer_editor.js"></script>
  <script src="src/client/node_editors/image_editor.js"></script>
  <script src="src/client/controllers/application.js"></script>
  
  <!-- UI components -->
  <script src="src/client/ui/common.js"></script>
  <script src="src/client/ui/string_editor.js"></script>
  <script src="src/client/ui/multi_string_editor.js"></script>
  
  <!-- Views -->
  <script src="src/client/views/document.js"></script>
  <script src="src/client/views/attributes.js"></script>
  
  <script src="src/client/commands.js"></script>
  <script src="src/client/views/document_browser.js"></script>
  <script src="src/client/views/facets.js"></script>
  <script src="src/client/views/collaborators.js"></script>
  <script src="src/client/views/user_settings.js"></script>
  <script src="src/client/views/new_document.js"></script>
  <script src="src/client/views/browser_tab.js"></script>
  <script src="src/client/views/header.js"></script>
  <script src="src/client/views/application.js"></script>
  
</head>
<body>
  <div id="container">
    <div id="header">
      
    </div>
    
    <div id="tabs" class="hidden">
      <div id="browser_tab" class="tab hidden" view="browser">

      </div>
      
      <div id="document_tab" class="tab hidden" view="document">

      </div>
      
      <a title="create a new document" href="#" class="action new-document">
        <div class="view-action-icon new"></div>
      </a>
    </div>
    
    <!-- Various content (used for user settings dialogue etc.) -->  
    <div id="content_wrapper" class="view hidden">
      
    </div>
    
    <!-- The document browser -->
    <div id="browser_wrapper" class="view hidden">
    </div>
    
    <!-- The document browser -->
    <div id="document_wrapper" class="view hidden">
      
    </div>
  </div>
  
  <div id="notifications">
    <div class="wrapper">
    </div>
  </div>
</body>
</html>