<div id="browser_controls" class="view-controls">
  <div id="browser_navigation">
    <div class="views">
      <div class="browser view user<%= selectedView === 'user' ? ' selected' : '' %>" view="user">My Documents</div>
      <div class="browser view explore<%= selectedView === 'explore' ? ' selected' : '' %>" view="explore">Explore</div>
      <div class="browser view search<%= selectedView === 'search' ? ' selected' : '' %>" view="search">Search</div>
    </div>
  </div>

  <div id="browser_shelf" class="open">
    
  </div>
</div>

<div id="browser_content"></div>