<!DOCTYPE html> 
<html> 
<head> 
  <title>Substance™ — Browse Documents</title>
  
  <!-- Templates -->
  <script type="text/x-handlebars-template" name="browser">
    <div id="facets">
      FacetsView
    </div>
    <div id="documents">
      Documents
    </div>
  </script>
  
  <script type="text/x-handlebars-template" name="facets">
    {{#facets}}
      <div class="facet" id="facet_{{property}}">
        <h3><a href="#select_facet/{{property}}">{{property_name}}</a></h3>
        <ul class="facet-choices">
          {{#selected_facet_choices}}
            <li class="facet-choice selected"><a href="#remove_criterion/{{../property}}/CONTAINS/{{value}}">{{value}}<span class="item-count">{{item_count}}</span></a></li>
          {{/selected_facet_choices}}
          {{#facet_choices}}
            <li class="facet-choice"><a href="#add_criterion/{{../property}}/CONTAINS/{{value}}">{{value}}<span class="item-count">{{item_count}}</span></a></li>
          {{/facet_choices}}
        </ul>
      </div>
    {{/facets}}
  </script>
  
  <script type="text/x-handlebars-template" name="documents">
    <h2>{{num_documents}} Documents</h2>
    <div>
      {{#documents}}
        <div>
          <h4><a href="/documents/{{value/data/id}}.html">{{value/data/title}}</a></h4>
          <p>by {{value/data/author}}</p>
        </div>
      {{/documents}}
    </div>
  </script>
  
  <!-- Styles --> 
  <link href="stylesheets/browser.css" media="screen" rel="stylesheet" type="text/css" />
  
  <!-- libraries --> 
  <script src="lib/jquery-1.4.3.min.js"></script>
  
  <!-- Libraries -->
  <script src="lib/underscore.js"></script>
  <script src="lib/data.js"></script>
  
  <script src="lib/handlebars.js"></script>
  <script src="lib/backbone.js"></script>
  
  <!-- Source -->
  <script src="src/shared/helpers.js"></script>
  
  <script src="src/frontend/commands.js"></script>
  
  <!-- Controllers -->
  <script src="src/frontend/controllers/application.js"></script>
  
  <!-- Views -->
  <script src="src/frontend/views/facets.js"></script>
  <script src="src/frontend/views/documents.js"></script>
  <script src="src/frontend/views/browser.js"></script>
  
</head>
<body>
  <div id="container">
    
  </div>
</body> 
</html>
