<div id="browser_controls" class="view-controls">
  <div id="browser_navigation">
    <div class="modes">
      <div class="mode<%= mode === 'user' ? ' selected' : '' %>" mode="user">My Documents</div>
      <div class="mode<%= mode === 'explore' ? ' selected' : '' %>" mode="explore">Explore</div>
      <div class="mode<%= mode === 'search' ? ' selected' : '' %>" mode="search">Search</div>
    </div>
  </div>

  <div id="browser_shelf" class="open">
    
  </div>
</div>

<div id="spacer" style="height: 400px;"></div>

<div id="browser_content"></div>