<div class="browser-not-supported">
  <h1>Substance
    <p>Open Documents For The Web</p>
  </h1>
  <div></div>
  <div class="lpl texteditor">
    <h2>Browser not supported</h2>
    <p>
      Substance makes use of the latest browser technology. In order to create, publish<br/> and view documents online,
      you need to upgrade your browser.
    </p>
    
    <p class="recommendation">We recommend one of these:</p>
    <div style="text-align: center;">
      <a href="http://www.google.com/chrome/" title="Google Chrome"><img src="/images/chrome.png"/></a>
      <a href="http://www.apple.com/safari/" title="Apple Safari"><img src="/images/safari.png"/></a>
      <!--<a href="http://www.mozilla.com/en-US/firefox/beta/" title="Firefox 4 Beta"><img src="/images/firefox.png"/></a>-->
    </div>
  </div>
</div>
