<div class="cursor"><span></span></div>
<div class="icon <%= query ? query.type : "keyword" %>"></div>
<div class="tab-label">Browser</div>
<form id="search_form"><input type="text" title="Start searching" id="search" name="search" value="<%= query_descr %>" autocomplete="off"/></form>
<!--<div class="count"><%= documents.length > 0 ? documents.length : ''%></div>-->
<br class="clear"/>

<div class="options">
  <% if ((!query && app.username) || (query && query.type !== 'user' && app.username)) { %> <a href="/<%= app.username %>" class="toggle-userdocs" title="My Documents"><div class="icon user"></div></a><% } %>
  <% if ((!query && app.username) || (query && query.type !== 'subscribed' && app.username)) { %> <a href="/subscribed" class="toggle-subscribed" title="Subscribed Documents"><div class="icon subscribed"></div></a><% } %>
  <% if (!query || query.type !== 'recent') { %> <a href="/recent" class="toggle-recent" title="Recent Documents"><div class="icon recent"></div></a><% } %>
</div>
<div class="results"></div>
