<h2>Publish</h2>

<select name="networks" class="networks-selection" multiple="multiple">
  <% availableNetworks.each(function(network) { %>
   <option value="<%= network._id %>"<%= networks.get(network._id) ? ' selected="selected"' : '' %>> <%= network.get('name') %></option>
  <% }); %>
</select>

<% if (!document.get('published_version')) { %>
  <p>Not published yet</p>
<% } %>

<% if (isCurrentUser(document.get('creator'))) { %>
  <div id="new_version">
    <div><input type="text" id="version_remark" name="remark" placeholder="Enter optional remark." value="" /></div>
    <div class="panel">
      <% if (document.get('published_on') != document.get('updated_at')) { %>
        <a href="#" class="publish-document"><%= document.get('published_version') ? "Republish": "Publish" %> </a>
      <% } %>
      <% if (document.get('published_version')) { %>
        <a href="#" class="unpublish-document">Unpublish</a>
      <% } %>
    </div>
  </div>
<% } %>