<div class="cursor"><span></span></div>
<div class="icon read"></div>
<div class="tab-label">Document</div>
<div class="user-name">
  <span><%= username %> / </span><input type="text" id="document_name" name="document_name" value="<%= document_name %>" <%= app.document.mode !== 'edit' ? 'disabled="disabled"' : ''%>/>
</div>
