<h1>
  <a href="/" class="toggle-view">Substance</a>
</h1>

<div id="navigation">
  <a class="toggle-view" href="/michael">My Documents</a>
  <a class="toggle-view" href="/explore">Explore</a>
  <a class="toggle-view" href="/search">Search</a>
</div>

<br class="clear"/>
