<div id="header_title">
  <a href="/" class="toggle-view">SUBSTANCE</a>
</div>

<div id="navigation">
  <% if (session.username) { %><a class="toggle-view" href="/dashboard">My Documents</a><% } %>
  <a class="toggle-view" href="/explore">Explore</a>
  <a class="toggle-view" href="/search">Search</a>
</div>
