<div id="startpage">
  <div class="spacer"></div>
  <hr class="separator nomargin"/>
  <div class="intro">
    <div class="intro-text">
      &bdquo;Towards an open approach to digital publishing.&ldquo;<br/><br/>
      <!-- Collaboratively create documents online and share them -->
      <a href="#" class="watch-intro">Watch the Introduction Video</a>
    </div>
    
    <div class="video hidden"></div>
    <div class="video-credits"><div class="label">Video and Narration</div><div><a target="_blank" href="http://vimeo.com/remorauscher">Remo Rauscher</a></div><div class="label">Music</div><div>Skizzo (Stephan M.)</div></div>
  </div>
  <hr class="separator nomargin"/>
  
  <div id="plot">
    <div id="plot_content">
      <div class="characteristics">
        <div class="characteristic">
          <h2>Semantic Editing</h2>
          <p>
          Unlike traditional word-processors, Substance focuses on content, by leaving the layout part to the system, not   the user. Because of the absence of formatting utilities, it suggests structured, content-oriented writing.
          </p>
        </div>
        
        <div class="characteristic">
          <h2>Collaboration</h2>
          <p>
            Substance targets open collaboration. Readers can participate and comment on certain text passages. In future   they'll even be able to submit patches, that can be applied by the owner.
          </p>
        </div>
        
        <div class="characteristic">
          <h2>Integration</h2>
          <p>
            Substance exposes documents as <a href="http://substance.io/substance/substance.json">data</a>, ready to be  compiled into arbitrary output formats
            (<a href="http://substance.io/substance/substance.html">  HTML</a>, <a href="http://substance.io/substance/substance.pdf">PDF</a>, <a   href="http://substance.io/substance/substance.epub">ePub</a>, ...) or integrated with other applications (like websites). 
          </p>
        </div>
      </div>
      
      <div class="description">
        <p>
          <b>Substance</b> is a fully web-based document authoring and publishing platform.</p><p>
          With Substance, <b>writers</b>, <b>journalists</b>, <b>scientists</b> and everyone else who's interested in   publishing can
          use an open platform for writing and sharing articles.</p><p>Document authoring used to take place in word  processors on the Desktop like <a href="http://office.microsoft.com/word/">MS Word</a> or <a href="  http://openoffice.org/">Open Office</a>.
          We believe that today this can all be be done in the browser, in a simpler, more collaborative way.
        </p>
        <p>
          <br/>Substance is <a href="http://github.com/substance/substance">Open Source Software</a> and licensed under <a href="  https://github.com/substance/substance/blob/master/LICENSE">GPLv3</a>.
        </p>
      </div>
    </div>
  </div>
  
  <hr class="separator"/>
  
  <!-- Features -->
  <div id="features">
    <div class="feature write">
      <div class="feature-wrapper">
        <h1 class="feature-title">
          <div class="icon"/>
          Write
        </h1>
        <p class="feature-descr">
          <b>Write</b> and <b>annotate</b> documents right in the <b>browser</b>.
        </p> 
        <ul class="feature-properties">
          <li>
            <div>Collaborative Editing</div>
            <div class="descr">Invite co-authors to your document</div>
          </li>
          <li>
            <div>Export</div>
            <div class="descr">Export to PDF, ODT, ePub, etc.</div>
          </li>
          <li>
            <div>Publish</div>
            <div class="descr">Publish and instantly share your articles</div>
          </li>
          <li>
            <div>Images</div>
            <div class="descr">Embed images in your document</div>
          </li>
          <li>
            <div>User Comments</div>
            <div class="descr">Comment on content fragments</div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="feature browse">
      <div class="feature-wrapper">
        <h1 class="feature-title">
          <div class="icon"/>
          Browse
        </h1>
        <p class="feature-descr">
          <b>Find</b> and <b>read</b> relevant
          documents by using novel navigation techniques.
        </p> 
        <ul class="feature-properties">
          <li>
            <div>Search by Keyword</div>
            <div class="descr">Find relevant documents based on keywords</div>
          </li>
          <li>
            <div>Networks <small style="color: #bd0a0a;">NEW!</small></div>
            <div class="descr">Explore a diversity of networks containing documents of different fields.</div>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="feature contribute">
      <div class="feature-wrapper">
        <h1 class="feature-title">
          <div class="icon"/>
          Contribute
        </h1>
        <p class="feature-descr">
          In order to <b>improve</b> the system
          and keep it <b>open</b> and <b>free</b>, we
          need your help!
        </p>
        <div>
          <form id="contribute_form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="WAP9SGX5H29HS">
            <p>You can either <a href="https://flattr.com/thing/317181/Substance-Open-Documents-For-The-Web">flattr</a> us,
            or donate using <a href="/contribute" onclick="javascript: $('#contribute_form').submit(); return false;" id="contribute_button" class="">Paypal</a>.</p>
            <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          
          <a class="FlattrButton" style="display:none;" href="http://substance.io"></a>
          <noscript><a href="http://flattr.com/thing/317181/Substance-Open-Documents-For-The-Web" target="_blank">
          <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
          <p>
            <br/>We have received <a href="http://substance.io/substance/contribute">$ 442.00</a> so far. Thank you for that!
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
