<h1>Import</h1>

<form>
  <div>
    <label for="new_document_name">Document Name:<span></span></label>
    <input type="text" id="new_document_name" name="new_document_name"/>
    <div class="input-message" id="new_document_name_message"></div>
  </div>
  
  <div>
    <label for="format">Format:<span></span></label>
    <select id="format">
      <option value="markdown">Markdown</option>
      <option value="latex">LaTeX</option>
    </select>
  </div>
  
  <div>
    <label for="text">Text:<span></span></label>
    <textarea id="text" rows="20" cols="80"></textarea>
  </div>
  
  <div>
    <label for="">&nbsp;</label>
    <input type="submit" id="document_name" value="Import"/>
  </div>
</form>
