<div id="login_state">
  <form id="login-form" class="auth-form">
    <input type="text" name="username" id="login-user" placeholder="Username" value="">
    <input type="password" name="password" id="login-password" placeholder="Password" value="">
    <input type="submit" value="Login"/>
  </form>
  <br class="clear"/>
  <div class="signup">
    <a href="/register" class="toggle-view">Create an Account</a>
    | <a href="/recover" class="toggle-view">Forgot Password?</a>
  </div>
</div>
