<div class="items">
  <% _.each(items, function (item) { %>
    <span class="item"><%= item %> <a href="/" value="<%= item %>" class="remove-item">x</a></span>
  <% }); %>
  <form>
    <input type="text" name="new_value" autocomplete="off"/>
    <input type="submit" value="Add"/>
    <div class="available-items">
    </div>
  </form>
  <br class="clear"/>
</div>
