<form id="create_document" class="form-content">
	<h1>New Document</h1>
  <div>
    <label for="new_document_name">Document Name:<span></span></label>
    <input type="text" id="new_document_name" name="new_document_name"/>
    <div class="input-message" id="new_document_name_message"></div>
  </div>
  
  <div>
    <label for="">&nbsp;</label>
    <input type="submit" id="document_name" value="Create Document"/>
  </div>
</form>
