<div class="operations">
  <a href="/" class="toggle-comments sticky" title="Toggle comments for Section">
    <span><%= commentCount %></span>
  </a>
  <% if (authorized) { %>
    <a href="/" class="remove-node" title="Remove Node"></a>
    <a href="/" class="toggle-move-node" title="Move Section — Use placeholders as targets"></a>
  <% } %>
</div>
