<div id="recover_password">
  <div class="title">Substance</div>

  <div class="recover page-content">
    <form id="recover-form">
      <h1>Reset Password</h1>
      <div>
        Substance will send password reset instructions to the email address associated with your account.
      </div>
      <div id="registration_error_message"></div>
      <div>
        <label for="username">Enter Username:<span></span></label>
        <input type="text" id="username" class="username" name="name"/>
      </div>
      
      <div>
        <label for="">&nbsp;</label>
        <input type="submit" value="Send Instructions"/>
      </div>
    </form>
  </div>
  <div class="success page-content">
    <h1>Reset instructions have been sent via email.</h1>
  </div>
</div>
