<div id="reset_password">
  <div class="title">Substance</div>
  
  <div class="reset page-content">
    <form id="reset-form">
      <h1>Choose a new password</h1>
      <div id="registration_error_message"></div>
      <div>
        <label for="password">Password:<span></span></label>
        <input type="password" id="password" class="password" name="name"/>
      </div>
      
      <div>
        <label for="password">Confirm Password:<span></span></label>
        <input type="password" id="password_confirmation" class="password" name="password"/>
      </div>
      
      <div>
        <label for="">&nbsp;</label>
        <input type="submit" value="Save"/>
      </div>
    </form>
  </div>
</div>
