<div class="resource-editor">
  <div class="resource-url-area">
    <div class="url-label">Resource URL (Images are supported yet)</div>
    <div class="url-container">
      <input class="resource-url" readonly="readonly" type="text" name="url" value="" />
      <div class="status">Enter URL</div>
    </div>
  </div>
</div>
