<div id="search">
  <form action="/fulltextsearch" method="get">
    <input type="text" value="" placeholder="Search" id="search_string" name="q" />
    <input type="submit" name="go" id="go" value="Go" />
  </form>
  <div id="results">
  </div>
</div>