<form id="signup-form" class="auth-form form-content">
  <h1>Start writing.</h1>
  <div id="registration_error_message"></div>
  <div>
    <label for="signup_user">Username:<span>http://substance.io/#USERNAME</span></label>
    <input type="text" id="signup_user" name="username"/>
    <div class="input-message" id="signup_user_message"></div>
  </div>
  
  <div>
    <label for="signup_name">Full Name:<span>Your real name</span></label>
    <input type="text" id="signup_name" name="name"/>
  </div>
  
  <div>
    <label for="signup_email">Email:<span>A valid email address</span></label>
    <input type="text" id="signup_email" name="email"/>
  </div>
  
  <div>
    <label for="signup_password">Password:<span>At least 3 characters</span></label>
    <input type="password" id="signup_password" name="password"/>
  </div>
  
  <div>
    <label for="">&nbsp;</label>
    <input type="submit" value="Create Account"/>
  </div>
</form>
