<!doctype html>
<html>

<head>
  <title>Substance – Tests</title>
  <link rel="stylesheet" href="/jasmine/jasmine.css" />
</head>

<body>
  <script>
    var seed = {{{seed}}};
  </script>
  <script src="/javascripts/underscore.js"></script>
  <script src="/datajs/data.js"></script>

  <script src="/jasmine/jasmine.js"></script>
  <script src="/jasmine/jasmine-html.js"></script>

  <script>
    // Jasmine helpers
    function bindSpy (obj, eventName) {
      var spy = jasmine.createSpy();
      obj.bind(eventName, spy);
      return spy;
    }
  </script>

  <script src="/client/model.js"></script>

  <script src="/spec/model.js"></script>

  <script>
    var reporter = new jasmine.TrivialReporter()
    ,   env = jasmine.getEnv();
    
    env.addReporter(reporter);
    env.execute();
  </script>
</body>

</html>
