<% if (users.length > 0) { %>
  <% users.each(function(user) { %> 
  <a class="toggle-view" href="/<%= userName(user) %>" user="<%= user._id %>"><div class="user">
    <div class="image">
      <img src="/images/doc-image.jpeg" width="180">
    </div>

    <div class="title">
      <%= user.get('username') %>
    </div>
      
  </div></a>
  <% }); %>
  
<% } else { %>
	<h2>No Members yet ...</h2>
<% } %>