
/* #browser_wrapper > #browser_content
-------------------------------------------------------------------------------*/

#card_file {
  overflow: auto;
  margin: 0px 0px 0px 0px;
  min-height: 100px;
  background: #DCDDD9;
  padding: 20px 30px;
  color: #635849;
  position: relative;
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
}

#card_file h1 {
  font-size: 28px;
  padding: 0;
  color: #635849;
}

#card_file h2 {
  .ui-font;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 0;
  color: #635849;
}

#card_file .avatar {
  width: 120px;
  float: left;
}

#card_file img {
  margin: 3px 0;
}

#card_file .username {
  float: left;
}

#card_file .container {
  background: #ccc;
}

#card_file .attributes span {
  padding-right: 10px;
}

#card_file em {
  color: #888;
}
