
/* #browser_wrapper > #browser_controls
-------------------------------------------------------------------------------*/

/*#browser_controls {
  position: fixed;
  z-index: 200000;
  top: 30px;
  left: 0px;
  right: 0px;
}*/

/* #browser_wrapper > #browser_controls > #browser_navigation
-------------------------------------------------------------------------------*/

/*#browser_navigation {
  background: #989B99;
  height: 40px;
}

#browser_navigation .views {
  padding-top: 10px;
  margin-left: 30px;
  overflow: auto;
}

#browser_navigation .views .view {
  float: left;
  .border-top-radius(5px);
  background: #444;
  color: #fff;
  margin-right: 5px;
  padding: 0 3px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

#browser_navigation .views .view:hover, #browser_navigation .views .view.selected {
	background: #000;
}*/

/* #browser_wrapper > #browser_controls > #browser_shelf
-------------------------------------------------------------------------------*/

/*#browser_shelf {
  height: 200px;
  
  overflow: auto;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.6s;
  background: #CDCECA;
}

#browser_shelf .shelf-content {
  
}*/


/* #browser_wrapper > #browser_content
-------------------------------------------------------------------------------*/

#browser_content {
  margin-top: 300px;
  background: #ccc;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.6s;
  
}



