#dashboard {
  overflow: auto;
  margin-top: 40px
}

#dashboard #bins {
  background: #fff;
  float: left;
  width: 230px;
  margin-top: 0px;
  margin-left: 80px;
  padding: 10px;
}

#dashboard #bins h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

#dashboard #bins a {
  padding: 5px;
  display: block;
  border: none;
  margin-bottom: 5px;
}

#dashboard #bins a:hover {
  background: #eee;
}

#dashboard #bins a.selected {
  background: #eee;
}