#dashboard {
  overflow: auto;
  margin-top: 40px
}

#dashboard #bins {
  float: left;
  width: 250px;
  margin-top: 0px;
  margin-left: 80px;

  .bin-group {
  }
}


#dashboard #bins h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

#dashboard #bins a {
  padding: 5px;
  margin-bottom: 10px;
  color: #888;
  display: block;
  border: none;
  margin-bottom: 5px;
  height: 52px;
  line-height: 40px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;


  &.toggle-bin .image {
    float: left;
    width: 30px;
    height: 40px;
    margin-left: 10px;
    opacity: 0.7;    
  }

  &.toggle-bin.user .image { background: url("@{images}/icons/black/user_12x16.png") center left no-repeat; }
  &.toggle-bin.involved .image { background: url("@{images}/icons/black/user_12x16.png") center left no-repeat; }
  &.toggle-bin.subscribed .image { background: url("@{images}/icons/black/rss_alt_12x12.png") center left no-repeat; }

  .count {
    .document-font;
    float: right;
    margin-right: 3px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
  }

  img {
    border: 1px solid #fff;
    float: left;
    margin-right: 10px;
  }
}

#dashboard #bins a:hover {
  background: #E9EAE5;
  border-top: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
}

#dashboard #bins a.selected {
  color: #444;
  background: #E9EAE5;
  border-top: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
}

#dashboard #results {
  margin-left: 350px;
}