/* Editor
-------------------------------------------------------------------------------*/

#document {
  position: fixed;
  left: 340px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  width: 720px;
  background: #fff;
  /*-webkit-font-smoothing: subpixel-antialiased;*/
  font-size: 19px;
  line-height: 28px;
}

/* Introduction */

.document-settings {
  position: absolute;
  overflow: auto;
  font-size: 16px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 300px;
  padding: 20px;
}

.document-settings ul {
  font-size: 13px;
  margin-left: 20px;
}

.document-settings h2 {
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
}



#document .surface {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.node-toggles {
  display: none;
  z-index: 4000;
  position: absolute;
  top: 100px;
  left: 200px;
  width: 200px;
  right: 20px;
  padding: 0px;
  background: #2A2A2A;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
}

.node-toggles .insert-node {
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  display: block;
  line-height: 40px;
  /*background: rgba(0,0,0,0.05);*/
  color: rgba(255,255,255,0.8);
  padding: 0 20px;
  position: relative;
}


.node-toggles .insert-node i {
  padding-right: 10px;
}

.node-toggles .insert-node span {
  display: block;
  height: 20px;
  /*border: 1px solid #fff;*/
  float: right;
}

.node-toggles .insert-node.image input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.node-toggles .insert-node:hover {
  background: rgba(0,0,0, 1);
}

/* Annotation toggles */

.annotation-toggles {
  z-index: 4000;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 20px;
  height: 50px;
  padding: 10px 60px;
  background: rgba(255,255,255,1);
  overflow: auto;
}

.annotation-toggles .styles {
  height: 30px;
  float: left;
  width: 200px;
  overflow: auto;
}

.annotation-toggles .markers {
  height: 30px;
  float: right;
  width: 200px;
  overflow: auto;
}

.annotation-toggles .annotation-toggle {
  text-align: center;
  float: left;
  width: 40px;
  height: 30px;
  line-height: 30px;
  background: rgba(0,0,0,0.05);
  margin-right: 2px;
  color: rgba(0,0,0,0.5);
}

.annotation-toggles .annotation-toggle:hover {
  background: rgba(0,0,0,0.1);
}

.annotation-toggles .markers .annotation-toggle {

  float: right;
}

.annotation-toggles .annotation-toggle.question {
  background: rgba(11, 157, 217, 0.20);  
}

.annotation-toggles .annotation-toggle.idea {
  background: rgba(145, 187, 4, 0.25);
}

.annotation-toggles .annotation-toggle.error {
  background: rgba(231, 88, 46, 0.25);
}

/* Hover states */
.annotation-toggles .annotation-toggle.question:hover {
  background: rgba(11, 157, 217, 0.30);  
}

.annotation-toggles .annotation-toggle.idea:hover {
  background: rgba(145, 187, 4, 0.35);
}

.annotation-toggles .annotation-toggle.error:hover {
  background: rgba(231, 88, 46, 0.35);
}




