/* Editor
-------------------------------------------------------------------------------*/

#document {
  position: fixed;
  left: 340px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  width: 720px;
  background: #fff;
  /*-webkit-font-smoothing: subpixel-antialiased;*/
  font-size: 19px;
  line-height: 28px;
}

/* Introduction */

.document-settings {
  position: absolute;
  overflow: auto;
  font-size: 16px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 300px;
  padding: 20px;
}

.document-settings ul {
  font-size: 13px;
  margin-left: 20px;
}

.document-settings h2 {
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
}


/* Document Tools */

.document-tools {
  position: absolute;
  overflow: auto;
  font-size: 16px;
  left: 1050px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 300px;
  background: white;
  padding: 20px;
}


#document .surface {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.node-toggles {
  padding: 30px 0px;
  /*background: #2A2A2A;*/
  overflow: auto;
}

.document-settings .label {
  /*display: none;*/
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  padding-bottom: 12px;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.node-toggles .insert-node {
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  display: block;
  width: 60px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 40px;
  /*background: rgba(0,0,0,0.05);*/
  /*background: rgba(255,255,255,1);*/
  /*border: 1px solid rgba(0,0,0,0.1);*/
  color: rgba(0,0,0,0.5);
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.node-toggles .insert-node i {
  
}

.node-toggles .insert-node span {
  display: block;
  height: 20px;
  float: right;
}

.node-toggles .insert-node.image input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.node-toggles .insert-node:hover {
  color: rgba(0,0,0,0.8);
  background: rgba(255,255,255, 1);
}

/* Annotation toggles */

.annotation-toggles {
  /*background: rgba(255,255,255,1);*/
  margin-top: 20px;
  overflow: auto;
  margin-bottom: 40px;
}

.annotation-toggles input {
  display: none;
  margin-top: 20px;
  padding: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  color: #555;
  width: 100%;
}

.annotation-toggles .styles {
  height: 30px;
  float: left;
  width: 150px;
  overflow: auto;
  /* background: blue;*/
}

.annotation-toggles .markers {
  height: 30px;
  float: left;
  width: 110px;
  overflow: auto;
  /*background: green;*/
}

.annotation-toggles .annotation-toggle {
  text-align: center;
  float: left;
  width: 35px;
  height: 30px;
  line-height: 30px;
  margin-right: 1px;
  color: rgba(0,0,0,0.5);
}



.annotation-toggles .annotation-toggle.active {
  background: rgba(0,0,0,0.2);
}

.annotation-toggles .annotation-toggle:hover {
  background: rgba(0,0,0,0.1);
}


.annotation-toggles .annotation-toggle.question {
  color: rgba(11, 157, 217, 1);
}

.annotation-toggles .annotation-toggle.idea {
  color: rgba(145, 187, 4, 1);
}

.annotation-toggles .annotation-toggle.error {
  color: rgba(231, 88, 46, 1);
}



/* Hover states */
.annotation-toggles .annotation-toggle.question:hover {
  background: rgba(11, 157, 217, 0.3);  
}

.annotation-toggles .annotation-toggle.idea:hover {
  background: rgba(145, 187, 4, 0.3);
}

.annotation-toggles .annotation-toggle.error:hover {
  background: rgba(231, 88, 46, 0.3);
}


/* Hover states */
.annotation-toggles .annotation-toggle.question.active {
  color: rgba(255,255,255, 0.7);
  background: rgba(11, 157, 217, 1);  
}

.annotation-toggles .annotation-toggle.idea.active {
  color: rgba(255,255,255, 0.7);
  background: rgba(145, 187, 4, 1);
}

.annotation-toggles .annotation-toggle.error.active {
  color: rgba(255,255,255, 0.7);
  background: rgba(231, 88, 46, 1);
}


/* Annotation Styles
-------------------------------------------------------------------------------*/

.content-node .idea { background-color: rgba(102, 182, 32, 0.3); }
.content-node .question { background-color: rgba(16, 167, 222, 0.3); }
.content-node .error { background-color: rgba(237, 96, 48, 0.3); }

.content-node .idea.active { background-color: rgba(102, 182, 32, 0.5); }
.content-node .question.active { background-color: rgba(16, 167, 222, 0.5); }
.content-node .error.active { background-color: rgba(237, 96, 48, 0.5); }

.content-node .link { color: #117CE6; font-weight: bold; }
.content-node .link:hover, .content-node .link.active { background: rgba(0,0,0,0.05); }

.content-node .code {
/*  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 13px;*/
  line-height: 26px;
  /*display: inline-block;*/
  border: 1px solid #EAEAEA;
  background: #f8f8f8;
  color: #555;
  padding: 0 2px;

/*  font-family: Consolas, "Liberation Mono", Courier, monospace; background: #eee; font-size: 15px
  -webkit-font-smoothing: subpixel-antialiased;
*/}

/* Highlighted states */

.content-node .idea.highlight { background-color: rgba(102, 182, 32, 0.6); }
.content-node .question.highlight { background-color: rgba(16, 167, 222, 0.6);}
.content-node .error.highlight { background-color: rgba(237, 96, 48, 0.6); }

/* Selected states */

.content-node .content span.selected { background: rgba(0,0,0,0.08); }

.content-node .content .idea.selected { background-color: rgba(102, 182, 32, 0.4); }
.content-node .content .question.selected { background-color: rgba(16, 167, 222, 0.4);}
.content-node .content .error.selected { background-color: rgba(237, 96, 48, 0.4); }

/* Em, Strong, Link */

.content-node .emphasis { font-style: italic; }
/*.content-node .link { background-color: #00CFEA; }*/
.content-node .strong { font-weight: bold; }



