#networks {
  background: #2B2B2B;
  overflow: auto;
  padding-bottom: 50px;

  .network {
    .border-radius(5px);
    width: 150px;
    height: 100px;
    background: #3D3D3D;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
    color: #ddd;
    cursor: pointer;
    position: relative;
    
    a {
      border: none;
      color: #fff
    }

    .document-count {
      position: absolute;
      bottom: 5px;
      right: 5px;
      text-align: right;
      color: #222;
      font-size: 12px;
    }
    .member-count {
      position: absolute;
      bottom: 20px;
      right: 5px;
      text-align: right;
      color: #222;
      font-size: 12px;
    }
  }

  .network:hover {
     background: #1C1C1C;
    color: #fff;
    
    .member-count { color: #ddd; }
      .document-count { color: #ddd; }
  }
}
