#explore {
  overflow: auto;
  margin-top: 50px;
}

#explore h2 {
  color: #777;
}

#networks {
  margin: 0 80px 0 80px;

  h2 {
    padding: 30px 0;
  }

  .network {
    opacity: 0.9;
    padding: 0px;
    position: relative;
    float: left;
    margin-right: 40px;

    width: 180px;
    &:hover {
      opacity: 1.0;
    }
    
    .image {
      overflow: hidden;
      height: 180px;

      -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
      -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
      box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);

    }

    .title {
      padding: 10px 10px;
      font-size: 18px;
      text-align: center;
      height: 60px;
    }

    .document-count {

      background: #fff;
      opacity: 0.9;
      position: absolute;
      padding: 0 5px;
      top: 120px;
      right: 0px;
      text-align: right;
      color: #444;
      font-size: 12px;
    }

    .member-count {
      background: #fff;
      opacity: 0.9;
      position: absolute;
      padding: 0 5px;
      top: 145px;
      right: 0px;
      text-align: right;
      color: #444;
      font-size: 12px;
    }
  }

  a { border: none; }
}

#network_filters {
  display: none; /* reactivate at some point */
  background: #fff;
  float: left;
  width: 230px;
  margin-top: 100px;
  margin-left: 80px;
  padding: 10px;
}

#network_filters h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
