#explore {
  overflow: auto;
}

#explore h2 {
  color: #777;
}

#networks {
  margin: 0 80px 0 350px;

  h2 {
    padding: 30px 0;
  }

  .network {
    background: #fff;
    padding: 0px;
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 220px;

    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    
    .image {
      overflow: hidden;
      height: 100px;
    }

    .title {
      padding: 10px 10px;
      font-size: 22px;
      background: #82AA15;
      color: #fff;
    }

    .document-count {
      position: absolute;
      bottom: 5px;
      right: 5px;
      text-align: right;
      color: #666;
      font-size: 12px;
    }

    .member-count {
      position: absolute;
      bottom: 20px;
      right: 5px;
      text-align: right;
      color: #666;
      font-size: 12px;
    }
  }

  a { border: none; }
}

#network_filters {
  background: #fff;
  float: left;
  width: 230px;
  margin-top: 100px;
  margin-left: 80px;
  padding: 10px;
}

#network_filters h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
