/* body > #container > #header
-------------------------------------------------------------------------------*/

#header {
/*  margin: 0 180px 10px 100px;*/
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200000;
  background: #2B2B2B;
  height: 30px;
  font-style: italic;
}


/* #header > #navigation
-------------------------------------------------------------------------------*/

#header_title {
  float: left;
  margin: 4px 10px;

  a {
    text-decoration: none;
    border: none;
    font-style: normal;
    color: white;
  }
}

#navigation {
  width: 500px;
	float: left;
	height: 30px;
}

#header #navigation .toggle-view {
  display: block;
  border: none;
  float: left;
  font-style: normal;
  color: #bbb;
  margin-right: 5px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-top: 2px solid transparent;
}

#header #navigation .toggle-view:hover, #header #navigation .toggle-view.selected {
	color: #fff;
  border-top: 2px solid #fff;
}


/* #header > #login_state
-------------------------------------------------------------------------------*/

#header #login_state {
  float: right;
  position: relative;
  left: 2px;
  top: 0px;
  margin-right: 10px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}


/* #sync_state
-------------------------------------------------------------------------------*/

#sync_state {
  position: fixed;
  padding-top: 15px;
  right: 20px;
  top: 10px;
  display: none;
  background: #ccc;
  width: 50px;
  height: 50px;
  background: url("@{images}/load.gif") center center no-repeat;
}


/* body > #container > #browser_wrapper > #browser > #login_action
-------------------------------------------------------------------------------*/



#login_state.logged-in {
  cursor: pointer;
  background: #D5D6D2;
  .border-radius(2px);
}


#login_state .toggle { float: left; min-width: 35px; height: 25px; }
#login_state .toggle:hover, #login_state .toggle.active { background: rgba(0,0,0, 0.1); }

.toggle .icon {
  opacity: 0.4;
  float: left;
  width: 35px;
  height: 25px;
  line-height: 25px;
}

.toggle.notifications .count {
  float: left;
  font-size: 12px;
  font-style: normal;
  margin-right: 7px;
  line-height: 25px;
}

.toggle.user-profile .lbl {
  float: left;
  margin-right: 4px;
  font-style: normal;
  color: #6D6D6C;
  line-height: 35px;
}

.toggle.user-profile:hover .lbl {
  color: #4C4C4B;
}

.toggle.notifications .count span {
  padding: 2px 4px 1px 4px;
  color: #fff;
  background: rgba(0,0,0, 0.2);
  .border-radius(2px);
}

.toggle.notifications .icon { background: url("@{images}/icons/black/rss_16x16.png") center center no-repeat; }

.toggle.user-profile .icon { opacity: 1.0; background: none; }
.toggle.user-profile .icon img { padding: 5px; }

.toggle.user-settings .icon { background: url("@{images}/icons/black/cog_alt_16x16.png") center center no-repeat; }

.toggle.logout .icon { background: url("@{images}/icons/black/eject_16x16.png") center center no-repeat; }


/* Logged out */
#login_state input {
  width: 100px;
  margin: 0;
  margin-left: 10px;
  float: left;
}

#login_state input[type=submit] {
  background: #8C8C84;
  width: auto;
  font-weight: normal;
  font-size: 12px;
}

#login_state input[type=submit]:hover {
  background: #70706B;
}

#login_state .signup {
  color: #777;
  padding-top: 10px;
  text-align: right;
  font-style: normal;
}