/* body > #container > #header
-------------------------------------------------------------------------------*/

#header {
/*  margin: 0 180px 10px 100px;*/
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200000;
  background: #293335;
  height: 30px; line-height: 30px;
  font-style: italic;
}


/* #header > #navigation
-------------------------------------------------------------------------------*/

#header_title {
  float: left;
  margin: 0 10px;

  a {
    text-decoration: none;
    border: none;
    font-style: normal;
    color: white;
  }
}

#navigation {
  width: 300px;
  float: left;
  height: 30px;
}

#header #navigation .toggle-view {
  float: left;
  background: #444;
  color: #fff;
  margin-right: 5px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

#header #navigation .toggle-view:hover, #header #navigation .toggle-view.selected {
  background: #000;
}


/* #sync_state
-------------------------------------------------------------------------------*/

#sync_state {
  position: fixed;
  padding-top: 15px;
  right: 20px;
  top: 10px;
  display: none;
  background: #ccc;
  width: 50px;
  height: 50px;
  background: url("@{images}/load.gif") center center no-repeat;
}
