body:not(.document) #header {
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.45);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.45);
  border-bottom: 1px solid transparent;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200000;
  background: #E5E6E0;
  border-bottom: 1px solid #C1C1C1;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  height: 35px; line-height: 35px;
  font-style: italic;

  #header_title {
    .document-font;
    float: left;
    margin: 0 40px;

    a {
      text-decoration: none;
      border: none;
      font-style: normal;
      color: #444;
      font-size: 22px;

      &:hover {
        color: #444;
      }

    }
  }

  #navigation {
    width: 300px;
    float: left;
    height: 35px;
    .toggle-view {
      position: relative;
      display: block;
      border: none;
      float: left;
      font-style: normal;
      color: #929292;
      line-height: 35px;
      margin-right: 5px;
      padding: 0 10px;
      &.active, &:hover {
        color: #444;
      }
    }
  }
}



/* #sync_state
-------------------------------------------------------------------------------*/

#sync_state {
  position: fixed;
  padding-top: 15px;
  right: 20px;
  top: 10px;
  display: none;
  background: #ccc;
  width: 50px;
  height: 50px;
  background: url("@{images}/load.gif") center center no-repeat;
}
