#network_header {
  padding: 10px;
  padding-right: 80px;
  padding-left: 80px;

  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.35), inset 0px 0px 1px rgba(255,255,255,0.15);
  -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.35), inset 0px 0px 1px rgba(255,255,255,0.15);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.35), inset 0px 0px 1px rgba(255,255,255,0.15);

  overflow: auto;
	background: #82AA15;

  color: #aaa;
  h2 {
    color: #000;
    opacity: 0.5;
    padding-bottom: 0px;
    margin-right: 400px;
  }

  p {
    color: #D5E2A6;

    &.meta {
      color: #000;
      opacity: 0.5;
      padding-top: 0px;
    }
  }

  .network-info {
    float: left;
    .descr {
      max-width: 700px;
      color: #fff;
      opacity: 0.5;
    }


  }
  
  .image {
    background: white;
    background-opacity: 0.4;
    margin-right: 20px;
    float: left;
    padding: 5px;

    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);

    img {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  .actions {
    float: right;
    
    .action {
      text-align: center;
      .border-radius(5px);
      border: 0;
      display: block;
      color: #fff;
      padding: 10px;
      background: #000;
      opacity: 0.5;
      margin: 0;

      &:hover {
        opacity: 0.6;
      }
    }

    .tabs {
      margin-top: 50px;
      overflow: auto;

      a { border: none; }
      .tab {

        .number {
          font-size: 20px;
          font-weight: bold;
        }

        text-align: center;
        padding: 4px 0;
        color: #fff;
        width: 80px;
        margin-left: 5px;
        
        opacity: 0.5;
        .border-radius(5px);
        float: left;

        &.selected {
          background: #000;
        }
      }


    }
  }
}

#network {
  .image {
    .info {
      font-size: 12px;
      padding: 5px;
      text-align: center;
    }
    
    float: left;
    margin-right: 20px;

    form {
      height: 120px;
      width: 180px;
      overflow: hidden;
      position: relative;
    }

    .image-file {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      opacity: 0;
      padding: 0;
      margin: 0;
    }
  }
}


#network #results {
  padding-top: 80px;
  margin-left: 80px;
}