@background:        #842210;

/*
 Helpers
----------------------
*/

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }
.right { float: right; }
.left { float: left; }
.nobr {white-space: nowrap} 
.right-align {text-align: right; }

.serif {
  .document-font;
}

.italic {
  font-style: italic;
}

/* Common styles
-------------------------------------------------------------------------------*/

html {
  margin: 0; padding: 0; 
  -webkit-font-smoothing: antialiased;
}

img { border: none; }

body { 
  .ui-font;
  font-size: 14px;
  margin: 0; padding: 0;
  background: #F0F1EB;
  color:#444;
  line-height:1.5em;
}

a {
  text-decoration:none;
  color: #51483D;
  border-bottom: 1px solid #ccc;
  padding: 0 0 1px 0;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}


p { margin: 0 0 10px 0; }
p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 { padding: 10px 0 5px 0; }
h3, h4, h5, h6 { padding-top: 20px; }
h2 { font-size: 160%; padding-bottom: 15px; }


hr.separator {
  display: block;
  background: url("@{images}/separator.png") no-repeat center;
  width: 920px;
  height: 15px;
  border: 0;
  margin: 30px 0;
  
}

hr.separator.nomargin {
  margin: 0px;
}

.border {
  border-top: 1px solid red;
  border-bottom: 1px solid green;
  margin-bottom: 15px;
}

/* Webkit Animation Settings */
li        {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
a         {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
label     {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
input     {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
textarea  {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
img       {  -webkit-transition: opacity 0.35s linear; }


/* Form input */

input[type=search], input[type=text], input[type=email], input[type=password], textarea {
  .border-radius(2px);
  background-color: #F6F7F2;

  border: solid 1px #d4d4d4;
  color: #777;
  width: 100%;
  padding: 5px 6px;
  font-size: 12px;
  
  -webkit-box-shadow: inset 1px 1px 4px #ddd;
  -moz-box-shadow: inset 1px 1px 4px #ddd;
  box-shadow: inset 1px 1px 4px #ddd;
  
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  -webkit-transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
}


input[type=search]:focus, input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=password]:focus {
  outline: none;
  background-color: white;
  -webkit-box-shadow: inset 1px 1px 4px #ddd;
  -moz-box-shadow: inset 1px 1px 4px #ddd;
  box-shadow: inset 1px 1px 4px #ddd;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  border: solid 1px #b4b4b4;
  color: #444;
}


input[type=submit] {
  -webkit-appearance: none;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  width: auto;
  text-decoration: none;
  background-color: #000;
  padding: 0 10px;
  height: 28px;
  line-height: 29px;
  color: #fff;
  display: block;
  -webkit-transition: background-color 400ms;
  -moz-transition: background-color 400ms;
  .border-radius(2px);
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #333;
  -webkit-transition: background-color 0ms;
  -moz-transition: background-color 0ms;
}

input[type=submit]:active {
  opacity: 0.7;
}


/* Button
-------------------------------------------------------------------------------*/

a.button {
  border: none;
  display: block;
  float: left;
  font-size: 15px;
  color: white;
  background: #A2C44E;
  padding: 7px 10px;
  .border-radius(4px);
}

a.button.contribute { margin-top: 20px; }

a.button:hover { background: #B4D354; }

a.button:active { background: #98B247; }



/* Browser not supported view
-------------------------------------------------------------------------------*/

div.browser-not-supported {
  .document-font;
    
  margin-top: 20px;
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  text-align: center;
}

div.browser-not-supported h1 {
  font-size: 50px;
}

div.browser-not-supported h1 p {
  .ui-font;
  
  position: relative;
  color: #777;
  top: 10px;
  font-size: 15px;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}

div.browser-not-supported p {
  font-size: 18px;
  margin: 10px;
}

div.browser-not-supported p.recommendation {
  color: #666;
  font-size: 14px;
  margin-top: 40px;
  font-style: italic;
  margin-bottom: 20px;
}

div.browser-not-supported h2 {
  font-style: italic;
  font-size: 30px;
}

div.browser-not-supported a {
  opacity: 0.5;
  border: none;
  text-decoration: none;
}

div.browser-not-supported a:hover {
  opacity: 1.0;
}




/* body > #container > #content_wrapper
-------------------------------------------------------------------------------*/

#content_wrapper {
  position: relative;
  margin: 0;
}

/* Page Content Dialogue
-------------------------------------------------------------------------------*/

.page-content {
  .document-font;
  padding: 50px 50px;
  background: #fff;
}

.page-content h1, #confirm_collaboration h1 {
  .document-font;
  font-size: 34px;
  color: #000;
  padding: 20px 0;
}

.page-content select { float: left; }
.page-content input { float: left; width: 350px; }

.page-content input.error { border: 2px solid red; }
.page-content label { display: block; float: left; width: 300px; position: relative; font-size: 16px; font-style: italic; }
.page-content label span { .ui-font; position: absolute; top: 20px; left: 0px; color: #888; font-size: 12px; font-style: normal; }
.page-content div { padding: 20px 0; overflow: auto }
.page-content input[type=submit] { background: #A2C44E; color: white; border: none; }

/* Messages for input fields */
.page-content .input-message { float: left; padding: 0 20px; margin: 0; 
  .ui-font;
  max-width: 200px;
  font-size: 12px;
}

.page-content #registration_error_message {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: darkred;
  margin-top: 20px;
  overflow: hidden;
}

/* body > #container > #browser_wrapper
-------------------------------------------------------------------------------*/

#browser_wrapper {
  margin: 0 180px 0px 100px;
  padding: 0px 0 20px 0;
  position: relative;
}

#browser_wrapper h2 {
  .document-font;
  padding-top: 20px;
  padding-bottom: 20px;
}

#browser {
  overflow: auto;
  position: relative;
  margin: 0;
  background: #fff url("@{images}/browser-background.png") right repeat-y;

  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
}

#card_file {
  overflow: auto;
  margin: 0px 0px 0px 0px;
  min-height: 100px;
  background: #DCDDD9;
  padding: 20px 30px;
  color: #635849;
  position: relative;
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
}

#card_file h1 {
  font-size: 28px;
  padding: 0;
  color: #635849;
}

#card_file h2 {
  .ui-font;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 0;
  color: #635849;
}

#card_file .avatar {
  width: 120px;
  float: left;
}

#card_file img {
  margin: 3px 0;
}

#card_file .username {
  float: left;
}

#card_file .container {
  background: #ccc;
}

#card_file .attributes span {
  padding-right: 10px;
}

#card_file em {
  color: #888;
}



/* body > #container > .menu
-------------------------------------------------------------------------------*/

.menu {
  box-sizing:content-box;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  
  position: absolute;
  left: 230px;
  right: 180px;
  background: #635849;
  height: 26px;
  line-height: 26px;
  padding: 0 0px 0 20px;
  color: white;
}


/* name the menu panel */
.menu div.header {
  .document-font;
  font-size: 18px;
  font-style: italic;
  position: absolute;
  left: -210px;
  width: 209px;
  padding-left: 0px;
}

.menu .label {
  margin-bottom: 1px;
  display: block;
  overflow: auto;
}

.label.choice.hidden { display: none; }

.menu a {
  color: #fff;
}

.menu .label .text {
  vertical-align: bottom;
  width: 182px;
  line-height: 26px;
  padding-left: 5px;
  display: block;
  float: left;
  margin-left: 1px;
}

#document_menu .text { background: #635849; }
#document_menu .icon { background-color: #635849; }
#browser_menu .text { background: #586C72; }
#browser_menu .icon { background-color: #586C72; }


/* commonly used */
.menu-content {
  overflow: auto;
  height: 26px;
  color: white;
  font-size: 13px;
  padding: 0 5px 0 0;
  position:  relative;
}

.menu-activity {
  display: none;
}


/* body > #container > #browser_wrapper > #browser_menu
-------------------------------------------------------------------------------*/

#browser_menu {
  position: fixed;
  top: 60px;
  left: 230px;
  
  right: 180px;
  height: 26px;
  background: #586C72;
  
  line-height: 26px;
  padding: 0 180px 0 20px;
  z-index: 10000;
}

#browser_menu .document-type-selection {
  display: none;
  position: absolute;
  top: 30px;
  background: #F0F1EB;
  width: 150px;
}

.document-type-selection a {
  color: #929292;
  padding: 3px;
  text-decoration: none;
}

.document-type-selection a:hover {
  background: black;
  color: white;
}

#browser_menu #title {
  position: absolute;
  left: 20px;
  z-index: 5000;
}




/* Event Notifications
-------------------------------------------------------------------------------*/

#event_notifications {
  background: #C0C1BD;
  font-style: normal;
  position: absolute;
  top: 34px;
  left: 0px;
  right: 0px;
  z-index: 10000000;
  
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  
  display: none;
}

#event_notifications.active {
  display: block;
}

#event_notifications strong {
  font-weight: bold;
}

#event_notifications div.notification img {
  padding: 9px;
}

#event_notifications div.notification {
  padding-top: 10px;
  font-size: 12px;
  margin-left: 0px;
/*  border-left: 2px solid transparent;*/
}


/* Message */
#event_notifications div.notification .message {
  color: #666;
  padding: 0 5px;
  margin-left: 45px;
}

#event_notifications div.notification:hover .message { color: #444; }
#event_notifications div.notification:hover .timestamp { color: #666; }

#event_notifications div.notification .timestamp {
  color: #888;
  font-size: 12px;
  padding: 0 5px;
  margin-left: 45px;
}

/* Highlight unread notifications */
#event_notifications div.notification.unread { background: rgba(0,0,0,0.05); }

#event_notifications div.notification img { float: left; }

#login #event_notifications a { margin: 0; }

#event_notifications div.notification:hover { /*border-left: 2px solid #444;*/ }





/* Confirm Collaboration Dialogue
-------------------------------------------------------------------------------*/

#confirm_collaboration {
  margin: 0 180px 80px 100px;
}

#confirm_collaboration .option {
  padding: 30px;
  background: #fff;
}

#confirm_collaboration .or {
  text-align: center;
  padding: 10px;
}

#confirm_collaboration h1 {
  border: none;
}

#confirm_collaboration .option-tabs {
  overflow: auto;
}

#confirm_collaboration .option-tabs a.option-tab {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 10px 50px;
  border: none;
  background: rgba(0,0,0, 0.1);
}

#confirm_collaboration .option-tabs a.option-tab.active {
  background: white;
}

#confirm_collaboration .option {
  display: none;
}

#confirm_collaboration .summary {
  background: rgba(0,0,0, 0.1);
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#confirm_collaboration .document {
  padding: 20px 0 30px 0;
}

#confirm_collaboration .title, #recover_password .title, #reset_password .title {
  .document-font;
  font-size: 40px;
  line-height: 100px;
  height: 100px;
}

#confirm_collaboration .lead {
  .document-font;
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.5;
  font-style: italic;
  color: #555;
}

#confirm_collaboration .option.active {
  display: block;
}






/* Recover Password
-------------------------------------------------------------------------------*/

#recover_password {
  margin: 0 180px 80px 100px;
}

#recover_password .success {
  display: none;
}


/* Reset Password
-------------------------------------------------------------------------------*/

#reset_password {
  margin: 0 180px 80px 100px;
}



/* Notifications
-------------------------------------------------------------------------------*/

#notifications {
  color: #666;
  position:fixed;
  bottom:0px;
  right:0px;
  font-size:13px;
  z-index:10000;
}

#notifications .wrapper {
  margin:0 20px;

  padding: 0;
  background: #ddd;
  -webit-border-top-left-radius:  4px;
  -webit-border-top-right-radius: 4px;
  -moz-border-radius-topleft:     4px;
  -moz-border-radius-topright:    4px;
  border-top-left-radius:         4px;
  border-top-right-radius:        4px;
}

#notifications .wrapper p { margin: 0; padding: 0; }
#notifications .wrapper > p { padding:4px 12px 2px 12px; border-bottom:1px solid #fff }
#notifications .wrapper > p:last-child { padding:4px 12px 6px 12px; border-bottom:none; }
#notifications .wrapper > p.error        > span { float:left; width:70px; color:#f45; font-size:11px; font-weight:bold; text-transform:uppercase; }
#notifications .wrapper > p.warning      > span { float:left; width:70px; color:#fd6; font-size:11px; font-weight:bold; text-transform:uppercase; }
#notifications .wrapper > p.notification > span { float:left; width:70px; color:#aaa; font-size:11px; font-weight:bold; text-transform:uppercase; }
