@background:        #842210;

/*
 Helpers
----------------------
*/

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }
.right { float: right; }
.left { float: left; }
.nobr {white-space: nowrap} 
.right-align {text-align: right; }

.serif {
  .document-font;
}

.italic {
  font-style: italic;
}

/* Common styles
-------------------------------------------------------------------------------*/

html {
  margin: 0; padding: 0; 
  -webkit-font-smoothing: antialiased;
}

img { border: none; }

body { 
  .ui-font;
  font-size: 14px;
  margin: 0; padding: 0;
  background: #F0F1EB;
  color:#444;
  line-height:1.5em;
}

a {
  text-decoration:none;
  color: #51483D;
  border-bottom: 1px solid #ccc;
  padding: 0 0 1px 0;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}


p { margin: 0 0 10px 0; }
p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 { padding: 10px 0 5px 0; }
h3, h4, h5, h6 { padding-top: 20px; }
h2 { font-size: 160%; padding-bottom: 15px; }


hr.separator {
  display: block;
  background: url("@{images}/separator.png") no-repeat center;
  width: 920px;
  height: 15px;
  border: 0;
  margin: 30px 0;
  
}

hr.separator.nomargin {
  margin: 0px;
}

.border {
  border-top: 1px solid red;
  border-bottom: 1px solid green;
  margin-bottom: 15px;
}

/* Webkit Animation Settings */
li        {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
a         {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
label     {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
input     {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
textarea  {  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear; }
img       {  -webkit-transition: opacity 0.35s linear; }


/* Form input */

input[type=search], input[type=text], input[type=email], input[type=password], textarea {
  .border-radius(2px);
  background-color: #F6F7F2;

  border: solid 1px #d4d4d4;
  color: #777;
  width: 100%;
  padding: 5px 6px;
  font-size: 12px;
  
  -webkit-box-shadow: inset 1px 1px 4px #ddd;
  -moz-box-shadow: inset 1px 1px 4px #ddd;
  box-shadow: inset 1px 1px 4px #ddd;
  
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  -webkit-transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
}


input[type=search]:focus, input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=password]:focus {
  outline: none;
  background-color: white;
  -webkit-box-shadow: inset 1px 1px 4px #ddd;
  -moz-box-shadow: inset 1px 1px 4px #ddd;
  box-shadow: inset 1px 1px 4px #ddd;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  border: solid 1px #b4b4b4;
  color: #444;
}


input[type=submit] {
  -webkit-appearance: none;
  margin-bottom: 0;
  border: none;
  font-size: 12px;
  width: auto;
  text-decoration: none;
  background-color: #000;
  padding: 0 10px;
  height: 28px;
  line-height: 29px;
  color: #fff;
  display: block;
  -webkit-transition: background-color 400ms;
  -moz-transition: background-color 400ms;
  .border-radius(2px);

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: #333;
    -webkit-transition: background-color 0ms;
    -moz-transition: background-color 0ms;
  }

  &:active:not(:disabled) {
    opacity: 0.7;
  }
}


/* Button
-------------------------------------------------------------------------------*/

a.button {
  border: none;
  display: block;
  float: left;
  font-size: 15px;
  color: white;
  background: #A2C44E;
  padding: 7px 10px;
  .border-radius(4px);
}

a.button.contribute { margin-top: 20px; }

a.button:hover { background: #B4D354; }

a.button:active { background: #98B247; }



/* Browser not supported view
-------------------------------------------------------------------------------*/

div.browser-not-supported {
  .document-font;
    
  margin-top: 20px;
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  text-align: center;
}

div.browser-not-supported h1 {
  font-size: 50px;
}

div.browser-not-supported h1 p {
  .ui-font;
  
  position: relative;
  color: #777;
  top: 10px;
  font-size: 15px;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}

div.browser-not-supported p {
  font-size: 18px;
  margin: 10px;
}

div.browser-not-supported p.recommendation {
  color: #666;
  font-size: 14px;
  margin-top: 40px;
  font-style: italic;
  margin-bottom: 20px;
}

div.browser-not-supported h2 {
  font-style: italic;
  font-size: 30px;
}

div.browser-not-supported a {
  opacity: 0.5;
  border: none;
  text-decoration: none;
}

div.browser-not-supported a:hover {
  opacity: 1.0;
}




/* body > #container > #content_wrapper
-------------------------------------------------------------------------------*/

#content_wrapper {
  position: relative;
  margin: 0;
}

/* Page Content Dialogue
-------------------------------------------------------------------------------*/

.page-content {
  .document-font;
  padding: 50px 50px;
  background: #fff;
}

.page-content h1, #confirm_collaboration h1 {
  .document-font;
  font-size: 34px;
  color: #000;
  padding: 20px 0;
}

.page-content select { float: left; }
.page-content input { float: left; width: 350px; }

.page-content input.error { border: 2px solid red; }
.page-content label { display: block; float: left; width: 300px; position: relative; font-size: 16px; font-style: italic; }
.page-content label span { .ui-font; position: absolute; top: 20px; left: 0px; color: #888; font-size: 12px; font-style: normal; }
.page-content div { padding: 20px 0; overflow: auto }
.page-content input[type=submit] { background: #A2C44E; color: white; border: none; }

/* Messages for input fields */
.page-content .input-message { float: left; padding: 0 20px; margin: 0; 
  .ui-font;
  max-width: 200px;
  font-size: 12px;
}

.page-content #registration_error_message {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: darkred;
  margin-top: 20px;
  overflow: hidden;
}





/* Notifications
-------------------------------------------------------------------------------*/

#notifications {
  color: #666;
  position:fixed;
  bottom:0px;
  right:0px;
  font-size:13px;
  z-index:10000;
}

#notifications .wrapper {
  margin:0 20px;

  padding: 0;
  background: #ddd;
  -webit-border-top-left-radius:  4px;
  -webit-border-top-right-radius: 4px;
  -moz-border-radius-topleft:     4px;
  -moz-border-radius-topright:    4px;
  border-top-left-radius:         4px;
  border-top-right-radius:        4px;
}

#notifications .wrapper p { margin: 0; padding: 0; }
#notifications .wrapper > p { padding:4px 12px 2px 12px; border-bottom:1px solid #fff }
#notifications .wrapper > p:last-child { padding:4px 12px 6px 12px; border-bottom:none; }
#notifications .wrapper > p.error        > span { float:left; width:70px; color:#f45; font-size:11px; font-weight:bold; text-transform:uppercase; }
#notifications .wrapper > p.warning      > span { float:left; width:70px; color:#fd6; font-size:11px; font-weight:bold; text-transform:uppercase; }
#notifications .wrapper > p.notification > span { float:left; width:70px; color:#aaa; font-size:11px; font-weight:bold; text-transform:uppercase; }
