/* Reset
-------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
  overflow:hidden;
}
/*ol, ul {
  list-style: none;
}*/
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

::selection { background: rgba(0,0,0,0.08); /* display: none; */ }


/* Helpers
-------------------------------------------------------------------------------*/

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }
.right { float: right; }
.left { float: left; }
.nobr {white-space: nowrap} 
.right-align {text-align: right; }


/* Layout
-------------------------------------------------------------------------------*/

html, body {
  
}

body, input, textarea {
  font: normal 14px/20px 'Source Sans Pro', 'Open Sans',Arial,sans-serif;
  font-weight: 400;
  color: #444;
}

html {
  margin: 0; padding: 0; 
  -webkit-font-smoothing: antialiased;
}

img { border: none; }

body {
  min-width: 1200px;
  font-size: 14px;
  margin: 0; padding: 0;
  background: #F0F1EB;
  color:#444;
  line-height:1.5em;
}

/*a {
  text-decoration:none;
  color: #51483D;
  padding: 0 0 1px 0;
}

a:hover {
  color: #000;
}*/

p { margin: 0 0 10px 0; }

p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 { padding: 10px 0 5px 0; }
h3, h4, h5, h6 { padding-top: 20px; }
h2 { font-size: 160%; padding-bottom: 15px; }



#main {
  padding-top: 35px;
}


#composer {
  position: relative;
}


#container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 40px;
}

a {
  color: #426D8B;
  text-decoration:none;
}

a:hover {
  color: rgba(11, 157, 217, 1);
}



/* Main Menu Bar
-------------------------------------------------------------------------------*/

#menu {
  background: black;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 40px;
  background: #4A4A4A;
}

#menu .views {
  /*background: blue;*/
}

#menu .views a.toggle-view {
  border: none;
  display: block;
  height: 40px;
  color: rgba(255,255,255, 0.5);
  line-height: 40px;
  text-align: center;
}

#menu .views a.toggle-view:hover {
  background: rgba(0,0,0, 0.3);
  color: #fff;
}

#menu .actions {
  position: absolute;
  bottom: 0px;
  width: 40px;
}

#menu .actions a.action {
  border: none;
  display: block;
  height: 40px;
  line-height: 40px;
  color: rgba(255,255,255, 0.5);
  text-align: center;
}

#menu .actions a.action:hover {
  background: rgba(0,0,0, 0.3);
  color: #fff;
}

#help {
  padding-top: 50px;
  text-align: center;
}



/* Test Center
-------------------------------------------------------------------------------*/

.test-center {
  height: 100%;
}

.test-center .test-suites {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
}

.test-center .test-suites .test-suite {
  display: block;
  padding: 14px 20px;

  border-bottom: 1px solid #ddd;
  position: relative;
}

.test-center .test-suites .test-suite .status {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 5px;
}

.test-center .test-suites .test-suite .status.success {
  background: #7AA017;  
}

.test-center .test-suites .test-suite .status.error {
  background: #D91D1D;  
}


.test-center .test-suites .test-suite.active {
  background: rgba(255,255,255,1);
}

.test-center .test-suites .test-suite:hover {
  background: rgba(255,255,255,0.7);
}

.test-center .test-report {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  width: 800px;
  overflow: auto;
  background: #fff;
}

.test-center .test-report .border-right {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 2px;
  background: #C7CAC9;
}

.test-center .test-output {
  display: none;
  position: absolute;

  font-size: 18px;
  top: 0px;
  right: 20px;
  left: 1120px;
  bottom: 0px;
  background: white;
}

.test-center .test-report h2 {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 40px;
  padding: 40px 80px;
}

.test-center .test-report .test {
  margin-bottom: 50px;
}

.test-center .test-report .test .name {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
  padding: 10px 80px;
}

.test-center .test-report .test .actions {
  font-size: 18px;
}

.test-center .test-report .test .actions .action {
  padding: 0px 80px;
  /*border-bottom: 1px solid #eee;*/
  margin-bottom: 1px;
  position: relative;
  line-height: 60px;
}

.test-center .test-report .test .actions .action .error-source {
  overflow: auto;
  font-family: 'Source Code Pro';
  background: rgba(217, 29, 29, 0.02);

  border: 1px solid rgba(217, 29, 29, 0.2);
  padding: 20px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
}

.test-center .test-report .test .actions .action .stack-trace {
  overflow: auto;
  font-family: 'Source Code Pro';
  background: rgba(217, 29, 29, 0.02);
  border: 1px solid rgba(217, 29, 29, 0.2);
  padding: 20px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
}

.test-center .test-report .test .actions .action .duration {
  font-size: 13px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: right;
  padding-right: 30px;
  width: 100px;
}

.test-center .test-report .test .actions .action.success .duration {
  color: #7AA017;  
}

.test-center .test-report .test .actions .action.error .duration {
  color: #D91D1D;
}

.test-center .test-report .test .actions .action .status {
  display: none;
  position: absolute;
  left: 40px;
  top: 0px;
  font-size: 25px;
  bottom: 0px;
  padding: 0 10px;
}

.test-center .test-report .test .actions .action:hover {
  background: rgba(0,0,0,0.01 );
}

.test-center .test-report .test .actions .action.success {
  border-right: 2px solid rgba(145, 187, 4, 1);
  color: #7AA017;
}

.test-center .test-report .test .actions .action.error {
  border-right: 2px solid #D91D1D;
  color: #D91D1D;
}
