body {
  overflow:hidden;
}

#container {
  width: 1210px;
}

#header {
  font-family: 'Palatino Linotype', 'Merriweather';
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  z-index: 5000;

  background: #2F2B27;
  color: rgba(255,255,255, 0.7);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  overflow: auto;
}

#header .header-container {
  width: 1130px;
  margin-left: 80px;
  overflow: auto;
}

#header .logo {
  -webkit-transition: color 200ms linear;
  float: left;
  height: 40px;
  margin-right: 40px;
}

#header .menu {
  float: left;
  overflow: auto;
}

#header .menu a {
  -webkit-transition: color 200ms linear;
  padding: 0 10px;
  display: block;
  float: left;
  height: 40px;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: bold;
}

#header .menu a:hover, #header .menu a.active {
  /*background: #000;*/
  color: #fff;
}

#header a {
  border: none;
  color: rgba(255,255,255, 0.5);
}

#header a:hover {
  color: rgba(255,255,255, 0.9);
}

#header .actions {
  font-family: "Open Sans";
  float: right;
  overflow: auto;
}

#header .user-status {
  float: right;
  display: block;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Open Sans";
  overflow: auto;
}

#header .user-status #user_login_form {
  overflow: auto;
  height: 40px;
}

#header .user-status #user_login_form input {
  border-radius: 3px;
  color: #444;
  padding: 0 5px;
  width: 150px;
  margin: 5px 0;
  margin-right: 5px;
  height: 30px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  float: left;
  background: rgba(255,255,255, 0.9);
  border: none;
  
  -webkit-font-smoothing: antialiased;
}

#header .user-status #user_login_form input.submit {
  width: 80px;
  background: #828181;
  color: white;
}

#header .user-status #user_login_form input.submit:hover {
  background: #999;
}

#header .user-status .username {
  float: left;
  height: 40px;
}

#header .user-status a {
  height: 40px;
  float: left;
  display: block;
}

#header .user-status a.logout {
  width: 30px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms linear;
  background: url(../images/icons/menu-logout.png) 10px center no-repeat;
}

#header .user-status a.logout:hover {
  opacity: 1;
}

#header .user-status a.new-document {
  position: relative;
  -webkit-transition: background 200ms linear;
  -webkit-transition: color 200ms linear;
  margin: 5px 0;
  margin-right: 20px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  /*background: rgba(0,0,0, 0.8);*/
  border-radius: 3px;
  /*font-size: 13px;*/
  font-weight: bold;
  color: rgba(255,255,255,0.7);

  /*background: rgba(0,0,0, 0.3);*/
  background: rgba(0,0,0, 0.5);

  padding-left: 35px;
}

#header .user-status a.new-document .icon {
  width: 25px;
  position: absolute;
  left: 5px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: opacity 200ms linear;
  background: url(../images/icons/plus-white.png) center no-repeat;
  opacity: 0.7;
}

#header .user-status a.new-document:hover .icon {
  opacity: 1.0;
}

#header .user-status a.new-document:hover {
  color: rgba(255,255,255, 1);
  background: rgba(0,0,0, 1);
}

#help {
  padding-top: 50px;
  text-align: center;
}


/* Login / Signup
-------------------------------------------------------------------------------*/

#login {
  width: 380px;
  margin: 0px auto;
  margin-top: 100px;
}

#login .error-message {
  text-align: center;
  color: #CB0011;
  height: 40px;
}

#login h1 {
  font-family: 'Palatino Linotype', 'Merriweather';
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

#login .centered-form {
  padding: 50px;
  background: rgba(255,255,255, 0.6);
  border: 1px solid #ccc;
  border-radius: 5px;
}

#login .label {
  text-align: center;
  font-size: 16px;
}

#login input {
  padding: 0 10px;
  height: 35px;
  margin: 15px 0;
  display: block;
  width: 100%;
}

#login #login_submit {
  opacity: 0.8;
  color: rgba(0,0,0, 0.7);
  height: 35px;
  background: #65BC19;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#login #login_submit:hover {
  opacity: 1.0;
}

#login .sign-up {
  font-size: 16px;
  text-align: center;
}

#login .sign-up a {
  /*border: none;*/
  font-weight: bold;
}


/* Dashboard
-------------------------------------------------------------------------------*/

#dashboard {
  padding-top: 60px;

  width: 1200px;
  margin-left: 80px;
}

#dashboard #documents {

}

#dashboard #documents .document {
  float: left;
  position: relative;
  width: 200px;
  height: 280px;
  background: #fff;
  margin-right: 10px;

  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
}

#dashboard #documents .document .title {
  padding: 10px;
  font-family: 'Palatino Linotype', 'Merriweather';
  font-size: 16px;
}

#dashboard #documents .document .author {
  padding: 0 10px;
  font-size: 14px;
}

#dashboard #documents .document .author a {
  border: none;
}

#dashboard #documents .document .updated-at {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 12px;
  color: #777;
}

/* Editor
-------------------------------------------------------------------------------*/

#document_menu {
  background: #F0F1EB;
  position: fixed;
  top: 40px;
  left: 0px;
  right: 0px;
  z-index: 10000;
}


#document_menu .document-menu-wrapper {
  height: 70px;
  width: 1130px;
  margin-left: 80px;
  /*overflow: auto;*/
}

#document_menu .navigation {
float: left;
}

#document_menu .actions {
  float: left;
  margin-right: 40px;
}

#document_menu .toggles {
  float: left;
}

#document_menu .navigation a {
  line-height: 40px;
  font-weight: bold;
  padding: 0 10px;
  padding-left: 35px;
  margin-top: 15px;
  float: left;
  background: rgba(0,0,0,0.1);
  border: none;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 3px;
  position: relative;
}

#document_menu .navigation a .icon {
  position: absolute;
  left: 7px;
  top: 0px;
  width: 25px;
  bottom: 0px;
  background-image: url(../images/icons/discussion.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

#document_menu .actions a {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  background-color: rgba(0,0,0, 0.1);
}


#document_menu .actions a.disabled {
  pointer-events: none;
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}

#document_menu .actions a.undo .icon {
  background-image: url(../images/icons/undo.png);
}

#document_menu .actions a.redo .icon {
  background-image: url(../images/icons/redo.png);
}

#document_menu .toggles a.settings .icon {
  background-image: url(../images/icons/settings.png);
}

#document_menu .navigation a.active, #document_menu .navigation a:hover {
  background-color: rgba(0,0,0, 0.2);
}

#document_menu .toggles .toggle a {
  border: none;
}


#document_menu .error-message {
  position: absolute;
  left: 500px;
  top: 25px;
  font-weight: bold;
  color: #93101B;
}

/* Publish State */

#document_menu .publish-state a {
  border: none;
}

#document_menu .publish-state {
  position: relative;
  float: right;
  width: 230px;
  background-color: rgba(0,0,0, 0.1);
  -webkit-transition: background-color 0.4s linear;
  margin: 15px 0;
  height: 40px;
  border-radius: 3px;
  /*box-shadow:         0px 1px 0px rgba(255,255,255,0.50), inset 0px 1px 0px rgba(255,255,255,0.15);*/
}


#document_menu .publish-state.published {
  background-color: #9FB22B;
}

#document_menu .publish-state.dirty {
  background-color: #9FB22B;
}


#document_menu .publish-state .icon {
  background-image: url(../images/icons/locked.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  left: 10px;
  opacity: 0.6;
}

#document_menu .publish-state.dirty .icon {
  background-image: url(../images/icons/neutral.png);
}

#document_menu .publish-state.published .icon {
  background-image: url(../images/icons/smile.png);
}

#document_menu .publish-state a.toggle-publish-actions {
  display: block;
  float: right;
  background-color: rgba(0,0,0,0.2);

  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  position: relative;
  width: 40px;
  height: 100%;
  border: none;
}

#document_menu .publish-state .publish-document .icon {
  background-image: url(../images/icons/smile.png);
}

#document_menu .publish-state .unpublish-document .icon {
  background-image: url(../images/icons/cry.png);
}

#document_menu .publish-state a.toggle-publish-actions:hover {
  background-color: rgba(0,0,0,0.3);
}

#document_menu .publish-state a.toggle-publish-actions .icon {
  background-image: url(../images/icons/dropdown.png);
  top: 8px;
  left: 8px;
}

#document_menu .publish-state .state {
  position: absolute;
  left: 45px;
  top: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.6);
  font-size: 12px;
}

#document_menu .publish-state .message {
  position: absolute;
  left: 45px;
  top: 18px;
  font-size: 11px;
}

#document_menu .publish-state .action {
  display: block;
  float: right;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 10px;
  margin-right: 3px;
  margin-top: 2px;
  font-weight: bold;
  color: rgba(0,0,0, 0.5);
}


#document_menu .publish-state .publish-actions {
  display: none;
  position: absolute;
  left: 0px;
  width: 230px;
  top: 40px;
  background: #fff;
}

#document_menu .publish-state .publish-actions a {
  display: block;
  border: none;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  padding-left: 50px;
  position: relative;
}

#document_menu .publish-state .publish-actions a:hover {
  background: rgba(0,0,0, 0.05);
}


#document_menu .publish-state .publish-actions a.publish-changes {

}

/* Shelf */

#document_shelf {
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.6s;
  background: #F0F1EB;
  overflow: hidden;
}

#document_shelf .shelf-content {
  width: 1130px;
  margin-left: 80px;
}

#document_wrapper {
  margin-left: 80px;
  width: 1130px;
  position: relative;
  margin-top: 110px;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.6s;
}
