#card_file {
  overflow: auto;
  margin: 0px 0px 0px 0px;
  min-height: 100px;
  margin-left: 80px;
  color: #635849;
  font-size: 13px;
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 3000;

  background: white;
  h1 {
    margin-top: 10px;
    font-size: 22px;
    padding: 0;
    color: #635849;
  }

  .avatar {
    width: 120px;
  }

  img {
    margin: 3px 0;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    -moz-box-shadow:    0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
    box-shadow:         0px 1px 4px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.15);
  }

  .username {
  }

  .container {
    background: white;
    padding: 20px;
    width: 250px;
  }

  .attributes {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  .attributes span {
  }

  em {
    color: #888;
  }
}

#user_profile #results {
  margin-left: 360px;
  padding-top: 40px;
}