#user_status {
  float: right;
  margin-right: 80px;
  
  input {
    .ui-font;
    width: 100px;
    margin: 5px;
    height: 25px;
    margin-left: 5px;
    float: left;
    color: #eee;
    font-weight: normal;
    
    border: 1px solid #555;
    background: #000;
    
    font-size: 15px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
  }

  input::-webkit-input-placeholder {
    color:    #777;
  }

  input:-moz-placeholder {
    color:    #777;
  }

  input:focus, input:hover {
    border: 1px solid #777;
  }

  input[type=submit] {
    color: #aaa;
    background: #333;
    width: auto;
    font-weight: normal;
    line-height: 25px;
    font-size: 14px;
    margin-right: 30px;
  }

  input[type=submit]:hover {
    color: #eee;
    border: 1px solid #555;
    background: #000;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    float: left;
    position: relative;
  }
  
  a {
    padding: 0 0px;
    display: block;
    color: #fff;
    opacity: 0.5;
    border-bottom: none; 
    display: inline-block;
    font-style: normal;
    
    &:hover { opacity: 1.0; }
  }
  
  .notifications {
    .icon("rss", "white", "12");
    opacity: 0.5;
    position: relative;
    margin-right: 10px;
    
    .count {
      font-size: 12px; line-height: 16px;
      font-style: normal;
      margin-left: -2px;
      line-height: 25px;
      padding: 0 4px;
      color: #fff;
      background: #000;
      .border-radius(2px);
    }
  }
  &.notifications-active .notifications, .notifications:hover {
    opacity: 1;
  }
  .user-profile {
    img {
      vertical-align: middle;
    }
  }

  .user-settings { 
    .icon("cog_alt", "white", "12");
    opacity: 0.5;
    &:hover { opacity: 1.0; }
  }
  .logout { 
    .icon("eject", "white", "12");
    opacity: 0.5;
    &:hover { opacity: 1.0; }
  }

  &.notifications-active #event_notifications {
    display: block;
  }
}

#event_notifications {
  background: #2b2b2b;
  font-style: normal;
  position: absolute;
  top: 35px; left: 0;
  width: 320px;
  display: none;
  z-index: 10000000;
  
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

  &.active {
    display: block;
  }
  a { margin: 0; }
  strong {
    font-weight: bold;
  }

  div.notification {
    padding-top: 10px;
    font-size: 12px; line-height: 18px;
    margin-left: 0px;
    img {
      padding: 9px;
    }
    .message {
      color: #666;
      padding: 0 5px;
      margin-left: 45px;
    }
    &:hover .message { color: #444; }
    .timestamp {
      color: #888;
      font-size: 12px;
      padding: 0 5px;
      margin-left: 45px;
    }
    &:hover .timestamp { color: #666; }
    
    /* Highlight unread notifications */
    &.unread { background: rgba(0,0,0,0.05); }
    img { float: left; }
  }
}

