#user_status {
  float: right;
  margin-right: 80px;
  
  input {
    width: 100px;
    margin: 0;
    margin-left: 10px;
    float: left;
  }
  input[type=submit] {
    background: #8C8C84;
    width: auto;
    font-weight: normal;
    font-size: 12px;
  }
  input[type=submit]:hover {
    background: #70706B;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    float: left;
    position: relative;
  }
  
  a {
    padding: 0 5px;
    display: block;
    color: #eee; border-bottom: none; display: inline-block;
    &:hover { background: #000; }
  }
  
  .notifications {
    .icon("rss");
    position: relative;
    
    .count {
      font-size: 12px; line-height: 16px;
      font-style: normal;
      margin-left: -2px;
      line-height: 25px;
      padding: 0 4px;
      color: #fff;
      background: #000;
      .border-radius(2px);
    }
  }
  &.notifications-active .notifications, .notifications:hover {
    background-color: #000;
    .count { background-color: #293335; }
  }
  .user-profile {
    img {
      vertical-align: middle;
    }
  }
  .user-settings { .icon("cog_alt"); }
  .logout        { .icon("eject"); }
  .signup {
    color: #777;
    padding-top: 10px;
    text-align: right;
    font-style: normal;
  }
  .new-doc {
    .icon("plus");
  }
  
  #event_notifications {
    position: absolute;
    top: 30px; left: 0;
    width: 320px;
    display: none;
  }
  &.notifications-active #event_notifications {
    display: block;
  }
}

#event_notifications {
  background: #C0C1BD;
  font-style: normal;
  position: absolute;
  top: 34px;
  right: 0px;
  z-index: 10000000;
  
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  
  display: none;

  &.active {
    display: block;
  }
  a { margin: 0; }
  strong {
    font-weight: bold;
  }

  div.notification {
    padding-top: 10px;
    font-size: 12px; line-height: 18px;
    margin-left: 0px;
    img {
      padding: 9px;
    }
    .message {
      color: #666;
      padding: 0 5px;
      margin-left: 45px;
    }
    &:hover .message { color: #444; }
    .timestamp {
      color: #888;
      font-size: 12px;
      padding: 0 5px;
      margin-left: 45px;
    }
    &:hover .timestamp { color: #666; }
    
    /* Highlight unread notifications */
    &.unread { background: rgba(0,0,0,0.05); }
    img { float: left; }
  }
}

