/*
 Helpers
----------------------
*/

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

/*
 Common Styles
----------------------
*/

header, footer, section, nav { display:block; }

html { margin: 0; padding: 0;}

body { 
  margin: 0; padding: 0;
  background: #F0F1EB; color:#444; 
  text-rendering: optimizeLegibility;
  /*  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;*/
  font-family:"HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size:14px; 
  
  line-height:1.5em;
}

a { color: #252519; text-decoration: none; }
a:hover { text-decoration: none; color: #19469D; }
/*a:visited { color: #261a3b; }*/

p { margin: 0 0 10px 0; }

p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.041em;
  font-weight: 400;
}

h1 {
  font-size: 40px;
}


/* Meta Data DT DD */

dl
{
	margin: 2em 0;
	padding: 0;
}

dt
{
	position: relative;
	left: 0;
	top: 20px;
	width: 100px;
}

dd
{
  /*  border-left: 1px solid #000;*/
  color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
	margin: 0 0 0 120px;
  padding: 0;
}


/*
-----------------------------------------
 Layout
-----------------------------------------
*/


/* Main container */
#container {
/*  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;*/
}

#documents { margin-left: 330px; }

#facets { float: left; width: 300px; }

#document_wrapper {
/*  display: none;*/
  background: #e2e3db;
  position: absolute;
  top: 50px;
  left: 70px;
  right: 70px;
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#document_wrapper #document {
  padding: 20px;
  background: white;
  margin-right: 300px;
  -webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.3);
}

#document_wrapper #attributes {  
    position: absolute;
    right: 0px;
    top: 0px;
    width:300px;
    padding:10px 15px 10px 15px;
    min-height: 200px;
    z-index:10;  
}


/*
 Shelf
----------------------
*/

#sbs_shelf {
  position: fixed;
  height: 0px;
  width: 100%;
  background: #e0e1db;
  -webkit-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.25);
  -moz-box-shadow:    inset 0px 2px 6px rgba(0,0,0,0.25);
  box-shadow:         inset 0px 2px 6px rgba(0,0,0,0.25);
  z-index: 1000;
}

#sbs_shelf.open {
  height: 250px;
}

#sbs_shelf.closed #sbs_shelf_content {display: none; }

#sbs_shelf a { color: #fff; }

#sbs_header {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: -30px;
  color: #585a4f;
  font-size: 12px;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
  background: #e5e6e0;
  
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow:    0px 1px 2px rgba(0,0,0,0.25);
  box-shadow:         0px 1px 2px rgba(0,0,0,0.25);
  
  z-index: 10000;
  overflow: hidden;
}

#sbs_header #logo span {
  font-weight: bold;
  color: #373737;
  width: 260px;
}

#sbs_header .header-icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-indent: -5000px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border-left: 1px solid #eaeae5;
  opacity:0.5;
  -webkit-transition: all 0.15s ease-in-out;
}

#sbs_header .header-icon:hover {
  /*background-color: rgba(255,255,255,1);*/
  opacity:1;
}

#sbs_header .label {
  display: block;
  float: left;
  height: 30px;
  padding: 0 10px 0 15px;
  color: #929292;
  line-height: 32px;
}

#sbs_header .label strong {
  color: #373737;
}

#browser_toggle {
  float: left;
  height: 30px;
  padding: 0 5px 0 0;
  cursor:pointer;
  -webkit-transition: all 0.15s ease-in-out;
}

#browser_toggle:hover {
/*  background: rgba(255,255,255,0.8);*/
  background-color:#ebebe5;
}

#sbs_header.browser #browser_toggle {
  background: #f0f1eb; /*rgba(255,255,255,1);*/

/*  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.35);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.35);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.35);*/
}

#document_toggle {
  float: left;
  height: 30px;
  padding: 0 5px 0 0;
  cursor:pointer;
  -webkit-transition: all 0.15s ease-in-out;
}

#document_toggle:hover {
/*  background: rgba(255,255,255,1);*/
  background-color:#ebebe5;
/*  color: #000;*/
}

#sbs_header.document #document_toggle {
  background: #f0f1eb; /*rgba(255,255,255,1);*/
  
/*  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.35);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.35);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.35);*/
}

#collaborators_toggle {
  float: left;
  height: 30px;
  padding: 0 5px 0 0;
  cursor:pointer;
  -webkit-transition: all 0.15s ease-in-out;
}

#collaborators_toggle:hover {
  background-color:#f0f1eb;
}

#sbs_header.collaborators #collaborators_toggle {
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.35);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.35);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.35);
}

#login_state {
  float: right;
  height: 30px;
  cursor:pointer;
  -webkit-transition: all 0.15s ease-in-out;
}

/*#login_state:hover {
  background-color:#f0f1eb;
}*/

#sbs_header.login #login_state {
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.35);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.35);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.35);
}


#sbs_header .header-icon.browser {
  border-left: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALlJREFUeNpi/P//P8NAACaGAQKjFo9aPPwsZiGkQECA/z8rKyuc//fvX4afP38Wf/36rY8YeZwAVIDgwxoaakDq/34Q/vr160EjI/3/SkoK/4mVx4UJWqyrq41sCDvIApDhxMrjwgTj+Pfv38jcn0Ds+Pv3H6LlqZq40CwjWZ6oxAVKOKqqSv8/fPgETWx8DJycXETL4wKMRNRO+3GIOxIpT7bFo/l4NB+P5uPRfDzaAhm1eIRYDBBgAAbTzjjWIfSIAAAAAElFTkSuQmCC);
}

#sbs_header .header-icon.new-document {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAW1JREFUeNpi/P//P8NAAMZRi0ctHrWYrhYLCPD/Z2VlxRD/+/cvw79//2qAZtT9+vU74vv37+uJtZiFGEVycrJAy/kwxL99+8Zw5syFhzo6mmzfv/9Yw8vLk/b585e5VLMYZKmIiDCG+Lt3TCBqiYCAwGIREWYmZmbmOfz8fPwfP37qo4rFuAAwmME0ExMjA9BCBkZGRgZgsPcChWhrMQwcOnTsAIzd1NSoRLXEZWdn9R9bUAODlOHZsxcMf/78ZmBhYWVgY2Nl+P37N8O1azcZqe5jkMGbN+8A+9DDw9lBSkoCLAYCwDhmACYu6qVq1JT8HUQ5Qhzx5z8obtGzGFUtRvYpDOzdexDM9/X1cMCWz6liMbJPkYAjVA7oc9IsZiJFsaqq0n9QKYZcooHEyMkJRPuYi4sTXIJxcnKhlGiiosJgOZpZDIpDWHDCfAmyGD1xUd1idJ/D2LSuFveTaK7jaENg1OJRi+kGAAIMADVPrcg0ppKgAAAAAElFTkSuQmCC);
}

#sbs_header .header-icon.save-document {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfJJREFUeNpi/P//P8NAACaGAQKjFo9aPPwsZiFGkYAA/39WVlYM8b9//zL8+/evBlgW1P369Tvi+/fv66lqsZycLNByPgzxb9++MZw5c+Ghjo4m2/fvP9bw8vKkff78ZS4VfczHICIijCH+7h04ppYICAgsFhFhZmJmZp7Dz8/H//Hjpz6qWIwLAIMZklCYGBmAFjIwMjIyAIO9FyhEW4th4NChYwdg7KamRiVi9DASU0nY2Vn9xxbUwCBlePbsBcOfP78ZWFhYGdjYWBl+//7NcO3aTUaa+piTk5NBU1Pjx+vXrzhAwQyMYwZg4qJtPgaFlIKCwseFCxdvi4iIfCAoKMggKCjAwMXFSV2L//79x+Ds7PoImIK/gxKVlJT0x46OnmW8vHwxZ8+euw0KbqoXICDfSUhIfsrOzmt5+PCB59y5cyzKyio28PDwFEpKivdISUm6SkiIUd/if//+M9y4cZ1PRUXR8M6d+2lNTS2JQOFJYmKiPWJiIjmgIMZWslFsMSifcnCwA+OPKxNoGcOrV6+zREVFesXFRXMkJMQZeHi4gWqYqG8xKMWCUjDQImCwM2TKy8vaA4NWS1xcjCxLScpOIMO5ubmBiYqZQVhYUIudnR3oGA6yLCW6AAGC/SSa60gti0dbIKMWj1pMEAAEGAB8Hp2bhFXJhAAAAABJRU5ErkJggg==);
}

#sbs_header .header-icon.user {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhtJREFUeNrslr9v01AQx89+sZ8H28WJEwllIkrV1oy0RW2zRupWGjYQQxn7J4St7OxITAiYYWFAYmBAYkcKKENbVW2VtiJWYycprn9wl8oDokFqaquLT3py9BTnc3fvvt8XIYoiuIkQ4YYiA2fg1CI3yUuMiUwUWV0QBAjDcM/3/dZVf0O4io5lWb6jKPyVoigznPOyKIrg++cwHA5bg8Fw8+zs95fEwQjMm2bhRz5vlFRVBc5luAD74Lp96HZtt9M5nsUkDhJtdbVarSuKXCoWTaocoQJQqylxTVNBkiQV95/hVzcTHa5Go2FomkaV0xmPoKOW4ZMSmZrSoVKprCQ+1Vtbz78yxsIYeMnAQa1W66Qhp+94xoNxMxEEYbS+/vBNKjqenp7ZDoLgn31KxjSLfcuy3qcCnp9f+OB555dUG4Bl3f2JH51UwGtrD14vLa0comn8Va1hFPobG09fpmaZhnFrp91ud0i7cYRhhDp2vWaz+TFx50KneiLLUl3X9dVy+XbxQstSPFRg2zbs7x/aaCKfPM9r4XG8wOTca4FRu48KBeMt6ZSMglyLtEyuFbcaYeA47mhh9dDrue+Ojo4fXwu8uLjwjfPcfV3XIJeTRnodIydcPqBnw8nJr2B3d6/kOE53ojPGKlkUBfeoWrwUxkJjAyEHowRxsbm52eWJvfr0tEft+IyLT3B7HiR2LWZ/fTJwBv5f/BFgABFM1SVgYgemAAAAAElFTkSuQmCC);
}

#sbs_header .header-icon.login {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWtJREFUeNpi/P//P8NAACaGAQKjFg8di1lZWaV5eXlWCAkJPgFhEBskRkgfIyWpmoODQx1o2XEgFuTm5gKLff36jeHdu/fvgdjmx48f12jiY3l52T5paUlBT0+P1zt27DoKwiA2SExeXq4Pr2aQj8nFxsaGPxwcbP4/efK4E8jnBWEQ28HB9r+Rkf5PfHqZKItfZnY2NrY/0tIyLUDuZxAGsdnYWP8AxdlolriYmVkY/v79xwC1FAY+g8SYmZlpm6qxpU1i0uvIK0AI5mM+Pt69wHTixMjIiCIuIMDHICsrw/Dv3z+GO3fu7Xvy5JkzkvQWIOYGYkdc5rIQcpm0tJQTsIAAJhYm9BKLgYuLE5i4/jIA5Z3QtPkQMpegxSBLxcREGNB9DDeAhYWBl5eX+nEM8ikuS8FxBZRDD43RanFoWaylpf3u3z/cWQ4kB1JD9XwMBJ1AbEZAzSkgLqe2xaOJa9TiUYuJAgABBgAXQLEYn7/pwQAAAABJRU5ErkJggg==);
}

#sbs_header .header-icon.logout {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVZJREFUeNrsVc1Kw0AQnmSTzU8NssUeZE2CUBDqQdqCpwrBk30iX8BLL30OH6EIHkXwAXwBcxPSQ6lE2G7ciXqzmkBCEXbgg9mZj/mYzWTWKIoCdmEm7Mi0sBbWwmDbNg+Cvdtul6UI9DFWt45RZ4G4rnuixB4VWKfjl7H1+g2ybLlUmOR5/txKx3Eczjk/ZNPp1eticfeAQB9jcRzNa7WMHVfFeDzMk2RSpOnLTJ0DBPpJclGMRmfvdWqZ9b4vcSilgvOjG3VcIdCn1BYqTlsbLkIs2GwkfIl+2wpjhJB2pjoM+b1to7Cw+v3jotc7KIE+xjCHnKr1rKpExtil53lgmiZEUQhCiM8ClgW+74OUsuQ0Lqz+V3AcCoZhAKX7Pw4pchq/akLMUnTrQlA55Ohd/X+FB4PTTMrtex1zyGnjkZgpnP/BeVK4bvx10sOlhbXwb/YhwADyY7E14g6ocwAAAABJRU5ErkJggg==);
}


#sbs_shelf_content { overflow: auto; color: #444; padding: 20px; }

#sbs_shelf_content input { border: none; padding: 4px; }

#sbs_shelf_content input[disabled=disabled] {
  background: #aaa;
  color: #000;
}

/*
-----------------------------------------
 Facets
-----------------------------------------
*/

#facets {
  /*  background: #ccc;*/
}

#facets .list { padding: 10px; overflow: auto; }

#facets .facet h3 { color: #888; padding: 3px; text-transform: uppercase; font-weight: bold; font-size: 11px; margin-top: 1px; }
#facets .facet:hover h3 { color: black; }

#facets .facet { float: left; margin-right: 10px; width: 230px; }

#facets .facet ul { margin: 0px; padding: 0px; }
#facets .facet.selected ul { display: block; }
#facets .facet li { list-style: none; margin: 0; padding: 0.25em; overflow: auto; float: left; }

#facets .facet li a { 
  display: block; 
  color: #8a8d7d; 
  font-size: 11px; 
  white-space: nowrap;
  background: #e0e1db;
  padding: 0px 4px;
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
}

#facets .facet li a:hover { text-decoration: none; background: #d1d5bb; color: #fff; }

#facets .facet li a span { color: #ccc; margin-left: 5px; font-size: 8px; padding: 3px 4px; background: #fff; 
  -webkit-border-radius:4px;
  -moz-border-radius:   4px;
  border-radius:        4px;
}


#facets .facet .facet-choices { overflow: auto; }
#facets .facet li.facet-choice { color: #888; }
#facets .facet li.facet-choice.selected { color: white;  }
#facets .facet li.facet-choice.selected a { color: white; background: #8cbb2f;}


/*
-----------------------------------------
 Documents (Results)
-----------------------------------------
*/

/* Documents */

#documents {
  padding: 20px;
}

#documents .list {
  background: #ccc;
}

#documents .document {
  float: left;
  position: relative;
  width: 250px;
  height: 77px;
}

#documents .document a.link {
  padding: 10px;
  display: block;
/*  width: 250px;*/
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

#documents .document a.link:hover { 
  text-decoration: none;
  background: #e0e1db;
  -webkit-border-radius:7px;
  -moz-border-radius:   7px;
  border-radius:        7px;
}

#documents .document > a.link .icon {
  float: left;
  margin-right: 10px;
}

#documents .document > a.link .content {
  float: left;
  overflow: hidden;
}

#documents .document > a.link .content h5 {
  color: #282a2a;
  font-size: 13px;
  margin: 0; padding: 0;
}


#documents .document > a.link .content .meta {
  margin: 0;
  padding: 0;
  font-size: 11px;
  color: #8a8d7d;
}
